SmileSPresentation/SmileSPettyCash/Connected Services/DataCenterAddressService/AddressService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://uat.siamsmile.co.th:9204/Module/Address/AddressService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" />
  <xs:element name="GetProvince">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provinceId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetProvinceResult" nillable="true" type="q1:ArrayOfusp_Province_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvince2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provinceId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvince2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetProvince2Result" nillable="true" type="q2:ArrayOfusp_Province2_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provinceId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetDistrictResult" nillable="true" type="q3:ArrayOfusp_District_ByProvinceID_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubDistrict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="districtId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubDistrictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetSubDistrictResult" nillable="true" type="q4:ArrayOfusp_SubDistrict_ByDistrictID_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetBranchResult" nillable="true" type="q5:ArrayOfusp_Branch_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZipCodeBySubDistrictID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subDistrictId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZipCodeBySubDistrictIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetZipCodeBySubDistrictIDResult" nillable="true" type="q6:usp_SubDistrict_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressDataBySubDistrictSelectResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subDistrictId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressDataBySubDistrictSelectResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetAddressDataBySubDistrictSelectResultResult" nillable="true" type="q7:usp_SubDistrict_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="districtId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetDistrictSelectResult" nillable="true" type="q8:usp_District_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>