SmileSPresentation/SmileSPettyCash/Connected Services/DataCenterAddressService/AddressService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfusp_Province_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_Province_Select_Result" nillable="true" type="tns:usp_Province_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_Province_Select_Result" nillable="true" type="tns:ArrayOfusp_Province_Select_Result" />
  <xs:complexType name="usp_Province_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProvinceDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Province_Select_Result" nillable="true" type="tns:usp_Province_Select_Result" />
  <xs:complexType name="ArrayOfusp_Province2_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_Province2_Select_Result" nillable="true" type="tns:usp_Province2_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_Province2_Select_Result" nillable="true" type="tns:ArrayOfusp_Province2_Select_Result" />
  <xs:complexType name="usp_Province2_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProvinceDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Province2_Select_Result" nillable="true" type="tns:usp_Province2_Select_Result" />
  <xs:complexType name="ArrayOfusp_District_ByProvinceID_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_District_ByProvinceID_Select_Result" nillable="true" type="tns:usp_District_ByProvinceID_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_District_ByProvinceID_Select_Result" nillable="true" type="tns:ArrayOfusp_District_ByProvinceID_Select_Result" />
  <xs:complexType name="usp_District_ByProvinceID_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="DistrictDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="District_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_District_ByProvinceID_Select_Result" nillable="true" type="tns:usp_District_ByProvinceID_Select_Result" />
  <xs:complexType name="ArrayOfusp_SubDistrict_ByDistrictID_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_SubDistrict_ByDistrictID_Select_Result" nillable="true" type="tns:usp_SubDistrict_ByDistrictID_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_SubDistrict_ByDistrictID_Select_Result" nillable="true" type="tns:ArrayOfusp_SubDistrict_ByDistrictID_Select_Result" />
  <xs:complexType name="usp_SubDistrict_ByDistrictID_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="District_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubDistrictDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubDistrict_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_SubDistrict_ByDistrictID_Select_Result" nillable="true" type="tns:usp_SubDistrict_ByDistrictID_Select_Result" />
  <xs:complexType name="ArrayOfusp_Branch_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_Branch_Select_Result" nillable="true" type="tns:usp_Branch_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_Branch_Select_Result" nillable="true" type="tns:ArrayOfusp_Branch_Select_Result" />
  <xs:complexType name="usp_Branch_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BranchDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CreateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tempcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Branch_Select_Result" nillable="true" type="tns:usp_Branch_Select_Result" />
  <xs:complexType name="usp_SubDistrict_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="District_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubDistrictDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubDistrict_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_SubDistrict_Select_Result" nillable="true" type="tns:usp_SubDistrict_Select_Result" />
  <xs:complexType name="usp_District_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="DistrictDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="District_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_District_Select_Result" nillable="true" type="tns:usp_District_Select_Result" />
</xs:schema>