SmileSPresentation/SmileSReport/Service References/PAClaimReportService/ClaimService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://uat.siamsmile.co.th:9211/Module/Claim/ClaimService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" />
  <xs:element name="CreateClaimPA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_customerdetailID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_hospitalID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_claimtypeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_claimstyleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_datehappen" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_datein" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_dateout" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_datenotice" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_productID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_insurancecompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_chiefcomplainID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_statusID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_createdbyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_amounttotal" type="xs:double" />
        <xs:element minOccurs="0" name="_amountpay" type="xs:double" />
        <xs:element minOccurs="0" name="_amountunpay" type="xs:double" />
        <xs:element minOccurs="0" name="_amountcompensatein" type="xs:double" />
        <xs:element minOccurs="0" name="_amountcompensateout" type="xs:double" />
        <xs:element minOccurs="0" name="_amountcompensate" type="xs:double" />
        <xs:element minOccurs="0" name="_amountnet" type="xs:double" />
        <xs:element minOccurs="0" name="_createdbybranchID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_claimpaybyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_continuefromclaimID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_accidentcauseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_accidentdetail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ICD10_1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ICD10_2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ICD10_3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_remark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_approvedbyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_denycauseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_unpayremark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_claimheadergroupID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hospitalClaimInformCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_iscontinueclaim" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="_approveddate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_isexgratia" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClaimPAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateClaimPAResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusClaimNotUse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClaimID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusClaimNotUseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusClaimNotUseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimGivePowerReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimGivePowerReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" minOccurs="0" name="ClaimGivePowerReportResult" nillable="true" type="q1:usp_ClaimGivePowerReport_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimPAReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClaimHeaderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimPAReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" minOccurs="0" name="ClaimPAReportResult" nillable="true" type="q2:ArrayOfusp_ClaimPAReport_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimCRMCPAReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClaimHeaderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimCRMCPAReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" minOccurs="0" name="ClaimCRMCPAReportResult" nillable="true" type="q3:ArrayOfusp_ClaimCRMCPAReport_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimExpensesPAReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClaimHeaderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimExpensesPAReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" minOccurs="0" name="ClaimExpensesPAReportResult" nillable="true" type="q4:ArrayOfusp_ClaimExpensesPAReport_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimVoucherReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClaimHeaderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimVoucherReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" minOccurs="0" name="ClaimVoucherReportResult" nillable="true" type="q5:ArrayOfusp_ClaimVoucherReport_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimBookAssignPowerReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClaimHeaderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimBookAssignPowerReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" minOccurs="0" name="ClaimBookAssignPowerReportResult" nillable="true" type="q6:ArrayOfusp_ClaimBookAssignPowerReport_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimRejectHospitalReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClaimHeaderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimRejectHospitalReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" minOccurs="0" name="ClaimRejectHospitalReportResult" nillable="true" type="q7:ArrayOfusp_ClaimRejectHospitalReport_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>