SmileSPresentation/SmileSReport/Service References/PAClaimReportService/ClaimService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClaimService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9211/Module/Claim/ClaimService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9211/Module/Claim/ClaimService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9211/Module/Claim/ClaimService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClaimService_CreateClaimPA_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateClaimPA" />
  </wsdl:message>
  <wsdl:message name="IClaimService_CreateClaimPA_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateClaimPAResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_UpdateStatusClaimNotUse_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatusClaimNotUse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_UpdateStatusClaimNotUse_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatusClaimNotUseResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_ClaimGivePowerReport_InputMessage">
    <wsdl:part name="parameters" element="tns:ClaimGivePowerReport" />
  </wsdl:message>
  <wsdl:message name="IClaimService_ClaimGivePowerReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClaimGivePowerReportResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_ClaimPAReport_InputMessage">
    <wsdl:part name="parameters" element="tns:ClaimPAReport" />
  </wsdl:message>
  <wsdl:message name="IClaimService_ClaimPAReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClaimPAReportResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_ClaimCRMCPAReport_InputMessage">
    <wsdl:part name="parameters" element="tns:ClaimCRMCPAReport" />
  </wsdl:message>
  <wsdl:message name="IClaimService_ClaimCRMCPAReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClaimCRMCPAReportResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_ClaimExpensesPAReport_InputMessage">
    <wsdl:part name="parameters" element="tns:ClaimExpensesPAReport" />
  </wsdl:message>
  <wsdl:message name="IClaimService_ClaimExpensesPAReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClaimExpensesPAReportResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_ClaimVoucherReport_InputMessage">
    <wsdl:part name="parameters" element="tns:ClaimVoucherReport" />
  </wsdl:message>
  <wsdl:message name="IClaimService_ClaimVoucherReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClaimVoucherReportResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_ClaimBookAssignPowerReport_InputMessage">
    <wsdl:part name="parameters" element="tns:ClaimBookAssignPowerReport" />
  </wsdl:message>
  <wsdl:message name="IClaimService_ClaimBookAssignPowerReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClaimBookAssignPowerReportResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_ClaimRejectHospitalReport_InputMessage">
    <wsdl:part name="parameters" element="tns:ClaimRejectHospitalReport" />
  </wsdl:message>
  <wsdl:message name="IClaimService_ClaimRejectHospitalReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClaimRejectHospitalReportResponse" />
  </wsdl:message>
  <wsdl:portType name="IClaimService">
    <wsdl:operation name="CreateClaimPA">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/CreateClaimPA" message="tns:IClaimService_CreateClaimPA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/CreateClaimPAResponse" message="tns:IClaimService_CreateClaimPA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusClaimNotUse">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/UpdateStatusClaimNotUse" message="tns:IClaimService_UpdateStatusClaimNotUse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/UpdateStatusClaimNotUseResponse" message="tns:IClaimService_UpdateStatusClaimNotUse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClaimGivePowerReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/ClaimGivePowerReport" message="tns:IClaimService_ClaimGivePowerReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/ClaimGivePowerReportResponse" message="tns:IClaimService_ClaimGivePowerReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClaimPAReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/ClaimPAReport" message="tns:IClaimService_ClaimPAReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/ClaimPAReportResponse" message="tns:IClaimService_ClaimPAReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClaimCRMCPAReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/ClaimCRMCPAReport" message="tns:IClaimService_ClaimCRMCPAReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/ClaimCRMCPAReportResponse" message="tns:IClaimService_ClaimCRMCPAReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClaimExpensesPAReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/ClaimExpensesPAReport" message="tns:IClaimService_ClaimExpensesPAReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/ClaimExpensesPAReportResponse" message="tns:IClaimService_ClaimExpensesPAReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClaimVoucherReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/ClaimVoucherReport" message="tns:IClaimService_ClaimVoucherReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/ClaimVoucherReportResponse" message="tns:IClaimService_ClaimVoucherReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClaimBookAssignPowerReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/ClaimBookAssignPowerReport" message="tns:IClaimService_ClaimBookAssignPowerReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/ClaimBookAssignPowerReportResponse" message="tns:IClaimService_ClaimBookAssignPowerReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClaimRejectHospitalReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/ClaimRejectHospitalReport" message="tns:IClaimService_ClaimRejectHospitalReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/ClaimRejectHospitalReportResponse" message="tns:IClaimService_ClaimRejectHospitalReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClaimService" type="tns:IClaimService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateClaimPA">
      <soap:operation soapAction="http://tempuri.org/IClaimService/CreateClaimPA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusClaimNotUse">
      <soap:operation soapAction="http://tempuri.org/IClaimService/UpdateStatusClaimNotUse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClaimGivePowerReport">
      <soap:operation soapAction="http://tempuri.org/IClaimService/ClaimGivePowerReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClaimPAReport">
      <soap:operation soapAction="http://tempuri.org/IClaimService/ClaimPAReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClaimCRMCPAReport">
      <soap:operation soapAction="http://tempuri.org/IClaimService/ClaimCRMCPAReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClaimExpensesPAReport">
      <soap:operation soapAction="http://tempuri.org/IClaimService/ClaimExpensesPAReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClaimVoucherReport">
      <soap:operation soapAction="http://tempuri.org/IClaimService/ClaimVoucherReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClaimBookAssignPowerReport">
      <soap:operation soapAction="http://tempuri.org/IClaimService/ClaimBookAssignPowerReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClaimRejectHospitalReport">
      <soap:operation soapAction="http://tempuri.org/IClaimService/ClaimRejectHospitalReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClaimService">
    <wsdl:port name="BasicHttpBinding_IClaimService" binding="tns:BasicHttpBinding_IClaimService">
      <soap:address location="http://uat.siamsmile.co.th:9211/Module/Claim/ClaimService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>