SmileSPresentation/SmileSReport/Service References/PAClaimReportService/ClaimService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="usp_ClaimGivePowerReport_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="App_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimHeaderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hospital" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ClaimGivePowerReport_Select_Result" nillable="true" type="tns:usp_ClaimGivePowerReport_Select_Result" />
  <xs:complexType name="ArrayOfusp_ClaimPAReport_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_ClaimPAReport_Select_Result" nillable="true" type="tns:usp_ClaimPAReport_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_ClaimPAReport_Select_Result" nillable="true" type="tns:ArrayOfusp_ClaimPAReport_Select_Result" />
  <xs:complexType name="usp_ClaimPAReport_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContinueClaimDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerDetailName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateClaim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hospital_Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceCompany_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Money" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MoneyProduct" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="PolicyNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchoolName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpellMoney" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ClaimPAReport_Select_Result" nillable="true" type="tns:usp_ClaimPAReport_Select_Result" />
  <xs:complexType name="ArrayOfusp_ClaimCRMCPAReport_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_ClaimCRMCPAReport_Select_Result" nillable="true" type="tns:usp_ClaimCRMCPAReport_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_ClaimCRMCPAReport_Select_Result" nillable="true" type="tns:ArrayOfusp_ClaimCRMCPAReport_Select_Result" />
  <xs:complexType name="usp_ClaimCRMCPAReport_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactFax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Coverage2006" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="CreaterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullNameStudent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HostpitalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchoolName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchoolYear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Tambol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ClaimCRMCPAReport_Select_Result" nillable="true" type="tns:usp_ClaimCRMCPAReport_Select_Result" />
  <xs:complexType name="ArrayOfusp_ClaimExpensesPAReport_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_ClaimExpensesPAReport_Select_Result" nillable="true" type="tns:usp_ClaimExpensesPAReport_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_ClaimExpensesPAReport_Select_Result" nillable="true" type="tns:ArrayOfusp_ClaimExpensesPAReport_Select_Result" />
  <xs:complexType name="usp_ClaimExpensesPAReport_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccidentDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bill" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustGrade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateAccident" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateReceive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDPersonalCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceCompany_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsurancePolicyNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoneyClaimExpenses" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="PhoneNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaceAccident" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchoolName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spell" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentIDCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeAccident" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ClaimExpensesPAReport_Select_Result" nillable="true" type="tns:usp_ClaimExpensesPAReport_Select_Result" />
  <xs:complexType name="ArrayOfusp_ClaimVoucherReport_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_ClaimVoucherReport_Select_Result" nillable="true" type="tns:usp_ClaimVoucherReport_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_ClaimVoucherReport_Select_Result" nillable="true" type="tns:ArrayOfusp_ClaimVoucherReport_Select_Result" />
  <xs:complexType name="usp_ClaimVoucherReport_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimAdmitType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimType_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactAddress2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactAddress3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerPay" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Date_End" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date_Issue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Discount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hospital" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICUCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPDCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Net" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Pay" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Pay_Total" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnPay" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="UnPay_Total" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="UnpayRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fClaimHeader" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fDateBetween" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fICU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fIPD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fRef" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ClaimVoucherReport_Select_Result" nillable="true" type="tns:usp_ClaimVoucherReport_Select_Result" />
  <xs:complexType name="ArrayOfusp_ClaimBookAssignPowerReport_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_ClaimBookAssignPowerReport_Select_Result" nillable="true" type="tns:usp_ClaimBookAssignPowerReport_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_ClaimBookAssignPowerReport_Select_Result" nillable="true" type="tns:ArrayOfusp_ClaimBookAssignPowerReport_Select_Result" />
  <xs:complexType name="usp_ClaimBookAssignPowerReport_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressAmphur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressTambol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ClaimBookAssignPowerReport_Select_Result" nillable="true" type="tns:usp_ClaimBookAssignPowerReport_Select_Result" />
  <xs:complexType name="ArrayOfusp_ClaimRejectHospitalReport_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_ClaimRejectHospitalReport_Select_Result" nillable="true" type="tns:usp_ClaimRejectHospitalReport_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_ClaimRejectHospitalReport_Select_Result" nillable="true" type="tns:ArrayOfusp_ClaimRejectHospitalReport_Select_Result" />
  <xs:complexType name="usp_ClaimRejectHospitalReport_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount_UnPay" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Amount_UnPayThaiBahtText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateIn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HospitalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaySS_Total" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaySS_TotalThaiBahtText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiveDocDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ClaimRejectHospitalReport_Select_Result" nillable="true" type="tns:usp_ClaimRejectHospitalReport_Select_Result" />
</xs:schema>