SmileSPresentation/SmileSBankDirectDebit/Connected Services/DataCenterMobileService/MobileService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://uat.siamsmile.co.th:9204/Module/Mobile/MobileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" />
  <xs:element name="GetAddressType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetAddressTypeResult" nillable="true" type="q1:ArrayOfusp_AddressType_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectSource">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetCollectSourceResult" nillable="true" type="q2:ArrayOfusp_CollectSource_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetEmployeeResult" nillable="true" type="q3:usp_Employee_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOccupation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOccupationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetOccupationResult" nillable="true" type="q4:ArrayOfusp_Occupation_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOccupationLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="occupationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOccupationLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetOccupationLevelResult" nillable="true" type="q5:ArrayOfusp_OccupationLevel_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayMethodType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayMethodTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetPayMethodTypeResult" nillable="true" type="q6:ArrayOfusp_PayMethodType_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isSignature" type="xs:boolean" />
        <xs:element minOccurs="0" name="isAdditionalCustomer" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetFinancialBankResult" nillable="true" type="q7:ArrayOfusp_FinancialBank_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBloodType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBloodTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetBloodTypeResult" nillable="true" type="q8:ArrayOfusp_BloodType_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSex">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetSexResult" nillable="true" type="q9:ArrayOfusp_Sex_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaritalStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaritalStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetMaritalStatusResult" nillable="true" type="q10:ArrayOfusp_MaritalStatus_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranch">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetBranchResult" nillable="true" type="q11:ArrayOfusp_GetBranch_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZebraCar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZebraCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetZebraCarResult" nillable="true" type="q12:ArrayOfusp_ZebraCar_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOccupationLevelFromID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="occuId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOccupationLevelFromIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetOccupationLevelFromIDResult" nillable="true" type="q13:ArrayOfusp_OccupationLevel_ByOccupationID_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>