SmileSPresentation/SmileSCustomerBase/Connected Services/LoginService/SmileSLoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:LoginDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginDetail">
        <s:complexContent mixed="false">
          <s:extension base="tns:usp_GetUserDetailByUserName_Result">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Roles" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="usp_GetUserDetailByUserName_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="User_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Person_ID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Employee_ID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeePositionDetail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeTeamDetail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BranchDetail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentDetail" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EmployeeTeam_ID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Branch_ID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Department_ID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EmployeePosition_ID" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLoginDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoginDetailResult" type="tns:LoginDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResetPasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword_SSS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword_SSSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePassword_SSSResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMenuListResult" type="tns:ArrayOfMenuList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMenuList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MenuList" nillable="true" type="tns:MenuList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MenuList">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MenuId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MainMenuId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="projectname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SortOrder" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Detail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Controller" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IconClassName" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoginDetail" />
  </wsdl:message>
  <wsdl:message name="GetLoginDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePassword_SSSSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword_SSS" />
  </wsdl:message>
  <wsdl:message name="ChangePassword_SSSSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePassword_SSSResponse" />
  </wsdl:message>
  <wsdl:message name="GetMenuListSoapIn">
    <wsdl:part name="parameters" element="tns:GetMenuList" />
  </wsdl:message>
  <wsdl:message name="GetMenuListSoapOut">
    <wsdl:part name="parameters" element="tns:GetMenuListResponse" />
  </wsdl:message>
  <wsdl:portType name="SmileSLoginServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginDetail">
      <wsdl:input message="tns:GetLoginDetailSoapIn" />
      <wsdl:output message="tns:GetLoginDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input message="tns:ResetPasswordSoapIn" />
      <wsdl:output message="tns:ResetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword_SSS">
      <wsdl:input message="tns:ChangePassword_SSSSoapIn" />
      <wsdl:output message="tns:ChangePassword_SSSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuList">
      <wsdl:input message="tns:GetMenuListSoapIn" />
      <wsdl:output message="tns:GetMenuListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SmileSLoginServiceSoap" type="tns:SmileSLoginServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginDetail">
      <soap:operation soapAction="http://tempuri.org/GetLoginDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword_SSS">
      <soap:operation soapAction="http://tempuri.org/ChangePassword_SSS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuList">
      <soap:operation soapAction="http://tempuri.org/GetMenuList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SmileSLoginServiceSoap12" type="tns:SmileSLoginServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginDetail">
      <soap12:operation soapAction="http://tempuri.org/GetLoginDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap12:operation soapAction="http://tempuri.org/ResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword_SSS">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword_SSS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuList">
      <soap12:operation soapAction="http://tempuri.org/GetMenuList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmileSLoginService">
    <wsdl:port name="SmileSLoginServiceSoap" binding="tns:SmileSLoginServiceSoap">
      <soap:address location="http://49.231.178.253/Smilesdatacenterv2/webservices/SmileSLoginService.asmx" />
    </wsdl:port>
    <wsdl:port name="SmileSLoginServiceSoap12" binding="tns:SmileSLoginServiceSoap12">
      <soap12:address location="http://49.231.178.253/Smilesdatacenterv2/webservices/SmileSLoginService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>