SmileSPresentation/SmileClaimV1/Service References/ApplicationService_PA/ApplicationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfusp_ApplicationSearch_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_ApplicationSearch_Select_Result" nillable="true" type="tns:usp_ApplicationSearch_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_ApplicationSearch_Select_Result" nillable="true" type="tns:ArrayOfusp_ApplicationSearch_Select_Result" />
  <xs:complexType name="usp_ApplicationSearch_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationYear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EndCoverDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="School" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartCoverDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ApplicationSearch_Select_Result" nillable="true" type="tns:usp_ApplicationSearch_Select_Result" />
  <xs:complexType name="usp_ApplicationSearch_HeaderInfo_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalPages" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRecords" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ApplicationSearch_HeaderInfo_Result" nillable="true" type="tns:usp_ApplicationSearch_HeaderInfo_Result" />
  <xs:complexType name="ArrayOfusp_CustomerSearch_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_CustomerSearch_Select_Result" nillable="true" type="tns:usp_CustomerSearch_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_CustomerSearch_Select_Result" nillable="true" type="tns:ArrayOfusp_CustomerSearch_Select_Result" />
  <xs:complexType name="usp_CustomerSearch_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerDetailID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndCoverDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartCoverDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_CustomerSearch_Select_Result" nillable="true" type="tns:usp_CustomerSearch_Select_Result" />
  <xs:complexType name="ArrayOfusp_CustomerDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_CustomerDetail_Select_Result" nillable="true" type="tns:usp_CustomerDetail_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_CustomerDetail_Select_Result" nillable="true" type="tns:ArrayOfusp_CustomerDetail_Select_Result" />
  <xs:complexType name="usp_CustomerDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="App_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationYear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerDetailStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndCoverDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentityNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LevelRoom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="School" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="School_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartCoverDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_CustomerDetail_Select_Result" nillable="true" type="tns:usp_CustomerDetail_Select_Result" />
  <xs:complexType name="ArrayOfusp_BenefitCoverage_ByBenefitID_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_BenefitCoverage_ByBenefitID_Select_Result" nillable="true" type="tns:usp_BenefitCoverage_ByBenefitID_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_BenefitCoverage_ByBenefitID_Select_Result" nillable="true" type="tns:ArrayOfusp_BenefitCoverage_ByBenefitID_Select_Result" />
  <xs:complexType name="usp_BenefitCoverage_ByBenefitID_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BenefitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Coverage" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="CustomerType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_BenefitCoverage_ByBenefitID_Select_Result" nillable="true" type="tns:usp_BenefitCoverage_ByBenefitID_Select_Result" />
  <xs:complexType name="ArrayOfusp_CustomerBenefitDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_CustomerBenefitDetail_Select_Result" nillable="true" type="tns:usp_CustomerBenefitDetail_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_CustomerBenefitDetail_Select_Result" nillable="true" type="tns:ArrayOfusp_CustomerBenefitDetail_Select_Result" />
  <xs:complexType name="usp_CustomerBenefitDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BenefitDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Coverage" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="CustomerType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_CustomerBenefitDetail_Select_Result" nillable="true" type="tns:usp_CustomerBenefitDetail_Select_Result" />
  <xs:complexType name="usp_CustomerSearch_HeaderInfo_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalPages" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRecords" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_CustomerSearch_HeaderInfo_Result" nillable="true" type="tns:usp_CustomerSearch_HeaderInfo_Result" />
  <xs:complexType name="ArrayOfusp_ApplicationYear_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_ApplicationYear_Select_Result" nillable="true" type="tns:usp_ApplicationYear_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_ApplicationYear_Select_Result" nillable="true" type="tns:ArrayOfusp_ApplicationYear_Select_Result" />
  <xs:complexType name="usp_ApplicationYear_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ApplicationYear_Select_Result" nillable="true" type="tns:usp_ApplicationYear_Select_Result" />
  <xs:complexType name="usp_ApplicationDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchoolID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchoolName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ApplicationDetail_Select_Result" nillable="true" type="tns:usp_ApplicationDetail_Select_Result" />
</xs:schema>