SmileSPresentation/SmileClaimV1/Service References/ApplicationService_PA/ApplicationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2080/Module/Application/ApplicationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" />
  <xs:element name="ApplicationSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rowsPerPage" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="criteria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationYear" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="schoolId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="provinceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="districtId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" minOccurs="0" name="ApplicationSearchResult" nillable="true" type="q1:ArrayOfusp_ApplicationSearch_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationSearchHeaderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="criteria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationYear" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="schoolId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="provinceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="districtId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplicationSearchHeaderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" minOccurs="0" name="ApplicationSearchHeaderInfoResult" nillable="true" type="q2:usp_ApplicationSearch_HeaderInfo_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowsPerPage" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="criteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" minOccurs="0" name="CustomerSearchResult" nillable="true" type="q3:ArrayOfusp_CustomerSearch_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerDetailID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" minOccurs="0" name="GetCustomerDetailResult" nillable="true" type="q4:ArrayOfusp_CustomerDetail_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoverageByBenefitID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="benefitID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoverageByBenefitIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" minOccurs="0" name="GetCoverageByBenefitIDResult" nillable="true" type="q5:ArrayOfusp_BenefitCoverage_ByBenefitID_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerBenefitDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerBenefitDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" minOccurs="0" name="GetCustomerBenefitDetailResult" nillable="true" type="q6:ArrayOfusp_CustomerBenefitDetail_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerSearchHeaderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="applicationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="criteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerSearchHeaderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" minOccurs="0" name="GetCustomerSearchHeaderInfoResult" nillable="true" type="q7:usp_CustomerSearch_HeaderInfo_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationYear">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" minOccurs="0" name="GetApplicationYearResult" nillable="true" type="q8:ArrayOfusp_ApplicationYear_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationDetailByApplicationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationDetailByApplicationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" minOccurs="0" name="GetApplicationDetailByApplicationIDResult" nillable="true" type="q9:usp_ApplicationDetail_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>