SmileSPresentation/SmileSDataCenterV1/Service References/SmileSIdentityService/SmileIdentityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmileIdentityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6964/SmileIdentityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6964/SmileIdentityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6964/SmileIdentityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileDataCenterService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISmileIdentityService_Set_AspNetRoles_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_AspNetRoles_Insert" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Set_AspNetRoles_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_AspNetRoles_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Get_AspNetRoles_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_AspNetRoles_SelectAll" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Get_AspNetRoles_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_AspNetRoles_SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Set_AspNetUsers_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_AspNetUsers_Insert" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Set_AspNetUsers_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_AspNetUsers_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Set_AspNetUserRoles_Delete_AllRolesFromUser_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_AspNetUserRoles_Delete_AllRolesFromUser" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Set_AspNetUserRoles_Delete_AllRolesFromUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_AspNetUserRoles_Delete_AllRolesFromUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Get_AspNetUsers_SelectBy_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_AspNetUsers_SelectBy" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Get_AspNetUsers_SelectBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_AspNetUsers_SelectByResponse" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Set_AspNetUsersRoles_Insert_RolesToUser_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_AspNetUsersRoles_Insert_RolesToUser" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Set_AspNetUsersRoles_Insert_RolesToUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_AspNetUsersRoles_Insert_RolesToUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Set_AspNetUserRoles_Insert_UsersToRole_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_AspNetUserRoles_Insert_UsersToRole" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Set_AspNetUserRoles_Insert_UsersToRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_AspNetUserRoles_Insert_UsersToRoleResponse" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Get_AspNetUsers_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_AspNetUsers_SelectAll" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Get_AspNetUsers_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_AspNetUsers_SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Set_AspNetUsers_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_AspNetUsers_ResetPassword" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Set_AspNetUsers_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_AspNetUsers_ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Set_AspNetUsers_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_AspNetUsers_ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Set_AspNetUsers_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_AspNetUsers_ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Set_AspNetRoles_DeleteRole_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_AspNetRoles_DeleteRole" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Set_AspNetRoles_DeleteRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_AspNetRoles_DeleteRoleResponse" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Get_SSSPersonUser_SelectBy_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_SSSPersonUser_SelectBy" />
  </wsdl:message>
  <wsdl:message name="ISmileIdentityService_Get_SSSPersonUser_SelectBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_SSSPersonUser_SelectByResponse" />
  </wsdl:message>
  <wsdl:portType name="ISmileIdentityService">
    <wsdl:operation name="Set_AspNetRoles_Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmileIdentityService/Set_AspNetRoles_Insert" message="tns:ISmileIdentityService_Set_AspNetRoles_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmileIdentityService/Set_AspNetRoles_InsertResponse" message="tns:ISmileIdentityService_Set_AspNetRoles_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_AspNetRoles_SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmileIdentityService/Get_AspNetRoles_SelectAll" message="tns:ISmileIdentityService_Get_AspNetRoles_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmileIdentityService/Get_AspNetRoles_SelectAllResponse" message="tns:ISmileIdentityService_Get_AspNetRoles_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_AspNetUsers_Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmileIdentityService/Set_AspNetUsers_Insert" message="tns:ISmileIdentityService_Set_AspNetUsers_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmileIdentityService/Set_AspNetUsers_InsertResponse" message="tns:ISmileIdentityService_Set_AspNetUsers_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_AspNetUserRoles_Delete_AllRolesFromUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmileIdentityService/Set_AspNetUserRoles_Delete_AllRolesFromUser" message="tns:ISmileIdentityService_Set_AspNetUserRoles_Delete_AllRolesFromUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmileIdentityService/Set_AspNetUserRoles_Delete_AllRolesFromUserResponse" message="tns:ISmileIdentityService_Set_AspNetUserRoles_Delete_AllRolesFromUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_AspNetUsers_SelectBy">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmileIdentityService/Get_AspNetUsers_SelectBy" message="tns:ISmileIdentityService_Get_AspNetUsers_SelectBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmileIdentityService/Get_AspNetUsers_SelectByResponse" message="tns:ISmileIdentityService_Get_AspNetUsers_SelectBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_AspNetUsersRoles_Insert_RolesToUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmileIdentityService/Set_AspNetUsersRoles_Insert_RolesToUser" message="tns:ISmileIdentityService_Set_AspNetUsersRoles_Insert_RolesToUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmileIdentityService/Set_AspNetUsersRoles_Insert_RolesToUserResponse" message="tns:ISmileIdentityService_Set_AspNetUsersRoles_Insert_RolesToUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_AspNetUserRoles_Insert_UsersToRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmileIdentityService/Set_AspNetUserRoles_Insert_UsersToRole" message="tns:ISmileIdentityService_Set_AspNetUserRoles_Insert_UsersToRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmileIdentityService/Set_AspNetUserRoles_Insert_UsersToRoleResponse" message="tns:ISmileIdentityService_Set_AspNetUserRoles_Insert_UsersToRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_AspNetUsers_SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmileIdentityService/Get_AspNetUsers_SelectAll" message="tns:ISmileIdentityService_Get_AspNetUsers_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmileIdentityService/Get_AspNetUsers_SelectAllResponse" message="tns:ISmileIdentityService_Get_AspNetUsers_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_AspNetUsers_ResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmileIdentityService/Set_AspNetUsers_ResetPassword" message="tns:ISmileIdentityService_Set_AspNetUsers_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmileIdentityService/Set_AspNetUsers_ResetPasswordResponse" message="tns:ISmileIdentityService_Set_AspNetUsers_ResetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_AspNetUsers_ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmileIdentityService/Set_AspNetUsers_ChangePassword" message="tns:ISmileIdentityService_Set_AspNetUsers_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmileIdentityService/Set_AspNetUsers_ChangePasswordResponse" message="tns:ISmileIdentityService_Set_AspNetUsers_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_AspNetRoles_DeleteRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmileIdentityService/Set_AspNetRoles_DeleteRole" message="tns:ISmileIdentityService_Set_AspNetRoles_DeleteRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmileIdentityService/Set_AspNetRoles_DeleteRoleResponse" message="tns:ISmileIdentityService_Set_AspNetRoles_DeleteRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_SSSPersonUser_SelectBy">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmileIdentityService/Get_SSSPersonUser_SelectBy" message="tns:ISmileIdentityService_Get_SSSPersonUser_SelectBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmileIdentityService/Get_SSSPersonUser_SelectByResponse" message="tns:ISmileIdentityService_Get_SSSPersonUser_SelectBy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISmileIdentityService" type="tns:ISmileIdentityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Set_AspNetRoles_Insert">
      <soap:operation soapAction="http://tempuri.org/ISmileIdentityService/Set_AspNetRoles_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_AspNetRoles_SelectAll">
      <soap:operation soapAction="http://tempuri.org/ISmileIdentityService/Get_AspNetRoles_SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_AspNetUsers_Insert">
      <soap:operation soapAction="http://tempuri.org/ISmileIdentityService/Set_AspNetUsers_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_AspNetUserRoles_Delete_AllRolesFromUser">
      <soap:operation soapAction="http://tempuri.org/ISmileIdentityService/Set_AspNetUserRoles_Delete_AllRolesFromUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_AspNetUsers_SelectBy">
      <soap:operation soapAction="http://tempuri.org/ISmileIdentityService/Get_AspNetUsers_SelectBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_AspNetUsersRoles_Insert_RolesToUser">
      <soap:operation soapAction="http://tempuri.org/ISmileIdentityService/Set_AspNetUsersRoles_Insert_RolesToUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_AspNetUserRoles_Insert_UsersToRole">
      <soap:operation soapAction="http://tempuri.org/ISmileIdentityService/Set_AspNetUserRoles_Insert_UsersToRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_AspNetUsers_SelectAll">
      <soap:operation soapAction="http://tempuri.org/ISmileIdentityService/Get_AspNetUsers_SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_AspNetUsers_ResetPassword">
      <soap:operation soapAction="http://tempuri.org/ISmileIdentityService/Set_AspNetUsers_ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_AspNetUsers_ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ISmileIdentityService/Set_AspNetUsers_ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_AspNetRoles_DeleteRole">
      <soap:operation soapAction="http://tempuri.org/ISmileIdentityService/Set_AspNetRoles_DeleteRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_SSSPersonUser_SelectBy">
      <soap:operation soapAction="http://tempuri.org/ISmileIdentityService/Get_SSSPersonUser_SelectBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmileIdentityService">
    <wsdl:port name="BasicHttpBinding_ISmileIdentityService" binding="tns:BasicHttpBinding_ISmileIdentityService">
      <soap:address location="http://localhost:6964/SmileIdentityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>