SmileSPresentation/SmileSMobileWebUI/Service References/PHClaimService/ClaimService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://uat.siamsmile.co.th:9212/Module/Claim/ClaimService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" />
  <xs:element name="GetCountOPD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_applicationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountOPDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetCountOPDResult" nillable="true" type="q1:usp_CountOPDByApp_YearFormat_select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClaimPH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_applicationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_hospitalID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_claimtypeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_claimadmittypeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_datehappen" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_productID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_insurancecompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_chiefcomplainID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_statusID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_createdbyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_continuefromclaimID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_agentID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_chiefcomplainanswer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ICD10_1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ICD10_2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ICD10_3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_remark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_overfromcompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_denycauseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_receiptstatusID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_sendinsurancestatusID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_payhospitalcashheaderID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_claimheadergroupID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_approvedbyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_claimpaybyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hospitalClaimInformCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_iscontinue" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="_datenotice" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_ageatclaim_year" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_ageatclaim_month" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_ageatclaim_day" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_ageappatclaim_year" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_ageappatclaim_month" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_ageappatclaim_day" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_iswalkoutclaim" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="_ischiefcomplainwarning" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="_iscontinueclaimwarning" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="_isexgratia" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="_isnoDCRwarning" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="_ispaycenter" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="_approveddate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClaimPHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateClaimPHResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusClaimNotUse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClaimID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusClaimNotUseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusClaimNotUseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetClaimDetailResult" nillable="true" type="q2:ArrayOfusp_GetClaimDetail_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimHistList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appIdpk" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimHistListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetClaimHistListResult" nillable="true" type="q3:ArrayOfusp_GetClaimHistList_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimDetailList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timePeriod" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="indexStart" type="xs:int" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimDetailListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetClaimDetailListResult" nillable="true" type="q4:ArrayOfusp_GetClaimDetailList_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetClaimStatusResult" nillable="true" type="q5:ArrayOfusp_GetClaimStatus_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimFeedbackTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DCR" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimFeedbackTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetClaimFeedbackTotalResult" nillable="true" type="q6:ArrayOfusp_GetClaimFeedbackTotal_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimFeedbackAppDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DCR" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="indexStart" type="xs:int" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimFeedbackAppDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetClaimFeedbackAppDetailResult" nillable="true" type="q7:ArrayOfusp_GetClaimFeedbackAppDetail_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClaimFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agentScrore" type="xs:int" />
        <xs:element minOccurs="0" name="serviceScore" type="xs:int" />
        <xs:element minOccurs="0" name="systemScore" type="xs:int" />
        <xs:element minOccurs="0" name="suggestion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClaimFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="SetClaimFeedbackResult" nillable="true" type="q8:ArrayOfusp_SetClaimFeedback_Insert_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClaimFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="feedbackId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="claimCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agentScrore" type="xs:int" />
        <xs:element minOccurs="0" name="serviceScore" type="xs:int" />
        <xs:element minOccurs="0" name="systemScore" type="xs:int" />
        <xs:element minOccurs="0" name="suggestion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClaimFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="UpdateClaimFeedbackResult" nillable="true" type="q9:ArrayOfusp_SetClaimFeedback_Update_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimCalPaidAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appIdpk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="claimAdmitTypeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateHappen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateAdmitIn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipdDayCount" type="xs:int" />
        <xs:element minOccurs="0" name="icuDayCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimCalPaidAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetClaimCalPaidAmountResult" nillable="true" type="q10:ArrayOfusp_GetClaimCalPaidAmount_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClaimHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="claimCodeContinue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appIdPK" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateHappen" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="claimAdmitTypeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hospitalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateAdmitIn" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateAdmitOut" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ipdDaycouont" type="xs:double" />
        <xs:element minOccurs="0" name="icuDayCount" type="xs:double" />
        <xs:element minOccurs="0" name="branchClaimId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remarkxx" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="totalAmount" type="xs:double" />
        <xs:element minOccurs="0" name="approveNetClaim" type="xs:double" />
        <xs:element minOccurs="0" name="compensateAmount" type="xs:double" />
        <xs:element minOccurs="0" name="claimStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="denyCauseId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="denyRemark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payMethodTypeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClaimHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetClaimHeaderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClaimHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="claimCodeContinue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appIdPK" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateHappen" type="xs:dateTime" />
        <xs:element minOccurs="0" name="claimAdmitTypeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hospitalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateAdmitIn" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateAdmitOut" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ipdDaycouont" type="xs:double" />
        <xs:element minOccurs="0" name="icuDayCount" type="xs:double" />
        <xs:element minOccurs="0" name="branchClaimId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="totalAmount" type="xs:double" />
        <xs:element minOccurs="0" name="approveNetClaim" type="xs:double" />
        <xs:element minOccurs="0" name="compensateAmount" type="xs:double" />
        <xs:element minOccurs="0" name="claimStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="denyCauseId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="denyRemark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payMethodTypeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClaimHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateClaimHeaderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductIDFromDCR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateHappen" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductIDFromDCRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductIDFromDCRResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoverageOPDAccident">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="claimCodeContinue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoverageOPDAccidentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCoverageOPDAccidentResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompensateIPD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IPDDayCount" type="xs:int" />
        <xs:element minOccurs="0" name="ICUDayCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompensateIPDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCompensateIPDResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDRemain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateHappen" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDRemainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOPDRemainResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDBenefitAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDBenefitAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOPDBenefitAllResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoverageOPDByProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoverageOPDByProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCoverageOPDByProductResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmployeeNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>