SmileSPresentation/SmileSMobileWebUI/Service References/PHClaimService/ClaimService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClaimService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9212/Module/Claim/ClaimService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9212/Module/Claim/ClaimService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9212/Module/Claim/ClaimService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClaimService_GetCountOPD_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountOPD" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetCountOPD_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountOPDResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_CreateClaimPH_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateClaimPH" />
  </wsdl:message>
  <wsdl:message name="IClaimService_CreateClaimPH_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateClaimPHResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_UpdateStatusClaimNotUse_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatusClaimNotUse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_UpdateStatusClaimNotUse_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatusClaimNotUseResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimDetail" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimHistList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimHistList" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimHistList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimHistListResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimDetailList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimDetailList" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimDetailList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimDetailListResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimStatus" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimFeedbackTotal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimFeedbackTotal" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimFeedbackTotal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimFeedbackTotalResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimFeedbackAppDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimFeedbackAppDetail" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimFeedbackAppDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimFeedbackAppDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_SetClaimFeedback_InputMessage">
    <wsdl:part name="parameters" element="tns:SetClaimFeedback" />
  </wsdl:message>
  <wsdl:message name="IClaimService_SetClaimFeedback_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetClaimFeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_UpdateClaimFeedback_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClaimFeedback" />
  </wsdl:message>
  <wsdl:message name="IClaimService_UpdateClaimFeedback_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClaimFeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimCalPaidAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimCalPaidAmount" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimCalPaidAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimCalPaidAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_SetClaimHeader_InputMessage">
    <wsdl:part name="parameters" element="tns:SetClaimHeader" />
  </wsdl:message>
  <wsdl:message name="IClaimService_SetClaimHeader_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetClaimHeaderResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_UpdateClaimHeader_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClaimHeader" />
  </wsdl:message>
  <wsdl:message name="IClaimService_UpdateClaimHeader_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClaimHeaderResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetProductIDFromDCR_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductIDFromDCR" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetProductIDFromDCR_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductIDFromDCRResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetCoverageOPDAccident_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCoverageOPDAccident" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetCoverageOPDAccident_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoverageOPDAccidentResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetCompensateIPD_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompensateIPD" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetCompensateIPD_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompensateIPDResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetOPDRemain_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOPDRemain" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetOPDRemain_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOPDRemainResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetOPDBenefitAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOPDBenefitAll" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetOPDBenefitAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOPDBenefitAllResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetCoverageOPDByProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCoverageOPDByProduct" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetCoverageOPDByProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoverageOPDByProductResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetEmployeeName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeName" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetEmployeeName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IClaimService">
    <wsdl:operation name="GetCountOPD">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/GetCountOPD" message="tns:IClaimService_GetCountOPD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/GetCountOPDResponse" message="tns:IClaimService_GetCountOPD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateClaimPH">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/CreateClaimPH" message="tns:IClaimService_CreateClaimPH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/CreateClaimPHResponse" message="tns:IClaimService_CreateClaimPH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusClaimNotUse">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/UpdateStatusClaimNotUse" message="tns:IClaimService_UpdateStatusClaimNotUse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/UpdateStatusClaimNotUseResponse" message="tns:IClaimService_UpdateStatusClaimNotUse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClaimDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/GetClaimDetail" message="tns:IClaimService_GetClaimDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/GetClaimDetailResponse" message="tns:IClaimService_GetClaimDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClaimHistList">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/GetClaimHistList" message="tns:IClaimService_GetClaimHistList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/GetClaimHistListResponse" message="tns:IClaimService_GetClaimHistList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClaimDetailList">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/GetClaimDetailList" message="tns:IClaimService_GetClaimDetailList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/GetClaimDetailListResponse" message="tns:IClaimService_GetClaimDetailList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClaimStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/GetClaimStatus" message="tns:IClaimService_GetClaimStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/GetClaimStatusResponse" message="tns:IClaimService_GetClaimStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClaimFeedbackTotal">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/GetClaimFeedbackTotal" message="tns:IClaimService_GetClaimFeedbackTotal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/GetClaimFeedbackTotalResponse" message="tns:IClaimService_GetClaimFeedbackTotal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClaimFeedbackAppDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/GetClaimFeedbackAppDetail" message="tns:IClaimService_GetClaimFeedbackAppDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/GetClaimFeedbackAppDetailResponse" message="tns:IClaimService_GetClaimFeedbackAppDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetClaimFeedback">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/SetClaimFeedback" message="tns:IClaimService_SetClaimFeedback_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/SetClaimFeedbackResponse" message="tns:IClaimService_SetClaimFeedback_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClaimFeedback">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/UpdateClaimFeedback" message="tns:IClaimService_UpdateClaimFeedback_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/UpdateClaimFeedbackResponse" message="tns:IClaimService_UpdateClaimFeedback_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClaimCalPaidAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/GetClaimCalPaidAmount" message="tns:IClaimService_GetClaimCalPaidAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/GetClaimCalPaidAmountResponse" message="tns:IClaimService_GetClaimCalPaidAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetClaimHeader">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/SetClaimHeader" message="tns:IClaimService_SetClaimHeader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/SetClaimHeaderResponse" message="tns:IClaimService_SetClaimHeader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClaimHeader">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/UpdateClaimHeader" message="tns:IClaimService_UpdateClaimHeader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/UpdateClaimHeaderResponse" message="tns:IClaimService_UpdateClaimHeader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductIDFromDCR">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/GetProductIDFromDCR" message="tns:IClaimService_GetProductIDFromDCR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/GetProductIDFromDCRResponse" message="tns:IClaimService_GetProductIDFromDCR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCoverageOPDAccident">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/GetCoverageOPDAccident" message="tns:IClaimService_GetCoverageOPDAccident_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/GetCoverageOPDAccidentResponse" message="tns:IClaimService_GetCoverageOPDAccident_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompensateIPD">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/GetCompensateIPD" message="tns:IClaimService_GetCompensateIPD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/GetCompensateIPDResponse" message="tns:IClaimService_GetCompensateIPD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOPDRemain">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/GetOPDRemain" message="tns:IClaimService_GetOPDRemain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/GetOPDRemainResponse" message="tns:IClaimService_GetOPDRemain_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOPDBenefitAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/GetOPDBenefitAll" message="tns:IClaimService_GetOPDBenefitAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/GetOPDBenefitAllResponse" message="tns:IClaimService_GetOPDBenefitAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCoverageOPDByProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/GetCoverageOPDByProduct" message="tns:IClaimService_GetCoverageOPDByProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/GetCoverageOPDByProductResponse" message="tns:IClaimService_GetCoverageOPDByProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeName">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/GetEmployeeName" message="tns:IClaimService_GetEmployeeName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/GetEmployeeNameResponse" message="tns:IClaimService_GetEmployeeName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClaimService" type="tns:IClaimService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountOPD">
      <soap:operation soapAction="http://tempuri.org/IClaimService/GetCountOPD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateClaimPH">
      <soap:operation soapAction="http://tempuri.org/IClaimService/CreateClaimPH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusClaimNotUse">
      <soap:operation soapAction="http://tempuri.org/IClaimService/UpdateStatusClaimNotUse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClaimDetail">
      <soap:operation soapAction="http://tempuri.org/IClaimService/GetClaimDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClaimHistList">
      <soap:operation soapAction="http://tempuri.org/IClaimService/GetClaimHistList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClaimDetailList">
      <soap:operation soapAction="http://tempuri.org/IClaimService/GetClaimDetailList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClaimStatus">
      <soap:operation soapAction="http://tempuri.org/IClaimService/GetClaimStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClaimFeedbackTotal">
      <soap:operation soapAction="http://tempuri.org/IClaimService/GetClaimFeedbackTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClaimFeedbackAppDetail">
      <soap:operation soapAction="http://tempuri.org/IClaimService/GetClaimFeedbackAppDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetClaimFeedback">
      <soap:operation soapAction="http://tempuri.org/IClaimService/SetClaimFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClaimFeedback">
      <soap:operation soapAction="http://tempuri.org/IClaimService/UpdateClaimFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClaimCalPaidAmount">
      <soap:operation soapAction="http://tempuri.org/IClaimService/GetClaimCalPaidAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetClaimHeader">
      <soap:operation soapAction="http://tempuri.org/IClaimService/SetClaimHeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClaimHeader">
      <soap:operation soapAction="http://tempuri.org/IClaimService/UpdateClaimHeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductIDFromDCR">
      <soap:operation soapAction="http://tempuri.org/IClaimService/GetProductIDFromDCR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCoverageOPDAccident">
      <soap:operation soapAction="http://tempuri.org/IClaimService/GetCoverageOPDAccident" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompensateIPD">
      <soap:operation soapAction="http://tempuri.org/IClaimService/GetCompensateIPD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOPDRemain">
      <soap:operation soapAction="http://tempuri.org/IClaimService/GetOPDRemain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOPDBenefitAll">
      <soap:operation soapAction="http://tempuri.org/IClaimService/GetOPDBenefitAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCoverageOPDByProduct">
      <soap:operation soapAction="http://tempuri.org/IClaimService/GetCoverageOPDByProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeName">
      <soap:operation soapAction="http://tempuri.org/IClaimService/GetEmployeeName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClaimService">
    <wsdl:port name="BasicHttpBinding_IClaimService" binding="tns:BasicHttpBinding_IClaimService">
      <soap:address location="http://uat.siamsmile.co.th:9212/Module/Claim/ClaimService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>