SmileSPresentation/SmileSMobileWebUI/Service References/PHClaimService/ClaimService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="usp_CountOPDByApp_YearFormat_select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="OPD_All" type="xs:int" />
      <xs:element minOccurs="0" name="OPD_Net" type="xs:int" />
      <xs:element minOccurs="0" name="OPD_Used" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_CountOPDByApp_YearFormat_select_Result" nillable="true" type="tns:usp_CountOPDByApp_YearFormat_select_Result" />
  <xs:complexType name="ArrayOfusp_GetClaimDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetClaimDetail_Select_Result" nillable="true" type="tns:usp_GetClaimDetail_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetClaimDetail_Select_Result" nillable="true" type="tns:ArrayOfusp_GetClaimDetail_Select_Result" />
  <xs:complexType name="usp_GetClaimDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentScore" type="xs:int" />
      <xs:element minOccurs="0" name="AppIDPK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApproveNetClaim" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BranchClaimID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClaimAdmitTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimCodeContinue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompensateAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateAdmitIN" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateAdmitOut" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateHappen" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DenyCauseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DenyCause_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DenyRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeedbackDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HospitalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HospitalProvinceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICUDayCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IPDDayCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MobileCustomer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoreInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayMethodType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceScore" type="xs:int" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suggestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemScore" type="xs:int" />
      <xs:element minOccurs="0" name="TimeStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="linkWeb" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetClaimDetail_Select_Result" nillable="true" type="tns:usp_GetClaimDetail_Select_Result" />
  <xs:complexType name="ArrayOfusp_GetClaimHistList_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetClaimHistList_Select_Result" nillable="true" type="tns:usp_GetClaimHistList_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetClaimHistList_Select_Result" nillable="true" type="tns:ArrayOfusp_GetClaimHistList_Select_Result" />
  <xs:complexType name="usp_GetClaimHistList_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppIDPK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApproveNetAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ChiefComplain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimAdmitTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CompensateAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MoreInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextLinkWeb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="linkWeb" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetClaimHistList_Select_Result" nillable="true" type="tns:usp_GetClaimHistList_Select_Result" />
  <xs:complexType name="ArrayOfusp_GetClaimDetailList_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetClaimDetailList_Select_Result" nillable="true" type="tns:usp_GetClaimDetailList_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetClaimDetailList_Select_Result" nillable="true" type="tns:ArrayOfusp_GetClaimDetailList_Select_Result" />
  <xs:complexType name="usp_GetClaimDetailList_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppIDPK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApproveNetAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ChiefComplain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimAdmitTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClaimNoticeColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompensateAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileCustomer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoreInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextLinkWeb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="linkWeb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productNameIcon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetClaimDetailList_Select_Result" nillable="true" type="tns:usp_GetClaimDetailList_Select_Result" />
  <xs:complexType name="ArrayOfusp_GetClaimStatus_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetClaimStatus_Select_Result" nillable="true" type="tns:usp_GetClaimStatus_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetClaimStatus_Select_Result" nillable="true" type="tns:ArrayOfusp_GetClaimStatus_Select_Result" />
  <xs:complexType name="usp_GetClaimStatus_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="StateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StateValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetClaimStatus_Select_Result" nillable="true" type="tns:usp_GetClaimStatus_Select_Result" />
  <xs:complexType name="ArrayOfusp_GetClaimFeedbackTotal_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetClaimFeedbackTotal_Select_Result" nillable="true" type="tns:usp_GetClaimFeedbackTotal_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetClaimFeedbackTotal_Select_Result" nillable="true" type="tns:ArrayOfusp_GetClaimFeedbackTotal_Select_Result" />
  <xs:complexType name="usp_GetClaimFeedbackTotal_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AVGTotalScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalClaim" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalScoreRate1" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalScoreRate2" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalScoreRate3" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalScoreRate4" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalScoreRate5" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetClaimFeedbackTotal_Select_Result" nillable="true" type="tns:usp_GetClaimFeedbackTotal_Select_Result" />
  <xs:complexType name="ArrayOfusp_GetClaimFeedbackAppDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetClaimFeedbackAppDetail_Select_Result" nillable="true" type="tns:usp_GetClaimFeedbackAppDetail_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetClaimFeedbackAppDetail_Select_Result" nillable="true" type="tns:ArrayOfusp_GetClaimFeedbackAppDetail_Select_Result" />
  <xs:complexType name="usp_GetClaimFeedbackAppDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AppID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApproveNetClaim" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ClaimCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClaimRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimSuggestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompensateAmount" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="FeedbackDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SystemScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalCount" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetClaimFeedbackAppDetail_Select_Result" nillable="true" type="tns:usp_GetClaimFeedbackAppDetail_Select_Result" />
  <xs:complexType name="ArrayOfusp_SetClaimFeedback_Insert_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_SetClaimFeedback_Insert_Result" nillable="true" type="tns:usp_SetClaimFeedback_Insert_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_SetClaimFeedback_Insert_Result" nillable="true" type="tns:ArrayOfusp_SetClaimFeedback_Insert_Result" />
  <xs:complexType name="usp_SetClaimFeedback_Insert_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClaimFeedBack_id" type="xs:int" />
      <xs:element minOccurs="0" name="ClaimHeader_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmployeeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ServiceScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Suggestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateBy_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_SetClaimFeedback_Insert_Result" nillable="true" type="tns:usp_SetClaimFeedback_Insert_Result" />
  <xs:complexType name="ArrayOfusp_SetClaimFeedback_Update_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_SetClaimFeedback_Update_Result" nillable="true" type="tns:usp_SetClaimFeedback_Update_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_SetClaimFeedback_Update_Result" nillable="true" type="tns:ArrayOfusp_SetClaimFeedback_Update_Result" />
  <xs:complexType name="usp_SetClaimFeedback_Update_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClaimFeedBack_id" type="xs:int" />
      <xs:element minOccurs="0" name="ClaimHeader_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmployeeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ServiceScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Suggestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateBy_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_SetClaimFeedback_Update_Result" nillable="true" type="tns:usp_SetClaimFeedback_Update_Result" />
  <xs:complexType name="ArrayOfusp_GetClaimCalPaidAmount_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetClaimCalPaidAmount_Select_Result" nillable="true" type="tns:usp_GetClaimCalPaidAmount_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetClaimCalPaidAmount_Select_Result" nillable="true" type="tns:ArrayOfusp_GetClaimCalPaidAmount_Select_Result" />
  <xs:complexType name="usp_GetClaimCalPaidAmount_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApproveNetClaim" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CompensateAmount" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetClaimCalPaidAmount_Select_Result" nillable="true" type="tns:usp_GetClaimCalPaidAmount_Select_Result" />
</xs:schema>