SmileSPresentation/SmileSMobileWebUI/Service References/CommunicateService/CommunicateService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Get_Communicate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="communicateTypeid" type="xs:int" />
        <xs:element minOccurs="0" name="templateTypeid" type="xs:int" />
        <xs:element minOccurs="0" name="criteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_CommunicateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_CommunicateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>