SmileSPresentation/SmileClaimV1/Service References/ApplicationService_PH/ApplicationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="usp_CustomerSearch_HeaderInfo_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalPages" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRecords" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_CustomerSearch_HeaderInfo_Result" nillable="true" type="tns:usp_CustomerSearch_HeaderInfo_Result" />
  <xs:complexType name="ArrayOfusp_CustomerSearch_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_CustomerSearch_Select_Result" nillable="true" type="tns:usp_CustomerSearch_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_CustomerSearch_Select_Result" nillable="true" type="tns:ArrayOfusp_CustomerSearch_Select_Result" />
  <xs:complexType name="usp_CustomerSearch_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CancelDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartCoverDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_CustomerSearch_Select_Result" nillable="true" type="tns:usp_CustomerSearch_Select_Result" />
  <xs:complexType name="usp_CustomerDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ages" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ApplicationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentityNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceCompanyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Passport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartCoverDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_CustomerDetail_Select_Result" nillable="true" type="tns:usp_CustomerDetail_Select_Result" />
  <xs:complexType name="ArrayOfusp_CustomerBenefitDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_CustomerBenefitDetail_Select_Result" nillable="true" type="tns:usp_CustomerBenefitDetail_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_CustomerBenefitDetail_Select_Result" nillable="true" type="tns:ArrayOfusp_CustomerBenefitDetail_Select_Result" />
  <xs:complexType name="usp_CustomerBenefitDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenefitGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BenefitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxPrice" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MaxQuantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PricePerUnit" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="PriceUnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantityUnit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_CustomerBenefitDetail_Select_Result" nillable="true" type="tns:usp_CustomerBenefitDetail_Select_Result" />
  <xs:complexType name="ArrayOfusp_BenefitCoverrage_ByBenefitID_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_BenefitCoverrage_ByBenefitID_Select_Result" nillable="true" type="tns:usp_BenefitCoverrage_ByBenefitID_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_BenefitCoverrage_ByBenefitID_Select_Result" nillable="true" type="tns:ArrayOfusp_BenefitCoverrage_ByBenefitID_Select_Result" />
  <xs:complexType name="usp_BenefitCoverrage_ByBenefitID_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenefitGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BenefitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxPrice" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MaxQuantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PricePerUnit" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="PriceUnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantityUnit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_BenefitCoverrage_ByBenefitID_Select_Result" nillable="true" type="tns:usp_BenefitCoverrage_ByBenefitID_Select_Result" />
</xs:schema>