SmileSPresentation/SmileClaimV1/Service References/ApplicationService_PH/ApplicationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52745/Module/App/ApplicationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" />
  <xs:element name="CustomerSearchHeaderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="criteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSearchHeaderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="CustomerSearchHeaderInfoResult" nillable="true" type="q1:usp_CustomerSearch_HeaderInfo_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="criteria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowsPerPage" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="CustomerSearchResult" nillable="true" type="q2:ArrayOfusp_CustomerSearch_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_applicationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetCustomerDetailResult" nillable="true" type="q3:usp_CustomerDetail_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerBenefitDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_applicationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerBenefitDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetCustomerBenefitDetailResult" nillable="true" type="q4:ArrayOfusp_CustomerBenefitDetail_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoverageByBenefitID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_applicationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_benefitID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoverageByBenefitIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetCoverageByBenefitIDResult" nillable="true" type="q5:ArrayOfusp_BenefitCoverrage_ByBenefitID_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>