SmileSPresentation/SmileSCriticalIllness/Connected Services/TNIService/ServiceNonMotorForOtherBrokersGW.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ServiceNonMotor_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataPA_xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceNonMotor_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceNonMotor_XMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceNonMotor_JSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataPA_json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceNonMotor_JSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceNonMotor_JSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ServiceNonMotor_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceNonMotor_XML" />
  </wsdl:message>
  <wsdl:message name="ServiceNonMotor_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceNonMotor_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceNonMotor_JSONSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceNonMotor_JSON" />
  </wsdl:message>
  <wsdl:message name="ServiceNonMotor_JSONSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceNonMotor_JSONResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceNonMotor_XMLHttpGetIn">
    <wsdl:part name="dataPA_xml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ServiceNonMotor_XMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ServiceNonMotor_JSONHttpGetIn">
    <wsdl:part name="dataPA_json" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ServiceNonMotor_JSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ServiceNonMotor_XMLHttpPostIn">
    <wsdl:part name="dataPA_xml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ServiceNonMotor_XMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ServiceNonMotor_JSONHttpPostIn">
    <wsdl:part name="dataPA_json" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ServiceNonMotor_JSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ServiceNonMotorForOtherBrokersGWSoap">
    <wsdl:operation name="ServiceNonMotor_XML">
      <wsdl:input message="tns:ServiceNonMotor_XMLSoapIn" />
      <wsdl:output message="tns:ServiceNonMotor_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceNonMotor_JSON">
      <wsdl:input message="tns:ServiceNonMotor_JSONSoapIn" />
      <wsdl:output message="tns:ServiceNonMotor_JSONSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceNonMotorForOtherBrokersGWHttpGet">
    <wsdl:operation name="ServiceNonMotor_XML">
      <wsdl:input message="tns:ServiceNonMotor_XMLHttpGetIn" />
      <wsdl:output message="tns:ServiceNonMotor_XMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceNonMotor_JSON">
      <wsdl:input message="tns:ServiceNonMotor_JSONHttpGetIn" />
      <wsdl:output message="tns:ServiceNonMotor_JSONHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceNonMotorForOtherBrokersGWHttpPost">
    <wsdl:operation name="ServiceNonMotor_XML">
      <wsdl:input message="tns:ServiceNonMotor_XMLHttpPostIn" />
      <wsdl:output message="tns:ServiceNonMotor_XMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceNonMotor_JSON">
      <wsdl:input message="tns:ServiceNonMotor_JSONHttpPostIn" />
      <wsdl:output message="tns:ServiceNonMotor_JSONHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceNonMotorForOtherBrokersGWSoap" type="tns:ServiceNonMotorForOtherBrokersGWSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServiceNonMotor_XML">
      <soap:operation soapAction="http://tempuri.org/ServiceNonMotor_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceNonMotor_JSON">
      <soap:operation soapAction="http://tempuri.org/ServiceNonMotor_JSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceNonMotorForOtherBrokersGWSoap12" type="tns:ServiceNonMotorForOtherBrokersGWSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServiceNonMotor_XML">
      <soap12:operation soapAction="http://tempuri.org/ServiceNonMotor_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceNonMotor_JSON">
      <soap12:operation soapAction="http://tempuri.org/ServiceNonMotor_JSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceNonMotorForOtherBrokersGWHttpGet" type="tns:ServiceNonMotorForOtherBrokersGWHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ServiceNonMotor_XML">
      <http:operation location="/ServiceNonMotor_XML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceNonMotor_JSON">
      <http:operation location="/ServiceNonMotor_JSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceNonMotorForOtherBrokersGWHttpPost" type="tns:ServiceNonMotorForOtherBrokersGWHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ServiceNonMotor_XML">
      <http:operation location="/ServiceNonMotor_XML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceNonMotor_JSON">
      <http:operation location="/ServiceNonMotor_JSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceNonMotorForOtherBrokersGW">
    <wsdl:port name="ServiceNonMotorForOtherBrokersGWSoap" binding="tns:ServiceNonMotorForOtherBrokersGWSoap">
      <soap:address location="http://tbapigwdtu/TNI_WSFrontMotorForOtherBrokersGW/ServiceNonMotorForOtherBrokersGW.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceNonMotorForOtherBrokersGWSoap12" binding="tns:ServiceNonMotorForOtherBrokersGWSoap12">
      <soap12:address location="http://tbapigwdtu/TNI_WSFrontMotorForOtherBrokersGW/ServiceNonMotorForOtherBrokersGW.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceNonMotorForOtherBrokersGWHttpGet" binding="tns:ServiceNonMotorForOtherBrokersGWHttpGet">
      <http:address location="http://tbapigwdtu/TNI_WSFrontMotorForOtherBrokersGW/ServiceNonMotorForOtherBrokersGW.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceNonMotorForOtherBrokersGWHttpPost" binding="tns:ServiceNonMotorForOtherBrokersGWHttpPost">
      <http:address location="http://tbapigwdtu/TNI_WSFrontMotorForOtherBrokersGW/ServiceNonMotorForOtherBrokersGW.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>