SmileSPresentation/SmileSDataCenterV2/Connected Services/SSSLoginService/SSSLoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ModuleID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequiredLevel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogInResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentUserFullName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentUserFullNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentUserFullNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSSSDocCount_ByDocID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DocID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSSSDocCount_ByDocIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSSSDocCount_ByDocIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSSSDocCount_ByMainIndex">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MainIndex" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSSSDocCount_ByMainIndexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSSSDocCount_ByMainIndexResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetEmployeeManageID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="empID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="managerID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetEmployeeManageIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetEmployeeManageIDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordSSS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordSSSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePasswordSSSResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordSmileS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordSmileSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePasswordSmileSResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeSmileS_Person_ID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="empCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeSmileS_Person_IDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetEmployeeSmileS_Person_IDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeSmileS_Employee_ID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="empCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeSmileS_Employee_IDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetEmployeeSmileS_Employee_IDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeSmileS_FullName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="empCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeSmileS_FullNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeSmileS_FullNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LogInSoapIn">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="LogInSoapOut">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentUserFullNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentUserFullName" />
  </wsdl:message>
  <wsdl:message name="GetCurrentUserFullNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentUserFullNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetSSSDocCount_ByDocIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetSSSDocCount_ByDocID" />
  </wsdl:message>
  <wsdl:message name="GetSSSDocCount_ByDocIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetSSSDocCount_ByDocIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetSSSDocCount_ByMainIndexSoapIn">
    <wsdl:part name="parameters" element="tns:GetSSSDocCount_ByMainIndex" />
  </wsdl:message>
  <wsdl:message name="GetSSSDocCount_ByMainIndexSoapOut">
    <wsdl:part name="parameters" element="tns:GetSSSDocCount_ByMainIndexResponse" />
  </wsdl:message>
  <wsdl:message name="SetEmployeeManageIDSoapIn">
    <wsdl:part name="parameters" element="tns:SetEmployeeManageID" />
  </wsdl:message>
  <wsdl:message name="SetEmployeeManageIDSoapOut">
    <wsdl:part name="parameters" element="tns:SetEmployeeManageIDResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSSSSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePasswordSSS" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSSSSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordSSSResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSmileSSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePasswordSmileS" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSmileSSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordSmileSResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeSmileS_Person_IDSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeSmileS_Person_ID" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeSmileS_Person_IDSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeSmileS_Person_IDResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeSmileS_Employee_IDSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeSmileS_Employee_ID" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeSmileS_Employee_IDSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeSmileS_Employee_IDResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeSmileS_FullNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeSmileS_FullName" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeSmileS_FullNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeSmileS_FullNameResponse" />
  </wsdl:message>
  <wsdl:portType name="SSSLoginServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input message="tns:LogInSoapIn" />
      <wsdl:output message="tns:LogInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUserFullName">
      <wsdl:input message="tns:GetCurrentUserFullNameSoapIn" />
      <wsdl:output message="tns:GetCurrentUserFullNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSSSDocCount_ByDocID">
      <wsdl:input message="tns:GetSSSDocCount_ByDocIDSoapIn" />
      <wsdl:output message="tns:GetSSSDocCount_ByDocIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSSSDocCount_ByMainIndex">
      <wsdl:input message="tns:GetSSSDocCount_ByMainIndexSoapIn" />
      <wsdl:output message="tns:GetSSSDocCount_ByMainIndexSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetEmployeeManageID">
      <wsdl:input message="tns:SetEmployeeManageIDSoapIn" />
      <wsdl:output message="tns:SetEmployeeManageIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordSSS">
      <wsdl:input message="tns:ChangePasswordSSSSoapIn" />
      <wsdl:output message="tns:ChangePasswordSSSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordSmileS">
      <wsdl:input message="tns:ChangePasswordSmileSSoapIn" />
      <wsdl:output message="tns:ChangePasswordSmileSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeSmileS_Person_ID">
      <wsdl:input message="tns:GetEmployeeSmileS_Person_IDSoapIn" />
      <wsdl:output message="tns:GetEmployeeSmileS_Person_IDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeSmileS_Employee_ID">
      <wsdl:input message="tns:GetEmployeeSmileS_Employee_IDSoapIn" />
      <wsdl:output message="tns:GetEmployeeSmileS_Employee_IDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeSmileS_FullName">
      <wsdl:input message="tns:GetEmployeeSmileS_FullNameSoapIn" />
      <wsdl:output message="tns:GetEmployeeSmileS_FullNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SSSLoginServiceSoap" type="tns:SSSLoginServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUserFullName">
      <soap:operation soapAction="http://tempuri.org/GetCurrentUserFullName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSSSDocCount_ByDocID">
      <soap:operation soapAction="http://tempuri.org/GetSSSDocCount_ByDocID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSSSDocCount_ByMainIndex">
      <soap:operation soapAction="http://tempuri.org/GetSSSDocCount_ByMainIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEmployeeManageID">
      <soap:operation soapAction="http://tempuri.org/SetEmployeeManageID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordSSS">
      <soap:operation soapAction="http://tempuri.org/ChangePasswordSSS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordSmileS">
      <soap:operation soapAction="http://tempuri.org/ChangePasswordSmileS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeSmileS_Person_ID">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeSmileS_Person_ID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeSmileS_Employee_ID">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeSmileS_Employee_ID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeSmileS_FullName">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeSmileS_FullName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SSSLoginServiceSoap12" type="tns:SSSLoginServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://tempuri.org/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUserFullName">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentUserFullName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSSSDocCount_ByDocID">
      <soap12:operation soapAction="http://tempuri.org/GetSSSDocCount_ByDocID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSSSDocCount_ByMainIndex">
      <soap12:operation soapAction="http://tempuri.org/GetSSSDocCount_ByMainIndex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEmployeeManageID">
      <soap12:operation soapAction="http://tempuri.org/SetEmployeeManageID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordSSS">
      <soap12:operation soapAction="http://tempuri.org/ChangePasswordSSS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordSmileS">
      <soap12:operation soapAction="http://tempuri.org/ChangePasswordSmileS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeSmileS_Person_ID">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeSmileS_Person_ID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeSmileS_Employee_ID">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeSmileS_Employee_ID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeSmileS_FullName">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeSmileS_FullName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SSSLoginService">
    <wsdl:port name="SSSLoginServiceSoap" binding="tns:SSSLoginServiceSoap">
      <soap:address location="http://uat.siamsmile.co.th:9213/SSSLoginService.asmx" />
    </wsdl:port>
    <wsdl:port name="SSSLoginServiceSoap12" binding="tns:SSSLoginServiceSoap12">
      <soap12:address location="http://uat.siamsmile.co.th:9213/SSSLoginService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>