SmileSPresentation/SmileSMobileWebUI/Service References/MobileDataCenterService/MobileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MobileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9204/Module/Mobile/MobileService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9204/Module/Mobile/MobileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9204/Module/Mobile/MobileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMobileService_GetAddressType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressType" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetAddressType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetCollectSource_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCollectSource" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetCollectSource_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCollectSourceResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployee" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetOccupation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOccupation" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetOccupation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOccupationResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetOccupationLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOccupationLevel" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetOccupationLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOccupationLevelResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetPayMethodType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPayMethodType" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetPayMethodType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPayMethodTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetFinancialBank_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFinancialBank" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetFinancialBank_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFinancialBankResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetBloodType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBloodType" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetBloodType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBloodTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetSex_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSex" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetSex_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSexResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetMaritalStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaritalStatus" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetMaritalStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaritalStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBranch" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetZebraCar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZebraCar" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetZebraCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZebraCarResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetOccupationLevelFromID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOccupationLevelFromID" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetOccupationLevelFromID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOccupationLevelFromIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IMobileService">
    <wsdl:operation name="GetAddressType">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/GetAddressType" message="tns:IMobileService_GetAddressType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/GetAddressTypeResponse" message="tns:IMobileService_GetAddressType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCollectSource">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/GetCollectSource" message="tns:IMobileService_GetCollectSource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/GetCollectSourceResponse" message="tns:IMobileService_GetCollectSource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/GetEmployee" message="tns:IMobileService_GetEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/GetEmployeeResponse" message="tns:IMobileService_GetEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOccupation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/GetOccupation" message="tns:IMobileService_GetOccupation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/GetOccupationResponse" message="tns:IMobileService_GetOccupation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOccupationLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/GetOccupationLevel" message="tns:IMobileService_GetOccupationLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/GetOccupationLevelResponse" message="tns:IMobileService_GetOccupationLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPayMethodType">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/GetPayMethodType" message="tns:IMobileService_GetPayMethodType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/GetPayMethodTypeResponse" message="tns:IMobileService_GetPayMethodType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFinancialBank">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/GetFinancialBank" message="tns:IMobileService_GetFinancialBank_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/GetFinancialBankResponse" message="tns:IMobileService_GetFinancialBank_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBloodType">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/GetBloodType" message="tns:IMobileService_GetBloodType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/GetBloodTypeResponse" message="tns:IMobileService_GetBloodType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSex">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/GetSex" message="tns:IMobileService_GetSex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/GetSexResponse" message="tns:IMobileService_GetSex_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaritalStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/GetMaritalStatus" message="tns:IMobileService_GetMaritalStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/GetMaritalStatusResponse" message="tns:IMobileService_GetMaritalStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/GetBranch" message="tns:IMobileService_GetBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/GetBranchResponse" message="tns:IMobileService_GetBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetZebraCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/GetZebraCar" message="tns:IMobileService_GetZebraCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/GetZebraCarResponse" message="tns:IMobileService_GetZebraCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOccupationLevelFromID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/GetOccupationLevelFromID" message="tns:IMobileService_GetOccupationLevelFromID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/GetOccupationLevelFromIDResponse" message="tns:IMobileService_GetOccupationLevelFromID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMobileService" type="tns:IMobileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAddressType">
      <soap:operation soapAction="http://tempuri.org/IMobileService/GetAddressType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollectSource">
      <soap:operation soapAction="http://tempuri.org/IMobileService/GetCollectSource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <soap:operation soapAction="http://tempuri.org/IMobileService/GetEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOccupation">
      <soap:operation soapAction="http://tempuri.org/IMobileService/GetOccupation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOccupationLevel">
      <soap:operation soapAction="http://tempuri.org/IMobileService/GetOccupationLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPayMethodType">
      <soap:operation soapAction="http://tempuri.org/IMobileService/GetPayMethodType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFinancialBank">
      <soap:operation soapAction="http://tempuri.org/IMobileService/GetFinancialBank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBloodType">
      <soap:operation soapAction="http://tempuri.org/IMobileService/GetBloodType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSex">
      <soap:operation soapAction="http://tempuri.org/IMobileService/GetSex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaritalStatus">
      <soap:operation soapAction="http://tempuri.org/IMobileService/GetMaritalStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBranch">
      <soap:operation soapAction="http://tempuri.org/IMobileService/GetBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZebraCar">
      <soap:operation soapAction="http://tempuri.org/IMobileService/GetZebraCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOccupationLevelFromID">
      <soap:operation soapAction="http://tempuri.org/IMobileService/GetOccupationLevelFromID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MobileService">
    <wsdl:port name="BasicHttpBinding_IMobileService" binding="tns:BasicHttpBinding_IMobileService">
      <soap:address location="http://uat.siamsmile.co.th:9204/Module/Mobile/MobileService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>