SmileSPresentation/SmileSMobileWebUI/Service References/MobileDataCenterService/MobileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfusp_AddressType_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_AddressType_Select_Result" nillable="true" type="tns:usp_AddressType_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_AddressType_Select_Result" nillable="true" type="tns:ArrayOfusp_AddressType_Select_Result" />
  <xs:complexType name="usp_AddressType_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressType_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CreateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_AddressType_Select_Result" nillable="true" type="tns:usp_AddressType_Select_Result" />
  <xs:complexType name="ArrayOfusp_CollectSource_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_CollectSource_Select_Result" nillable="true" type="tns:usp_CollectSource_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_CollectSource_Select_Result" nillable="true" type="tns:ArrayOfusp_CollectSource_Select_Result" />
  <xs:complexType name="usp_CollectSource_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abbreviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrganizeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizeType_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Organize_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Ref_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Title_ID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_CollectSource_Select_Result" nillable="true" type="tns:usp_CollectSource_Select_Result" />
  <xs:complexType name="usp_Employee_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Department_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeePosition_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeStatus_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeTeam_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Employee_ID" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Person_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SiamSmileCompany_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StartworkDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TitleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TurnOverDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Employee_Select_Result" nillable="true" type="tns:usp_Employee_Select_Result" />
  <xs:complexType name="ArrayOfusp_Occupation_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_Occupation_Select_Result" nillable="true" type="tns:usp_Occupation_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_Occupation_Select_Result" nillable="true" type="tns:ArrayOfusp_Occupation_Select_Result" />
  <xs:complexType name="usp_Occupation_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxAge" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MinAge" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OccupationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Occupation_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Temp2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temp3" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Occupation_Select_Result" nillable="true" type="tns:usp_Occupation_Select_Result" />
  <xs:complexType name="ArrayOfusp_OccupationLevel_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_OccupationLevel_Select_Result" nillable="true" type="tns:usp_OccupationLevel_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_OccupationLevel_Select_Result" nillable="true" type="tns:ArrayOfusp_OccupationLevel_Select_Result" />
  <xs:complexType name="usp_OccupationLevel_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mapping_VRY_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mapping_VRY_Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationLevelCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationLevelDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationLevel_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Occupation_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Temp1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temp2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temp3" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_OccupationLevel_Select_Result" nillable="true" type="tns:usp_OccupationLevel_Select_Result" />
  <xs:complexType name="ArrayOfusp_PayMethodType_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_PayMethodType_Select_Result" nillable="true" type="tns:usp_PayMethodType_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_PayMethodType_Select_Result" nillable="true" type="tns:ArrayOfusp_PayMethodType_Select_Result" />
  <xs:complexType name="usp_PayMethodType_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PayMethodTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayMethodTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayMethodType_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_PayMethodType_Select_Result" nillable="true" type="tns:usp_PayMethodType_Select_Result" />
  <xs:complexType name="ArrayOfusp_FinancialBank_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_FinancialBank_Select_Result" nillable="true" type="tns:usp_FinancialBank_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_FinancialBank_Select_Result" nillable="true" type="tns:ArrayOfusp_FinancialBank_Select_Result" />
  <xs:complexType name="usp_FinancialBank_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abbreviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bank_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CreateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrganizeType_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Ref_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Title_ID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_FinancialBank_Select_Result" nillable="true" type="tns:usp_FinancialBank_Select_Result" />
  <xs:complexType name="ArrayOfusp_BloodType_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_BloodType_Select_Result" nillable="true" type="tns:usp_BloodType_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_BloodType_Select_Result" nillable="true" type="tns:ArrayOfusp_BloodType_Select_Result" />
  <xs:complexType name="usp_BloodType_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BloodTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BloodTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BloodType_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CreateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_BloodType_Select_Result" nillable="true" type="tns:usp_BloodType_Select_Result" />
  <xs:complexType name="ArrayOfusp_Sex_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_Sex_Select_Result" nillable="true" type="tns:usp_Sex_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_Sex_Select_Result" nillable="true" type="tns:ArrayOfusp_Sex_Select_Result" />
  <xs:complexType name="usp_Sex_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SexCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SexDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex_ID" type="xs:int" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Sex_Select_Result" nillable="true" type="tns:usp_Sex_Select_Result" />
  <xs:complexType name="ArrayOfusp_MaritalStatus_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_MaritalStatus_Select_Result" nillable="true" type="tns:usp_MaritalStatus_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_MaritalStatus_Select_Result" nillable="true" type="tns:ArrayOfusp_MaritalStatus_Select_Result" />
  <xs:complexType name="usp_MaritalStatus_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaritalStatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaritalStatusDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaritalStatus_ID" type="xs:int" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_MaritalStatus_Select_Result" nillable="true" type="tns:usp_MaritalStatus_Select_Result" />
  <xs:complexType name="ArrayOfusp_GetBranch_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetBranch_Select_Result" nillable="true" type="tns:usp_GetBranch_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetBranch_Select_Result" nillable="true" type="tns:ArrayOfusp_GetBranch_Select_Result" />
  <xs:complexType name="usp_GetBranch_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BranchDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CreateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tempcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetBranch_Select_Result" nillable="true" type="tns:usp_GetBranch_Select_Result" />
  <xs:complexType name="ArrayOfusp_ZebraCar_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_ZebraCar_Select_Result" nillable="true" type="tns:usp_ZebraCar_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_ZebraCar_Select_Result" nillable="true" type="tns:ArrayOfusp_ZebraCar_Select_Result" />
  <xs:complexType name="usp_ZebraCar_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zebra_Code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ZebraCar_Select_Result" nillable="true" type="tns:usp_ZebraCar_Select_Result" />
  <xs:complexType name="ArrayOfusp_OccupationLevel_ByOccupationID_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_OccupationLevel_ByOccupationID_Select_Result" nillable="true" type="tns:usp_OccupationLevel_ByOccupationID_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_OccupationLevel_ByOccupationID_Select_Result" nillable="true" type="tns:ArrayOfusp_OccupationLevel_ByOccupationID_Select_Result" />
  <xs:complexType name="usp_OccupationLevel_ByOccupationID_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mapping_VRY_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mapping_VRY_Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationLevelDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationLevel_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Occupation_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Temp1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temp2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temp3" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_OccupationLevel_ByOccupationID_Select_Result" nillable="true" type="tns:usp_OccupationLevel_ByOccupationID_Select_Result" />
</xs:schema>