SmileSPresentation/SmileSMobileWebUI/Service References/AddressDataCenterService/AddressService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AddressService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9204/Module/Address/AddressService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9204/Module/Address/AddressService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9204/Module/Address/AddressService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAddressService_GetProvince_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvince" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetProvince_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinceResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetProvince2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvince2" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetProvince2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvince2Response" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetDistrict_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDistrict" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetDistrict_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDistrictResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetSubDistrict_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubDistrict" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetSubDistrict_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubDistrictResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBranch" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetZipCodeBySubDistrictID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZipCodeBySubDistrictID" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetZipCodeBySubDistrictID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZipCodeBySubDistrictIDResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetAddressDataBySubDistrictSelectResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressDataBySubDistrictSelectResult" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetAddressDataBySubDistrictSelectResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressDataBySubDistrictSelectResultResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetDistrictSelect_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDistrictSelect" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetDistrictSelect_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDistrictSelectResponse" />
  </wsdl:message>
  <wsdl:portType name="IAddressService">
    <wsdl:operation name="GetProvince">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/GetProvince" message="tns:IAddressService_GetProvince_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/GetProvinceResponse" message="tns:IAddressService_GetProvince_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvince2">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/GetProvince2" message="tns:IAddressService_GetProvince2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/GetProvince2Response" message="tns:IAddressService_GetProvince2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDistrict">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/GetDistrict" message="tns:IAddressService_GetDistrict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/GetDistrictResponse" message="tns:IAddressService_GetDistrict_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubDistrict">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/GetSubDistrict" message="tns:IAddressService_GetSubDistrict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/GetSubDistrictResponse" message="tns:IAddressService_GetSubDistrict_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/GetBranch" message="tns:IAddressService_GetBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/GetBranchResponse" message="tns:IAddressService_GetBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetZipCodeBySubDistrictID">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/GetZipCodeBySubDistrictID" message="tns:IAddressService_GetZipCodeBySubDistrictID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/GetZipCodeBySubDistrictIDResponse" message="tns:IAddressService_GetZipCodeBySubDistrictID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAddressDataBySubDistrictSelectResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/GetAddressDataBySubDistrictSelectResult" message="tns:IAddressService_GetAddressDataBySubDistrictSelectResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/GetAddressDataBySubDistrictSelectResultResponse" message="tns:IAddressService_GetAddressDataBySubDistrictSelectResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDistrictSelect">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/GetDistrictSelect" message="tns:IAddressService_GetDistrictSelect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/GetDistrictSelectResponse" message="tns:IAddressService_GetDistrictSelect_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAddressService" type="tns:IAddressService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProvince">
      <soap:operation soapAction="http://tempuri.org/IAddressService/GetProvince" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvince2">
      <soap:operation soapAction="http://tempuri.org/IAddressService/GetProvince2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistrict">
      <soap:operation soapAction="http://tempuri.org/IAddressService/GetDistrict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubDistrict">
      <soap:operation soapAction="http://tempuri.org/IAddressService/GetSubDistrict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBranch">
      <soap:operation soapAction="http://tempuri.org/IAddressService/GetBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZipCodeBySubDistrictID">
      <soap:operation soapAction="http://tempuri.org/IAddressService/GetZipCodeBySubDistrictID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressDataBySubDistrictSelectResult">
      <soap:operation soapAction="http://tempuri.org/IAddressService/GetAddressDataBySubDistrictSelectResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistrictSelect">
      <soap:operation soapAction="http://tempuri.org/IAddressService/GetDistrictSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressService">
    <wsdl:port name="BasicHttpBinding_IAddressService" binding="tns:BasicHttpBinding_IAddressService">
      <soap:address location="http://uat.siamsmile.co.th:9204/Module/Address/AddressService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>