SmileSPresentation/SmileClaimV1/Service References/HCIService/HCIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HCIService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2217/Module/HospitalClaimInform/HCIService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2217/Module/HospitalClaimInform/HCIService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2217/Module/HospitalClaimInform/HCIService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSHCIService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHCIService_GetHCI_HeaderIfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHCI_HeaderIfo" />
  </wsdl:message>
  <wsdl:message name="IHCIService_GetHCI_HeaderIfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHCI_HeaderIfoResponse" />
  </wsdl:message>
  <wsdl:message name="IHCIService_GetHCI_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHCI" />
  </wsdl:message>
  <wsdl:message name="IHCIService_GetHCI_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHCIResponse" />
  </wsdl:message>
  <wsdl:message name="IHCIService_GetHCICancelCause_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHCICancelCause" />
  </wsdl:message>
  <wsdl:message name="IHCIService_GetHCICancelCause_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHCICancelCauseResponse" />
  </wsdl:message>
  <wsdl:message name="IHCIService_GetHCIDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHCIDetail" />
  </wsdl:message>
  <wsdl:message name="IHCIService_GetHCIDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHCIDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IHCIService_GetHCICustomerDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHCICustomerDetail" />
  </wsdl:message>
  <wsdl:message name="IHCIService_GetHCICustomerDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHCICustomerDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IHCIService_UpdateClaimID_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClaimID" />
  </wsdl:message>
  <wsdl:message name="IHCIService_UpdateClaimID_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClaimIDResponse" />
  </wsdl:message>
  <wsdl:message name="IHCIService_SetHCIClaimCancelStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetHCIClaimCancelStatus" />
  </wsdl:message>
  <wsdl:message name="IHCIService_SetHCIClaimCancelStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetHCIClaimCancelStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IHCIService_SetHCIClaimStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetHCIClaimStatus" />
  </wsdl:message>
  <wsdl:message name="IHCIService_SetHCIClaimStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetHCIClaimStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IHCIService_CreateLoginLog_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLoginLog" />
  </wsdl:message>
  <wsdl:message name="IHCIService_CreateLoginLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLoginLogResponse" />
  </wsdl:message>
  <wsdl:message name="IHCIService_CreateCustomerViewLog_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerViewLog" />
  </wsdl:message>
  <wsdl:message name="IHCIService_CreateCustomerViewLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerViewLogResponse" />
  </wsdl:message>
  <wsdl:message name="IHCIService_CreatePaymentConfirmationPrintLog_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePaymentConfirmationPrintLog" />
  </wsdl:message>
  <wsdl:message name="IHCIService_CreatePaymentConfirmationPrintLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePaymentConfirmationPrintLogResponse" />
  </wsdl:message>
  <wsdl:message name="IHCIService_CreateHCIPrintLog_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateHCIPrintLog" />
  </wsdl:message>
  <wsdl:message name="IHCIService_CreateHCIPrintLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateHCIPrintLogResponse" />
  </wsdl:message>
  <wsdl:message name="IHCIService_CreateLogUpdateClaimStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLogUpdateClaimStatus" />
  </wsdl:message>
  <wsdl:message name="IHCIService_CreateLogUpdateClaimStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLogUpdateClaimStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IHCIService_CreateHCILog_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateHCILog" />
  </wsdl:message>
  <wsdl:message name="IHCIService_CreateHCILog_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateHCILogResponse" />
  </wsdl:message>
  <wsdl:message name="IHCIService_SelectHCILog_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectHCILog" />
  </wsdl:message>
  <wsdl:message name="IHCIService_SelectHCILog_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectHCILogResponse" />
  </wsdl:message>
  <wsdl:portType name="IHCIService">
    <wsdl:operation name="GetHCI_HeaderIfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHCIService/GetHCI_HeaderIfo" message="tns:IHCIService_GetHCI_HeaderIfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHCIService/GetHCI_HeaderIfoResponse" message="tns:IHCIService_GetHCI_HeaderIfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHCI">
      <wsdl:input wsaw:Action="http://tempuri.org/IHCIService/GetHCI" message="tns:IHCIService_GetHCI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHCIService/GetHCIResponse" message="tns:IHCIService_GetHCI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHCICancelCause">
      <wsdl:input wsaw:Action="http://tempuri.org/IHCIService/GetHCICancelCause" message="tns:IHCIService_GetHCICancelCause_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHCIService/GetHCICancelCauseResponse" message="tns:IHCIService_GetHCICancelCause_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHCIDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IHCIService/GetHCIDetail" message="tns:IHCIService_GetHCIDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHCIService/GetHCIDetailResponse" message="tns:IHCIService_GetHCIDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHCICustomerDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IHCIService/GetHCICustomerDetail" message="tns:IHCIService_GetHCICustomerDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHCIService/GetHCICustomerDetailResponse" message="tns:IHCIService_GetHCICustomerDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClaimID">
      <wsdl:input wsaw:Action="http://tempuri.org/IHCIService/UpdateClaimID" message="tns:IHCIService_UpdateClaimID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHCIService/UpdateClaimIDResponse" message="tns:IHCIService_UpdateClaimID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetHCIClaimCancelStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IHCIService/SetHCIClaimCancelStatus" message="tns:IHCIService_SetHCIClaimCancelStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHCIService/SetHCIClaimCancelStatusResponse" message="tns:IHCIService_SetHCIClaimCancelStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetHCIClaimStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IHCIService/SetHCIClaimStatus" message="tns:IHCIService_SetHCIClaimStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHCIService/SetHCIClaimStatusResponse" message="tns:IHCIService_SetHCIClaimStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLoginLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IHCIService/CreateLoginLog" message="tns:IHCIService_CreateLoginLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHCIService/CreateLoginLogResponse" message="tns:IHCIService_CreateLoginLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCustomerViewLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IHCIService/CreateCustomerViewLog" message="tns:IHCIService_CreateCustomerViewLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHCIService/CreateCustomerViewLogResponse" message="tns:IHCIService_CreateCustomerViewLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePaymentConfirmationPrintLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IHCIService/CreatePaymentConfirmationPrintLog" message="tns:IHCIService_CreatePaymentConfirmationPrintLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHCIService/CreatePaymentConfirmationPrintLogResponse" message="tns:IHCIService_CreatePaymentConfirmationPrintLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateHCIPrintLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IHCIService/CreateHCIPrintLog" message="tns:IHCIService_CreateHCIPrintLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHCIService/CreateHCIPrintLogResponse" message="tns:IHCIService_CreateHCIPrintLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLogUpdateClaimStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IHCIService/CreateLogUpdateClaimStatus" message="tns:IHCIService_CreateLogUpdateClaimStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHCIService/CreateLogUpdateClaimStatusResponse" message="tns:IHCIService_CreateLogUpdateClaimStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateHCILog">
      <wsdl:input wsaw:Action="http://tempuri.org/IHCIService/CreateHCILog" message="tns:IHCIService_CreateHCILog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHCIService/CreateHCILogResponse" message="tns:IHCIService_CreateHCILog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectHCILog">
      <wsdl:input wsaw:Action="http://tempuri.org/IHCIService/SelectHCILog" message="tns:IHCIService_SelectHCILog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHCIService/SelectHCILogResponse" message="tns:IHCIService_SelectHCILog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHCIService" type="tns:IHCIService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHCI_HeaderIfo">
      <soap:operation soapAction="http://tempuri.org/IHCIService/GetHCI_HeaderIfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHCI">
      <soap:operation soapAction="http://tempuri.org/IHCIService/GetHCI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHCICancelCause">
      <soap:operation soapAction="http://tempuri.org/IHCIService/GetHCICancelCause" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHCIDetail">
      <soap:operation soapAction="http://tempuri.org/IHCIService/GetHCIDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHCICustomerDetail">
      <soap:operation soapAction="http://tempuri.org/IHCIService/GetHCICustomerDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClaimID">
      <soap:operation soapAction="http://tempuri.org/IHCIService/UpdateClaimID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetHCIClaimCancelStatus">
      <soap:operation soapAction="http://tempuri.org/IHCIService/SetHCIClaimCancelStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetHCIClaimStatus">
      <soap:operation soapAction="http://tempuri.org/IHCIService/SetHCIClaimStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLoginLog">
      <soap:operation soapAction="http://tempuri.org/IHCIService/CreateLoginLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomerViewLog">
      <soap:operation soapAction="http://tempuri.org/IHCIService/CreateCustomerViewLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePaymentConfirmationPrintLog">
      <soap:operation soapAction="http://tempuri.org/IHCIService/CreatePaymentConfirmationPrintLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateHCIPrintLog">
      <soap:operation soapAction="http://tempuri.org/IHCIService/CreateHCIPrintLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLogUpdateClaimStatus">
      <soap:operation soapAction="http://tempuri.org/IHCIService/CreateLogUpdateClaimStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateHCILog">
      <soap:operation soapAction="http://tempuri.org/IHCIService/CreateHCILog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectHCILog">
      <soap:operation soapAction="http://tempuri.org/IHCIService/SelectHCILog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HCIService">
    <wsdl:port name="BasicHttpBinding_IHCIService" binding="tns:BasicHttpBinding_IHCIService">
      <soap:address location="http://localhost:2217/Module/HospitalClaimInform/HCIService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>