SmileSPresentation/SmileClaimV1/Service References/HCIService/HCIService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileSHCIService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileSHCIService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="usp_HCI_HeaderInfo_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalPages" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRecords" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_HCI_HeaderInfo_Result" nillable="true" type="tns:usp_HCI_HeaderInfo_Result" />
  <xs:complexType name="ArrayOfusp_HCI_select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_HCI_select_Result" nillable="true" type="tns:usp_HCI_select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_HCI_select_Result" nillable="true" type="tns:ArrayOfusp_HCI_select_Result" />
  <xs:complexType name="usp_HCI_select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CancelByID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CancelCauseID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CancelDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChiefComplainCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChiefComplainDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChiefComplainID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClaimAdmitTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimAdmitTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimAdmitTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClaimHeaderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedByID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateHappen" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateIssue" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HCIStatusDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HCIStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="HospitalClaimInformCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HospitalClaimInformID" type="xs:int" />
      <xs:element minOccurs="0" name="HospitalID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OPD_All" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OPD_Net" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OPD_Used" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OrganizeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductGroupDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductGroupID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProvinceDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_HCI_select_Result" nillable="true" type="tns:usp_HCI_select_Result" />
  <xs:complexType name="ArrayOfusp_HCI_CancelCause_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_HCI_CancelCause_Result" nillable="true" type="tns:usp_HCI_CancelCause_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_HCI_CancelCause_Result" nillable="true" type="tns:ArrayOfusp_HCI_CancelCause_Result" />
  <xs:complexType name="usp_HCI_CancelCause_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CancelCauseDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CancelCauseID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_HCI_CancelCause_Result" nillable="true" type="tns:usp_HCI_CancelCause_Result" />
  <xs:complexType name="usp_HCIDetail_select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CancelBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CancelByID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CancelCause" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CancelDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChiefComplainCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChiefComplainDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChiefComplainID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClaimAdmitTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimAdmitTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimAdmitTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClaimHeaderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedByID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateHappen" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateIssue" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HCIStatusDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HospitalClaimInformCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HospitalClaimInformID" type="xs:int" />
      <xs:element minOccurs="0" name="HospitalID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OPD_All" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OPD_Net" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OPD_Used" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OrganizeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_HCIDetail_select_Result" nillable="true" type="tns:usp_HCIDetail_select_Result" />
  <xs:complexType name="usp_HCICustomerDetail_select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerdetailID" type="xs:int" />
      <xs:element minOccurs="0" name="EffectiveCoverDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndCoverDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HospitalClaimInformID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdentityNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceCompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceCompanyDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceCompanyID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassportNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductGroupID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReferenceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="School" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchoolID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartCoverDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SubDistrictID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UDWStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_HCICustomerDetail_select_Result" nillable="true" type="tns:usp_HCICustomerDetail_select_Result" />
  <xs:complexType name="usp_HCI_UpdateClaimID_update_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CancelByID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CancelCauseID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CancelDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChiefComplainID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClaimAdmitTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClaimHeaderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedByID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateHappen" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateIssue" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HCIStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="HospitalClaimInformCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HospitalClaimInformID" type="xs:int" />
      <xs:element minOccurs="0" name="HospitalID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OPD_All" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OPD_Net" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OPD_Used" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_HCI_UpdateClaimID_update_Result" nillable="true" type="tns:usp_HCI_UpdateClaimID_update_Result" />
  <xs:complexType name="usp_HCI_Cancel_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CancelByID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CancelCauseID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CancelDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChiefComplainID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClaimAdmitTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClaimHeaderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedByID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateHappen" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateIssue" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HCIStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="HospitalClaimInformCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HospitalClaimInformID" type="xs:int" />
      <xs:element minOccurs="0" name="HospitalID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OPD_All" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OPD_Net" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OPD_Used" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_HCI_Cancel_Result" nillable="true" type="tns:usp_HCI_Cancel_Result" />
  <xs:complexType name="usp_HCIHospitalClaimInform_UpdateStatus_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CancelBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CancelByID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CancelCauseDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CancelDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChiefComplainDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimAdmitTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimHeaderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedByID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateHappen" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateIssue" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HCIStatusDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HospitalClaimInformCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HospitalClaimInformID" type="xs:int" />
      <xs:element minOccurs="0" name="OPD_All" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OPD_Net" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OPD_Used" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_HCIHospitalClaimInform_UpdateStatus_Result" nillable="true" type="tns:usp_HCIHospitalClaimInform_UpdateStatus_Result" />
  <xs:complexType name="usp_LoginLog_Insert_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedByID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_LoginLog_Insert_Result" nillable="true" type="tns:usp_LoginLog_Insert_Result" />
  <xs:complexType name="usp_CustomerViewLog_Insert_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedByID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ReferenceID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_CustomerViewLog_Insert_Result" nillable="true" type="tns:usp_CustomerViewLog_Insert_Result" />
  <xs:complexType name="usp_PaymentConfirmationPrintLog_Insert_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedByID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HospitalClaimInformID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_PaymentConfirmationPrintLog_Insert_Result" nillable="true" type="tns:usp_PaymentConfirmationPrintLog_Insert_Result" />
  <xs:complexType name="usp_HCIPrintLog_Insert_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedByID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HospitalClaimInformID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_HCIPrintLog_Insert_Result" nillable="true" type="tns:usp_HCIPrintLog_Insert_Result" />
  <xs:complexType name="usp_UpdateClaimStatusLog_Insert_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaimStatusID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedByEmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HospitalClaimInformID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_UpdateClaimStatusLog_Insert_Result" nillable="true" type="tns:usp_UpdateClaimStatusLog_Insert_Result" />
  <xs:complexType name="usp_HCILog_Insert_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedByID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HospitalClaimInformID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HospitalClaimInformLogID" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionTypeID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_HCILog_Insert_Result" nillable="true" type="tns:usp_HCILog_Insert_Result" />
  <xs:complexType name="usp_HCILog_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedByID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HospitalClaimInformID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HospitalClaimInformLogID" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionTypeID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_HCILog_Select_Result" nillable="true" type="tns:usp_HCILog_Select_Result" />
</xs:schema>