SmileSPresentation/SmileClaimV1/Service References/HCIService/HCIService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2217/Module/HospitalClaimInform/HCIService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSHCIService.Model" />
  <xs:element name="GetHCI_HeaderIfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="hospitalID" type="xs:int" />
        <xs:element minOccurs="0" name="dateStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateEnd" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="claimTypeID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="claimAdmitTypeID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="hciStatusID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="criteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHCI_HeaderIfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmileSHCIService.Model" minOccurs="0" name="GetHCI_HeaderIfoResult" nillable="true" type="q1:usp_HCI_HeaderInfo_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHCI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rowsPerPage" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="hospitalID" type="xs:int" />
        <xs:element minOccurs="0" name="dateStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateEnd" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="claimTypeID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="claimAdmitTypeID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="hciStatusID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="criteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHCIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmileSHCIService.Model" minOccurs="0" name="GetHCIResult" nillable="true" type="q2:ArrayOfusp_HCI_select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHCICancelCause">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHCICancelCauseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmileSHCIService.Model" minOccurs="0" name="GetHCICancelCauseResult" nillable="true" type="q3:ArrayOfusp_HCI_CancelCause_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHCIDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospitalClaimInformID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHCIDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmileSHCIService.Model" minOccurs="0" name="GetHCIDetailResult" nillable="true" type="q4:usp_HCIDetail_select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHCICustomerDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospitalClaimInformID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHCICustomerDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmileSHCIService.Model" minOccurs="0" name="GetHCICustomerDetailResult" nillable="true" type="q5:usp_HCICustomerDetail_select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClaimID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospitalClaimInformID" type="xs:int" />
        <xs:element minOccurs="0" name="claimHeaderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClaimIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SmileSHCIService.Model" minOccurs="0" name="UpdateClaimIDResult" nillable="true" type="q6:usp_HCI_UpdateClaimID_update_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHCIClaimCancelStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospitalClaimInformID" type="xs:int" />
        <xs:element minOccurs="0" name="cancelByID" type="xs:int" />
        <xs:element minOccurs="0" name="cancelCauseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHCIClaimCancelStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SmileSHCIService.Model" minOccurs="0" name="SetHCIClaimCancelStatusResult" nillable="true" type="q7:usp_HCI_Cancel_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHCIClaimStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospitalClaimInformID" type="xs:int" />
        <xs:element minOccurs="0" name="HCIStatusID" type="xs:int" />
        <xs:element minOccurs="0" name="updateByEmpID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHCIClaimStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SmileSHCIService.Model" minOccurs="0" name="SetHCIClaimStatusResult" nillable="true" type="q8:usp_HCIHospitalClaimInform_UpdateStatus_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLoginLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createdByID" type="xs:int" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLoginLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SmileSHCIService.Model" minOccurs="0" name="CreateLoginLogResult" nillable="true" type="q9:usp_LoginLog_Insert_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerViewLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="referenceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createdByID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerViewLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SmileSHCIService.Model" minOccurs="0" name="CreateCustomerViewLogResult" nillable="true" type="q10:usp_CustomerViewLog_Insert_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePaymentConfirmationPrintLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospitalClaimInformID" type="xs:int" />
        <xs:element minOccurs="0" name="createdByID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePaymentConfirmationPrintLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SmileSHCIService.Model" minOccurs="0" name="CreatePaymentConfirmationPrintLogResult" nillable="true" type="q11:usp_PaymentConfirmationPrintLog_Insert_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHCIPrintLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospitalClaimInformID" type="xs:int" />
        <xs:element minOccurs="0" name="createdByID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHCIPrintLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SmileSHCIService.Model" minOccurs="0" name="CreateHCIPrintLogResult" nillable="true" type="q12:usp_HCIPrintLog_Insert_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLogUpdateClaimStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospitalClaimInformID" type="xs:int" />
        <xs:element minOccurs="0" name="claimStatusID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createdByEmployeeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLogUpdateClaimStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SmileSHCIService.Model" minOccurs="0" name="CreateLogUpdateClaimStatusResult" nillable="true" type="q13:usp_UpdateClaimStatusLog_Insert_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHCILog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospitalClaimInformID" type="xs:int" />
        <xs:element minOccurs="0" name="transactionTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="createdByID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHCILogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SmileSHCIService.Model" minOccurs="0" name="CreateHCILogResult" nillable="true" type="q14:usp_HCILog_Insert_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectHCILog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospitalClaimInformID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectHCILogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SmileSHCIService.Model" minOccurs="0" name="SelectHCILogResult" nillable="true" type="q15:usp_HCILog_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>