SmileSPresentation/SmileSPersonUpdate/Connected Services/PersonService/PersonService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://uat.siamsmile.co.th:9204/Module/Person/PersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" />
  <xs:element name="GetTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="titleId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="personTypeId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetTitleResult" nillable="true" type="q1:ArrayOfusp_Title_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetRelationResult" nillable="true" type="q2:ArrayOfusp_PersonRelationType_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="SearchPersonResult" nillable="true" type="q3:ArrayOfusp_PersonSearch_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="SelectPersonResult" nillable="true" type="q4:usp_Person_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPersonAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPersonAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="SelectPersonAddressResult" nillable="true" type="q5:usp_PersonAddress_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addressId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="SelectAddressResult" nillable="true" type="q6:usp_Address_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFullPersonDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFullPersonDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="SelectFullPersonDetailResult" nillable="true" type="q7:usp_PersonFullDetail_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPersonType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="persontypeId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPersonTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="SelectPersonTypeResult" nillable="true" type="q8:ArrayOfusp_PersonType_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPersonCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPersonCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="SelectPersonCardResult" nillable="true" type="q9:usp_PersonCardByPerson_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>