SmileSPresentation/SmileSPersonUpdate/Connected Services/PersonService/PersonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9204/Module/Person/PersonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9204/Module/Person/PersonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9204/Module/Person/PersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonService_GetTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTitle" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRelation" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRelationResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SearchPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SearchPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SelectPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SelectPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SelectPersonAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPersonAddress" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SelectPersonAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPersonAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SelectAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAddress" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SelectAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SelectFullPersonDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectFullPersonDetail" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SelectFullPersonDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectFullPersonDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SelectPersonType_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPersonType" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SelectPersonType_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPersonTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SelectPersonCard_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPersonCard" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SelectPersonCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPersonCardResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonService">
    <wsdl:operation name="GetTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetTitle" message="tns:IPersonService_GetTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetTitleResponse" message="tns:IPersonService_GetTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetRelation" message="tns:IPersonService_GetRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetRelationResponse" message="tns:IPersonService_GetRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SearchPerson" message="tns:IPersonService_SearchPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SearchPersonResponse" message="tns:IPersonService_SearchPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SelectPerson" message="tns:IPersonService_SelectPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SelectPersonResponse" message="tns:IPersonService_SelectPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPersonAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SelectPersonAddress" message="tns:IPersonService_SelectPersonAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SelectPersonAddressResponse" message="tns:IPersonService_SelectPersonAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SelectAddress" message="tns:IPersonService_SelectAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SelectAddressResponse" message="tns:IPersonService_SelectAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectFullPersonDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SelectFullPersonDetail" message="tns:IPersonService_SelectFullPersonDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SelectFullPersonDetailResponse" message="tns:IPersonService_SelectFullPersonDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPersonType">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SelectPersonType" message="tns:IPersonService_SelectPersonType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SelectPersonTypeResponse" message="tns:IPersonService_SelectPersonType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPersonCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SelectPersonCard" message="tns:IPersonService_SelectPersonCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SelectPersonCardResponse" message="tns:IPersonService_SelectPersonCard_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonService" type="tns:IPersonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTitle">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelation">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPerson">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SearchPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPerson">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SelectPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPersonAddress">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SelectPersonAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAddress">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SelectAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectFullPersonDetail">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SelectFullPersonDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPersonType">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SelectPersonType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPersonCard">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SelectPersonCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port name="BasicHttpBinding_IPersonService" binding="tns:BasicHttpBinding_IPersonService">
      <soap:address location="http://uat.siamsmile.co.th:9204/Module/Person/PersonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>