SmileSPresentation/SmileSMobileWebUI/Service References/AddressPHService/AddressService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="usp_Address_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressFullDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amphoe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amphoe_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Floor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Moo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Road" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Soi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tumbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tumbol_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VillageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Address_Select_Result" nillable="true" type="tns:usp_Address_Select_Result" />
  <xs:complexType name="usp_Address_Update_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Address_Update_Result" nillable="true" type="tns:usp_Address_Update_Result" />
</xs:schema>