SmileSPresentation/SmileSMobileWebUI/Service References/AddressPHService/AddressService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://uat.siamsmile.co.th:9212/Module/Address/AddressService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" />
  <xs:element name="GetAddressSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addressId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetAddressSelectResult" nillable="true" type="q1:usp_Address_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addressId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buildingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="villageName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="no" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="moo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="floor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="road" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subDistrictId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="updateById" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="SetAddressResult" nillable="true" type="q2:usp_Address_Update_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCopyAddressDuplicate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromAddressID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToAddressID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCopyAddressDuplicateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>