SmileSPresentation/SmileSCustomerBase/Connected Services/DataCenterPersonService/PersonService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfusp_Title_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_Title_Select_Result" nillable="true" type="tns:usp_Title_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_Title_Select_Result" nillable="true" type="tns:ArrayOfusp_Title_Select_Result" />
  <xs:complexType name="usp_Title_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateBy_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PersonTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonType_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TempCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Title_Select_Result" nillable="true" type="tns:usp_Title_Select_Result" />
  <xs:complexType name="ArrayOfusp_PersonRelationType_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_PersonRelationType_Select_Result" nillable="true" type="tns:usp_PersonRelationType_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_PersonRelationType_Select_Result" nillable="true" type="tns:ArrayOfusp_PersonRelationType_Select_Result" />
  <xs:complexType name="usp_PersonRelationType_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PersonRelationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonRelationTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonRelationType_ID" type="xs:int" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_PersonRelationType_Select_Result" nillable="true" type="tns:usp_PersonRelationType_Select_Result" />
  <xs:complexType name="ArrayOfusp_PersonSearch_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_PersonSearch_Select_Result" nillable="true" type="tns:usp_PersonSearch_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_PersonSearch_Select_Result" nillable="true" type="tns:ArrayOfusp_PersonSearch_Select_Result" />
  <xs:complexType name="usp_PersonSearch_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MaritalStatusDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaritalStatus_ID" type="xs:int" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationLevelDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationLevel_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Occupation_ID" type="xs:int" />
      <xs:element minOccurs="0" name="PersonCardDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonCardTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonCardType_ID" type="xs:int" />
      <xs:element minOccurs="0" name="PersonCard_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Person_ID" type="xs:int" />
      <xs:element minOccurs="0" name="SexDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Title_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_PersonSearch_Select_Result" nillable="true" type="tns:usp_PersonSearch_Select_Result" />
  <xs:complexType name="usp_Person_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaritalStatusDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaritalStatus_ID" type="xs:int" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationLevelDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationLevel_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Occupation_ID" type="xs:int" />
      <xs:element minOccurs="0" name="PersonTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonType_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Person_ID" type="xs:int" />
      <xs:element minOccurs="0" name="SexDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex_ID" type="xs:int" />
      <xs:element minOccurs="0" name="TitleDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Person_Select_Result" nillable="true" type="tns:usp_Person_Select_Result" />
  <xs:complexType name="usp_PersonAddress_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressType_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Address_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PersonAddress_ID" type="xs:int" />
      <xs:element minOccurs="0" name="PersonTransaction_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Person_ID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_PersonAddress_Select_Result" nillable="true" type="tns:usp_PersonAddress_Select_Result" />
  <xs:complexType name="usp_Address_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressFullDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address_ID" type="xs:int" />
      <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="District_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Floor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Moo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Road" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Room" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Soi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubDistrictDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubDistrict_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VillageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Address_Select_Result" nillable="true" type="tns:usp_Address_Select_Result" />
  <xs:complexType name="usp_PersonFullDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="HomeAddress_District_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeAddress_FullDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeAddress_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HomeAddress_Province_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeAddress_SubDistrict_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDCardAddress_District_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDCardAddress_FullDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDCardAddress_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDCardAddress_Province_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDCardAddress_SubDistrict_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentityCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentityCard_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MaritalStatusDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaritalStatus_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationLevelDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationLevel_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Occupation_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Passport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Passport_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PersonTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonType_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Person_ID" type="xs:int" />
      <xs:element minOccurs="0" name="SexDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="WorkAddress_District_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkAddress_FullDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkAddress_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WorkAddress_Province_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkAddress_SubDistrict_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_PersonFullDetail_Select_Result" nillable="true" type="tns:usp_PersonFullDetail_Select_Result" />
  <xs:complexType name="ArrayOfusp_PersonType_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_PersonType_Select_Result" nillable="true" type="tns:usp_PersonType_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_PersonType_Select_Result" nillable="true" type="tns:ArrayOfusp_PersonType_Select_Result" />
  <xs:complexType name="usp_PersonType_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PersonTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonType_ID" type="xs:int" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_PersonType_Select_Result" nillable="true" type="tns:usp_PersonType_Select_Result" />
  <xs:complexType name="usp_PersonCardByPerson_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="PersonCardDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonCardTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonCardType_ID" type="xs:int" />
      <xs:element minOccurs="0" name="PersonCard_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Person_ID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_PersonCardByPerson_Select_Result" nillable="true" type="tns:usp_PersonCardByPerson_Select_Result" />
</xs:schema>