SmileSPresentation/SmileSReport/Service References/PHClaimReportService/ClaimReportService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://uat.siamsmile.co.th:9212/Report/Claim/ClaimReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" />
  <xs:element name="GetClaimRequestReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimHeaderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimRequestReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetClaimRequestReportResult" nillable="true" type="q1:usp_ClaimRequestReport_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimVoucherReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimHeaderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimVoucherReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetClaimVoucherReportResult" nillable="true" type="q2:usp_ClaimVoucherReport_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimVoucherReportDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimHeaderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimVoucherReportDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetClaimVoucherReportDetailResult" nillable="true" type="q3:ArrayOfusp_ClaimVoucherReport_Detail_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportClaimGivePower">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimHeaderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportClaimGivePowerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="ReportClaimGivePowerResult" nillable="true" type="q4:usp_ClaimGivePowerReport_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportClaimRequestHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimHeaderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportClaimRequestHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="ReportClaimRequestHistoryResult" nillable="true" type="q5:usp_ClaimRequestHistoryReport_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportClaimGetMoneyClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimHeaderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportClaimGetMoneyClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="ReportClaimGetMoneyClaimResult" nillable="true" type="q6:usp_ClaimGetMoneyClaimReport_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetEmployeeDetailResult" nillable="true" type="q7:usp_GetEmployeeDetail_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStringTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStringTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStringTestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimRejectHospitalReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClaimHeaderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimRejectHospitalReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="ClaimRejectHospitalReportResult" nillable="true" type="q8:ArrayOfusp_ClaimRejectHospitalReport_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>