SmileSPresentation/SmileSReport/Service References/PHClaimReportService/ClaimReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClaimReportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9212/Report/Claim/ClaimReportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9212/Report/Claim/ClaimReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9212/Report/Claim/ClaimReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClaimReportService_GetClaimRequestReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimRequestReport" />
  </wsdl:message>
  <wsdl:message name="IClaimReportService_GetClaimRequestReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimRequestReportResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimReportService_GetClaimVoucherReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimVoucherReport" />
  </wsdl:message>
  <wsdl:message name="IClaimReportService_GetClaimVoucherReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimVoucherReportResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimReportService_GetClaimVoucherReportDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimVoucherReportDetail" />
  </wsdl:message>
  <wsdl:message name="IClaimReportService_GetClaimVoucherReportDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimVoucherReportDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimReportService_ReportClaimGivePower_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportClaimGivePower" />
  </wsdl:message>
  <wsdl:message name="IClaimReportService_ReportClaimGivePower_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportClaimGivePowerResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimReportService_ReportClaimRequestHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportClaimRequestHistory" />
  </wsdl:message>
  <wsdl:message name="IClaimReportService_ReportClaimRequestHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportClaimRequestHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimReportService_ReportClaimGetMoneyClaim_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportClaimGetMoneyClaim" />
  </wsdl:message>
  <wsdl:message name="IClaimReportService_ReportClaimGetMoneyClaim_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportClaimGetMoneyClaimResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimReportService_GetEmployeeDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeDetail" />
  </wsdl:message>
  <wsdl:message name="IClaimReportService_GetEmployeeDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimReportService_GetStringTest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStringTest" />
  </wsdl:message>
  <wsdl:message name="IClaimReportService_GetStringTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStringTestResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimReportService_ClaimRejectHospitalReport_InputMessage">
    <wsdl:part name="parameters" element="tns:ClaimRejectHospitalReport" />
  </wsdl:message>
  <wsdl:message name="IClaimReportService_ClaimRejectHospitalReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClaimRejectHospitalReportResponse" />
  </wsdl:message>
  <wsdl:portType name="IClaimReportService">
    <wsdl:operation name="GetClaimRequestReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimReportService/GetClaimRequestReport" message="tns:IClaimReportService_GetClaimRequestReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimReportService/GetClaimRequestReportResponse" message="tns:IClaimReportService_GetClaimRequestReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClaimVoucherReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimReportService/GetClaimVoucherReport" message="tns:IClaimReportService_GetClaimVoucherReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimReportService/GetClaimVoucherReportResponse" message="tns:IClaimReportService_GetClaimVoucherReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClaimVoucherReportDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimReportService/GetClaimVoucherReportDetail" message="tns:IClaimReportService_GetClaimVoucherReportDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimReportService/GetClaimVoucherReportDetailResponse" message="tns:IClaimReportService_GetClaimVoucherReportDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportClaimGivePower">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimReportService/ReportClaimGivePower" message="tns:IClaimReportService_ReportClaimGivePower_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimReportService/ReportClaimGivePowerResponse" message="tns:IClaimReportService_ReportClaimGivePower_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportClaimRequestHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimReportService/ReportClaimRequestHistory" message="tns:IClaimReportService_ReportClaimRequestHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimReportService/ReportClaimRequestHistoryResponse" message="tns:IClaimReportService_ReportClaimRequestHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportClaimGetMoneyClaim">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimReportService/ReportClaimGetMoneyClaim" message="tns:IClaimReportService_ReportClaimGetMoneyClaim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimReportService/ReportClaimGetMoneyClaimResponse" message="tns:IClaimReportService_ReportClaimGetMoneyClaim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimReportService/GetEmployeeDetail" message="tns:IClaimReportService_GetEmployeeDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimReportService/GetEmployeeDetailResponse" message="tns:IClaimReportService_GetEmployeeDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStringTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimReportService/GetStringTest" message="tns:IClaimReportService_GetStringTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimReportService/GetStringTestResponse" message="tns:IClaimReportService_GetStringTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClaimRejectHospitalReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimReportService/ClaimRejectHospitalReport" message="tns:IClaimReportService_ClaimRejectHospitalReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimReportService/ClaimRejectHospitalReportResponse" message="tns:IClaimReportService_ClaimRejectHospitalReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClaimReportService" type="tns:IClaimReportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClaimRequestReport">
      <soap:operation soapAction="http://tempuri.org/IClaimReportService/GetClaimRequestReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClaimVoucherReport">
      <soap:operation soapAction="http://tempuri.org/IClaimReportService/GetClaimVoucherReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClaimVoucherReportDetail">
      <soap:operation soapAction="http://tempuri.org/IClaimReportService/GetClaimVoucherReportDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportClaimGivePower">
      <soap:operation soapAction="http://tempuri.org/IClaimReportService/ReportClaimGivePower" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportClaimRequestHistory">
      <soap:operation soapAction="http://tempuri.org/IClaimReportService/ReportClaimRequestHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportClaimGetMoneyClaim">
      <soap:operation soapAction="http://tempuri.org/IClaimReportService/ReportClaimGetMoneyClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeDetail">
      <soap:operation soapAction="http://tempuri.org/IClaimReportService/GetEmployeeDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStringTest">
      <soap:operation soapAction="http://tempuri.org/IClaimReportService/GetStringTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClaimRejectHospitalReport">
      <soap:operation soapAction="http://tempuri.org/IClaimReportService/ClaimRejectHospitalReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClaimReportService">
    <wsdl:port name="BasicHttpBinding_IClaimReportService" binding="tns:BasicHttpBinding_IClaimReportService">
      <soap:address location="http://uat.siamsmile.co.th:9212/Report/Claim/ClaimReportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>