SmileSPresentation/SmileSReport/Service References/PHClaimReportService/ClaimReportService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="usp_ClaimRequestReport_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Amphoe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="App_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchPaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChiefComplain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimAdmitType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimHeaderGroup_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimHeaderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimStatusID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeEmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Compensate_Include" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Compensate_Remain" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="CustName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateHappen" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date_End" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date_Issue" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DenyCause" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detail_Eng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detail_Thai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountSS" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FullAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HospitalDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD10_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPayCenter" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MobilePhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Moo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OPDCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Occupation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pay" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="PaySS" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaySS_Total" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Pay_Total" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Road" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Soi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartCoverDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Tumbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VillageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="net" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="workBuildingName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ClaimRequestReport_Select_Result" nillable="true" type="tns:usp_ClaimRequestReport_Select_Result" />
  <xs:complexType name="usp_ClaimVoucherReport_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountTotal1" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="AmountTotal2" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="AmountTotal3" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="AmountTotal4" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="AmountTotal5" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="App_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApproveName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimHeaderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactAddress1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactAddress2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactAddress3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCompensate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerZCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateBetween" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateIssue" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Discount" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="DiscountSS" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Hospital" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Net" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="OverFromCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pay" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="PaySS" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaySS_Total" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextAmount1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextAmount2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextAmount3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextAmount4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextAmount5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnPay" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ClaimVoucherReport_Select_Result" nillable="true" type="tns:usp_ClaimVoucherReport_Select_Result" />
  <xs:complexType name="ArrayOfusp_ClaimVoucherReport_Detail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_ClaimVoucherReport_Detail_Select_Result" nillable="true" type="tns:usp_ClaimVoucherReport_Detail_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_ClaimVoucherReport_Detail_Select_Result" nillable="true" type="tns:ArrayOfusp_ClaimVoucherReport_Detail_Select_Result" />
  <xs:complexType name="usp_ClaimVoucherReport_Detail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Benefit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BenefitID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimHeaderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompensationGroup" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsAlwaysSaveBenefit" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCompensation" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsICUCount" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsIPDCount" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUnCover" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Net" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Pay" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="UnPay" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ClaimVoucherReport_Detail_Select_Result" nillable="true" type="tns:usp_ClaimVoucherReport_Detail_Select_Result" />
  <xs:complexType name="usp_ClaimGivePowerReport_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="App_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClaimHeaderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hospital" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZCard_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ClaimGivePowerReport_Select_Result" nillable="true" type="tns:usp_ClaimGivePowerReport_Select_Result" />
  <xs:complexType name="usp_ClaimRequestHistoryReport_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdmitDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="App_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimHeaderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hospital" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LeaveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ClaimRequestHistoryReport_Select_Result" nillable="true" type="tns:usp_ClaimRequestHistoryReport_Select_Result" />
  <xs:complexType name="usp_ClaimGetMoneyClaimReport_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountNet" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="App_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimHeaderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HospitalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceCompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaySS_Total" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ClaimGetMoneyClaimReport_Select_Result" nillable="true" type="tns:usp_ClaimGetMoneyClaimReport_Select_Result" />
  <xs:complexType name="usp_GetEmployeeDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentType_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppTarget" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeEmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeStatus_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ManagerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSGCompany_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartworkDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Team_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TurnOverDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UdwLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UdwLevelDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ชื่อ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ชื่อเล่น" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ตำแหน่ง" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ทีม" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ภาค" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="สกุล" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="สาขา" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="แผนก" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetEmployeeDetail_Select_Result" nillable="true" type="tns:usp_GetEmployeeDetail_Select_Result" />
  <xs:complexType name="ArrayOfusp_ClaimRejectHospitalReport_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_ClaimRejectHospitalReport_Select_Result" nillable="true" type="tns:usp_ClaimRejectHospitalReport_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_ClaimRejectHospitalReport_Select_Result" nillable="true" type="tns:ArrayOfusp_ClaimRejectHospitalReport_Select_Result" />
  <xs:complexType name="usp_ClaimRejectHospitalReport_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdmitDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HospitalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaySS_Total" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaySS_TotalThaiBahtText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiveDocDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UnPay_Total" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="UnPay_TotalThaiBahtText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ClaimRejectHospitalReport_Select_Result" nillable="true" type="tns:usp_ClaimRejectHospitalReport_Select_Result" />
</xs:schema>