SmileSPresentation/SmileSMobileWebUI/Service References/SMSService/SmsService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9203/Module/SMSs/SmsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9203/Module/SMSs/SmsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9203/Module/SMSs/SmsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSCommunicateService.Module.SMSs" />
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9203/Module/SMSs/SmsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SmileSCommunicateService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISmsService_GetCredit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCredit" />
  </wsdl:message>
  <wsdl:message name="ISmsService_GetCredit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCreditResponse" />
  </wsdl:message>
  <wsdl:message name="ISmsService_SendSms_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSms" />
  </wsdl:message>
  <wsdl:message name="ISmsService_SendSms_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="ISmsService_SendSmsV2_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSmsV2" />
  </wsdl:message>
  <wsdl:message name="ISmsService_SendSmsV2_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSmsV2Response" />
  </wsdl:message>
  <wsdl:message name="ISmsService_SendSmsTEST_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSmsTEST" />
  </wsdl:message>
  <wsdl:message name="ISmsService_SendSmsTEST_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSmsTESTResponse" />
  </wsdl:message>
  <wsdl:message name="ISmsService_GetTransactionNotDeliveryNotify_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionNotDeliveryNotify" />
  </wsdl:message>
  <wsdl:message name="ISmsService_GetTransactionNotDeliveryNotify_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionNotDeliveryNotifyResponse" />
  </wsdl:message>
  <wsdl:message name="ISmsService_SendSmsWithFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSmsWithFile" />
  </wsdl:message>
  <wsdl:message name="ISmsService_SendSmsWithFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSmsWithFileResponse" />
  </wsdl:message>
  <wsdl:message name="ISmsService_SendSMS_Outbound_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSMS_Outbound" />
  </wsdl:message>
  <wsdl:message name="ISmsService_SendSMS_Outbound_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSMS_OutboundResponse" />
  </wsdl:message>
  <wsdl:message name="ISmsService_Get_LogSMS_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_LogSMS" />
  </wsdl:message>
  <wsdl:message name="ISmsService_Get_LogSMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_LogSMSResponse" />
  </wsdl:message>
  <wsdl:portType name="ISmsService">
    <wsdl:operation name="GetCredit">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmsService/GetCredit" message="tns:ISmsService_GetCredit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmsService/GetCreditResponse" message="tns:ISmsService_GetCredit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmsService/SendSms" message="tns:ISmsService_SendSms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmsService/SendSmsResponse" message="tns:ISmsService_SendSms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsV2">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmsService/SendSmsV2" message="tns:ISmsService_SendSmsV2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmsService/SendSmsV2Response" message="tns:ISmsService_SendSmsV2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsTEST">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmsService/SendSmsTEST" message="tns:ISmsService_SendSmsTEST_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmsService/SendSmsTESTResponse" message="tns:ISmsService_SendSmsTEST_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionNotDeliveryNotify">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmsService/GetTransactionNotDeliveryNotify" message="tns:ISmsService_GetTransactionNotDeliveryNotify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmsService/GetTransactionNotDeliveryNotifyResponse" message="tns:ISmsService_GetTransactionNotDeliveryNotify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmsService/SendSmsWithFile" message="tns:ISmsService_SendSmsWithFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmsService/SendSmsWithFileResponse" message="tns:ISmsService_SendSmsWithFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSMS_Outbound">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmsService/SendSMS_Outbound" message="tns:ISmsService_SendSMS_Outbound_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmsService/SendSMS_OutboundResponse" message="tns:ISmsService_SendSMS_Outbound_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_LogSMS">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmsService/Get_LogSMS" message="tns:ISmsService_Get_LogSMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmsService/Get_LogSMSResponse" message="tns:ISmsService_Get_LogSMS_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISmsService" type="tns:ISmsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCredit">
      <soap:operation soapAction="http://tempuri.org/ISmsService/GetCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <soap:operation soapAction="http://tempuri.org/ISmsService/SendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsV2">
      <soap:operation soapAction="http://tempuri.org/ISmsService/SendSmsV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsTEST">
      <soap:operation soapAction="http://tempuri.org/ISmsService/SendSmsTEST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionNotDeliveryNotify">
      <soap:operation soapAction="http://tempuri.org/ISmsService/GetTransactionNotDeliveryNotify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsWithFile">
      <soap:operation soapAction="http://tempuri.org/ISmsService/SendSmsWithFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS_Outbound">
      <soap:operation soapAction="http://tempuri.org/ISmsService/SendSMS_Outbound" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_LogSMS">
      <soap:operation soapAction="http://tempuri.org/ISmsService/Get_LogSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmsService">
    <wsdl:port name="BasicHttpBinding_ISmsService" binding="tns:BasicHttpBinding_ISmsService">
      <soap:address location="http://uat.siamsmile.co.th:9203/Module/SMSs/SmsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>