SmileSPresentation/SmileSMobileWebUI/Service References/SMSService/SmsService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://uat.siamsmile.co.th:9203/Module/SMSs/SmsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSCommunicateService.Module.SMSs" />
  <xs:import schemaLocation="http://uat.siamsmile.co.th:9203/Module/SMSs/SmsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SmileSCommunicateService.Model" />
  <xs:element name="GetCredit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmileSCommunicateService.Module.SMSs" minOccurs="0" name="GetCreditResult" nillable="true" type="q1:ArrayOfCreditRemain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSms">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmileSCommunicateService.Model" minOccurs="0" name="sms" nillable="true" type="q2:SMS" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmileSCommunicateService.Module.SMSs" minOccurs="0" name="lstEmpPhone" nillable="true" type="q3:ArrayOfEmpPhone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmileSCommunicateService.Module.SMSs" minOccurs="0" name="SendSmsResult" nillable="true" type="q4:ArrayOfSendSms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSmsV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmileSCommunicateService.Model" minOccurs="0" name="sms" nillable="true" type="q5:SMS" />
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSmsV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SmileSCommunicateService.Module.SMSs" minOccurs="0" name="SendSmsV2Result" nillable="true" type="q6:SendSms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSmsTEST">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSmsTESTResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionNotDeliveryNotify">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionNotDeliveryNotifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTransactionNotDeliveryNotifyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSmsWithFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SmileSCommunicateService.Model" minOccurs="0" name="sms" nillable="true" type="q7:SMS" />
        <xs:element minOccurs="0" name="pathFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sheetName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oneToOne" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSmsWithFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SmileSCommunicateService.Module.SMSs" minOccurs="0" name="SendSmsWithFileResult" nillable="true" type="q8:ArrayOfEmpPhone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMS_Outbound">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sectionId" type="xs:int" />
        <xs:element minOccurs="0" name="createBy" type="xs:int" />
        <xs:element minOccurs="0" name="smsTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMS_OutboundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendSMS_OutboundResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_LogSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_LogSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SmileSCommunicateService.Module.SMSs" minOccurs="0" name="Get_LogSMSResult" nillable="true" type="q9:ArrayOfReceiverResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>