SmileSPresentation/SmileSMobileWebUI/Service References/SMSService/SmsService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileSCommunicateService.Module.SMSs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileSCommunicateService.Module.SMSs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCreditRemain">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditRemain" nillable="true" type="tns:CreditRemain" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditRemain" nillable="true" type="tns:ArrayOfCreditRemain" />
  <xs:complexType name="CreditRemain">
    <xs:sequence>
      <xs:element minOccurs="0" name="Credit" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditRemain" nillable="true" type="tns:CreditRemain" />
  <xs:complexType name="ArrayOfEmpPhone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpPhone" nillable="true" type="tns:EmpPhone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpPhone" nillable="true" type="tns:ArrayOfEmpPhone" />
  <xs:complexType name="EmpPhone">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmpId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpPhone" nillable="true" type="tns:EmpPhone" />
  <xs:complexType name="ArrayOfSendSms">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SendSms" nillable="true" type="tns:SendSms" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSendSms" nillable="true" type="tns:ArrayOfSendSms" />
  <xs:complexType name="SendSms">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SMSTransectionID" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sumphone" type="xs:int" />
      <xs:element minOccurs="0" name="Transection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usedcredit" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendSms" nillable="true" type="tns:SendSms" />
  <xs:complexType name="ArrayOfReceiverResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReceiverResult" nillable="true" type="tns:ReceiverResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceiverResult" nillable="true" type="tns:ArrayOfReceiverResult" />
  <xs:complexType name="ReceiverResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiverResult" nillable="true" type="tns:ReceiverResult" />
</xs:schema>