SmileSPresentation/SmileSUnderwriteAudit/Connected Services/SSSDocService/DocumentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileSDocService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileSDocService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Document" nillable="true" type="tns:Document" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocument" nillable="true" type="tns:ArrayOfDocument" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentFileId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentTypeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PathFullDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PathThumbnailImg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RunningNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document" nillable="true" type="tns:Document" />
  <xs:complexType name="SSSDocResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSSDocResult" nillable="true" type="tns:SSSDocResult" />
</xs:schema>