SmileSPresentation/SmileSUnderwrite/Connected Services/DatacenterOrganizeService/OrganizeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfusp_Hospital_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_Hospital_Select_Result" nillable="true" type="tns:usp_Hospital_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_Hospital_Select_Result" nillable="true" type="tns:ArrayOfusp_Hospital_Select_Result" />
  <xs:complexType name="usp_Hospital_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abbreviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressFullDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrganizeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizeType_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Organize_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Ref_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Title_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalCount" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Hospital_Select_Result" nillable="true" type="tns:usp_Hospital_Select_Result" />
  <xs:complexType name="ArrayOfusp_Insurance_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_Insurance_Select_Result" nillable="true" type="tns:usp_Insurance_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_Insurance_Select_Result" nillable="true" type="tns:ArrayOfusp_Insurance_Select_Result" />
  <xs:complexType name="usp_Insurance_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abbreviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Insurance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceId" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrganizeType_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Ref_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Title_ID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Insurance_Select_Result" nillable="true" type="tns:usp_Insurance_Select_Result" />
</xs:schema>