SmileSPresentation/SmileSUnderwrite/Connected Services/DatacenterOrganizeService/OrganizeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://49.231.178.249:9680/Module/Organize/OrganizeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" />
  <xs:element name="GetHospital">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provinceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="districtId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subDistrictId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keyWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="indexStart" type="xs:int" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHospitalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetHospitalResult" nillable="true" type="q1:ArrayOfusp_Hospital_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherInsurance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insuranceId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherInsuranceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetOtherInsuranceResult" nillable="true" type="q2:ArrayOfusp_Insurance_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>