SmileSPresentation/SmileSMobileWebUI/Service References/CommonService/CommonService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileSMobileAppService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileSMobileAppService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfusp_MasterFilterList_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_MasterFilterList_Select_Result" nillable="true" type="tns:usp_MasterFilterList_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_MasterFilterList_Select_Result" nillable="true" type="tns:ArrayOfusp_MasterFilterList_Select_Result" />
  <xs:complexType name="usp_MasterFilterList_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Display" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_MasterFilterList_Select_Result" nillable="true" type="tns:usp_MasterFilterList_Select_Result" />
  <xs:complexType name="usp_MobileVersion_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="linkDW" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_MobileVersion_Select_Result" nillable="true" type="tns:usp_MobileVersion_Select_Result" />
  <xs:complexType name="usp_AgentLocation_Insert_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentLocationID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_AgentLocation_Insert_Result" nillable="true" type="tns:usp_AgentLocation_Insert_Result" />
</xs:schema>