SmileSPresentation/SmileSMobileWebUI/Service References/CommonService/CommonService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9207/Module/Common/CommonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9207/Module/Common/CommonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9207/Module/Common/CommonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSMobileAppService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommonService_GetMasterFilterList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMasterFilterList" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetMasterFilterList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMasterFilterListResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetMobileVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMobileVersion" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetMobileVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMobileVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_SetAgentLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAgentLocation" />
  </wsdl:message>
  <wsdl:message name="ICommonService_SetAgentLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAgentLocationResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommonService">
    <wsdl:operation name="GetMasterFilterList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/GetMasterFilterList" message="tns:ICommonService_GetMasterFilterList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/GetMasterFilterListResponse" message="tns:ICommonService_GetMasterFilterList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMobileVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/GetMobileVersion" message="tns:ICommonService_GetMobileVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/GetMobileVersionResponse" message="tns:ICommonService_GetMobileVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAgentLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/SetAgentLocation" message="tns:ICommonService_SetAgentLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/SetAgentLocationResponse" message="tns:ICommonService_SetAgentLocation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICommonService" type="tns:ICommonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMasterFilterList">
      <soap:operation soapAction="http://tempuri.org/ICommonService/GetMasterFilterList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMobileVersion">
      <soap:operation soapAction="http://tempuri.org/ICommonService/GetMobileVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAgentLocation">
      <soap:operation soapAction="http://tempuri.org/ICommonService/SetAgentLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonService">
    <wsdl:port name="BasicHttpBinding_ICommonService" binding="tns:BasicHttpBinding_ICommonService">
      <soap:address location="http://uat.siamsmile.co.th:9207/Module/Common/CommonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>