SmileSPresentation/SmileSMobileWebUI/Service References/CommonService/CommonService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://uat.siamsmile.co.th:9207/Module/Common/CommonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSMobileAppService.Model" />
  <xs:element name="GetMasterFilterList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterFilterListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmileSMobileAppService.Model" minOccurs="0" name="GetMasterFilterListResult" nillable="true" type="q1:ArrayOfusp_MasterFilterList_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobileVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobileVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmileSMobileAppService.Model" minOccurs="0" name="GetMobileVersionResult" nillable="true" type="q2:usp_MobileVersion_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAgentLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gps" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAgentLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmileSMobileAppService.Model" minOccurs="0" name="SetAgentLocationResult" nillable="true" type="q3:usp_AgentLocation_Insert_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>