SmileSPresentation/SmileClaimV1/Service References/ClaimSeviceDataCenter/ClaimService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClaimService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6964/Module/Claim/ClaimService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6964/Module/Claim/ClaimService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6964/Module/Claim/ClaimService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClaimService_GetClaimType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimType" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimAdmidType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimAdmidType" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetClaimAdmidType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimAdmidTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetChiefComplain_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChiefComplain" />
  </wsdl:message>
  <wsdl:message name="IClaimService_GetChiefComplain_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChiefComplainResponse" />
  </wsdl:message>
  <wsdl:portType name="IClaimService">
    <wsdl:operation name="GetClaimType">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/GetClaimType" message="tns:IClaimService_GetClaimType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/GetClaimTypeResponse" message="tns:IClaimService_GetClaimType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClaimAdmidType">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/GetClaimAdmidType" message="tns:IClaimService_GetClaimAdmidType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/GetClaimAdmidTypeResponse" message="tns:IClaimService_GetClaimAdmidType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChiefComplain">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimService/GetChiefComplain" message="tns:IClaimService_GetChiefComplain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimService/GetChiefComplainResponse" message="tns:IClaimService_GetChiefComplain_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClaimService" type="tns:IClaimService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClaimType">
      <soap:operation soapAction="http://tempuri.org/IClaimService/GetClaimType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClaimAdmidType">
      <soap:operation soapAction="http://tempuri.org/IClaimService/GetClaimAdmidType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChiefComplain">
      <soap:operation soapAction="http://tempuri.org/IClaimService/GetChiefComplain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClaimService">
    <wsdl:port name="BasicHttpBinding_IClaimService" binding="tns:BasicHttpBinding_IClaimService">
      <soap:address location="http://localhost:6964/Module/Claim/ClaimService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>