SmileSPresentation/SmileClaimV1/Service References/ClaimSeviceDataCenter/ClaimService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6964/Module/Claim/ClaimService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" />
  <xs:element name="GetClaimType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="isActive" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetClaimTypeResult" nillable="true" type="q1:ArrayOfusp_ClaimType_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimAdmidType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productGroupID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="claimTypeID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="isActive" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimAdmidTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetClaimAdmidTypeResult" nillable="true" type="q2:ArrayOfusp_ClaimAdmitType_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChiefComplain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chiefComplainID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="isActive" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChiefComplainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetChiefComplainResult" nillable="true" type="q3:ArrayOfusp_ChiefComplain_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>