SmileSPresentation/SmileClaimV1/Service References/ClaimSeviceDataCenter/ClaimService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfusp_ClaimType_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_ClaimType_Select_Result" nillable="true" type="tns:usp_ClaimType_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_ClaimType_Select_Result" nillable="true" type="tns:ArrayOfusp_ClaimType_Select_Result" />
  <xs:complexType name="usp_ClaimType_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaimTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProductGroupID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ClaimType_Select_Result" nillable="true" type="tns:usp_ClaimType_Select_Result" />
  <xs:complexType name="ArrayOfusp_ClaimAdmitType_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_ClaimAdmitType_Select_Result" nillable="true" type="tns:usp_ClaimAdmitType_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_ClaimAdmitType_Select_Result" nillable="true" type="tns:ArrayOfusp_ClaimAdmitType_Select_Result" />
  <xs:complexType name="usp_ClaimAdmitType_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaimAdmitTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimAdmitTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimAdmitTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="ClaimTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProductGroupID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ClaimAdmitType_Select_Result" nillable="true" type="tns:usp_ClaimAdmitType_Select_Result" />
  <xs:complexType name="ArrayOfusp_ChiefComplain_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_ChiefComplain_Select_Result" nillable="true" type="tns:usp_ChiefComplain_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_ChiefComplain_Select_Result" nillable="true" type="tns:ArrayOfusp_ChiefComplain_Select_Result" />
  <xs:complexType name="usp_ChiefComplain_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authorize_Condition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChiefComplainCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChiefComplainDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChiefComplainID" type="xs:int" />
      <xs:element minOccurs="0" name="Hospital_Notice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsConsult" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ChiefComplain_Select_Result" nillable="true" type="tns:usp_ChiefComplain_Select_Result" />
</xs:schema>