SmileSPresentation/SmileClaimV1/Service References/ClaimService_HCI/ClaimService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateClaimInform">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="claimAdmitTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="chiefComplainID" type="xs:int" />
        <xs:element minOccurs="0" name="productGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="hciStatusID" type="xs:int" />
        <xs:element minOccurs="0" name="hospitalID" type="xs:int" />
        <xs:element minOccurs="0" name="createdByID" type="xs:int" />
        <xs:element minOccurs="0" name="dateHappen" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateIssue" type="xs:dateTime" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerPhoneNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="referenceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OPD_All" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="OPD_Used" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="OPD_Net" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClaimInformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateClaimInformResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>