SmileSPresentation/SmileSMobileWebUI/Service References/PHApplicationService/ApplicationService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ApplicationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9212/Module/Application/ApplicationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9212/Module/Application/ApplicationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://uat.siamsmile.co.th:9212/Module/Application/ApplicationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplicationService_GetCustomerProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerProfile" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetCustomerProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_CustomerSearchHeaderInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerSearchHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_CustomerSearchHeaderInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerSearchHeaderInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_CustomerSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerSearch" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_CustomerSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetCustomerDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDetail" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetCustomerDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetCustomerBenefitDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerBenefitDetail" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetCustomerBenefitDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerBenefitDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetCoverageByBenefitID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCoverageByBenefitID" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetCoverageByBenefitID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoverageByBenefitIDResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationbyCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationbyCustomer" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationbyCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationbyCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationCheckZCardID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationCheckZCardID" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationCheckZCardID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationCheckZCardIDResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationDetail" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationBenefit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationBenefit" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationBenefit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationBenefitResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationUWMemo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationUWMemo" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationUWMemo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationUWMemoResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetApplicationHeader_InputMessage">
    <wsdl:part name="parameters" element="tns:SetApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetApplicationHeader_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetApplicationHeaderResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetApplicationHeader_Validate_InputMessage">
    <wsdl:part name="parameters" element="tns:SetApplicationHeader_Validate" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetApplicationHeader_Validate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetApplicationHeader_ValidateResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetApplicationPh02_InputMessage">
    <wsdl:part name="parameters" element="tns:SetApplicationPh02" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetApplicationPh02_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetApplicationPh02Response" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetApplicationPh03_InputMessage">
    <wsdl:part name="parameters" element="tns:SetApplicationPh03" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetApplicationPh03_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetApplicationPh03Response" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetApplicationPh06_InputMessage">
    <wsdl:part name="parameters" element="tns:SetApplicationPh06" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetApplicationPh06_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetApplicationPh06Response" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetApplicationPh01_InputMessage">
    <wsdl:part name="parameters" element="tns:SetApplicationPh01" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetApplicationPh01_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetApplicationPh01Response" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationHeader_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationHeader_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationHeaderResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationCommunity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationCommunity" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationCommunity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationCommunityResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetHeirByAppId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHeirByAppId" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetHeirByAppId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHeirByAppIdResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetHeir_InputMessage">
    <wsdl:part name="parameters" element="tns:SetHeir" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetHeir_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetHeirResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_DeleteHeir_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteHeir" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_DeleteHeir_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteHeirResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetEmergencyContactByAppId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmergencyContactByAppId" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetEmergencyContactByAppId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmergencyContactByAppIdResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_DeleteEmergencyContact_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmergencyContact" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_DeleteEmergencyContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmergencyContactResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_InsertEmergencyContact_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmergencyContact" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_InsertEmergencyContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmergencyContactResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_UpdateEmergencyContact_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmergencyContact" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_UpdateEmergencyContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmergencyContactResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetUnderWriteByAppID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnderWriteByAppID" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetUnderWriteByAppID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnderWriteByAppIDResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetApplicationPh05_InputMessage">
    <wsdl:part name="parameters" element="tns:SetApplicationPh05" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetApplicationPh05_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetApplicationPh05Response" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetCustomerMemoByAppID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerMemoByAppID" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetCustomerMemoByAppID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerMemoByAppIDResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetCustomerMemo_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCustomerMemo" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetCustomerMemo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCustomerMemoResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetAplicationListByStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAplicationListByStatus" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetAplicationListByStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAplicationListByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_TESTJquery_InputMessage">
    <wsdl:part name="parameters" element="tns:TESTJquery" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_TESTJquery_OutputMessage">
    <wsdl:part name="parameters" element="tns:TESTJqueryResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetApplicationHouse_InputMessage">
    <wsdl:part name="parameters" element="tns:SetApplicationHouse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetApplicationHouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetApplicationHouseResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetNewAppDCRByProductGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewAppDCRByProductGroup" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetNewAppDCRByProductGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewAppDCRByProductGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetDetailPACommunity_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDetailPACommunity" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetDetailPACommunity_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDetailPACommunityResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetTrCustomerTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrCustomerTransaction" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetTrCustomerTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrCustomerTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetTrCustomerTransactionDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrCustomerTransactionDetail" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetTrCustomerTransactionDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrCustomerTransactionDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetNewCommunity_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNewCommunity" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_SetNewCommunity_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNewCommunityResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_UpdateApplicationHeader_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateApplicationHeader" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_UpdateApplicationHeader_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateApplicationHeaderResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetLap_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLap" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetLap_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLapResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetNewAppDcrByProductGroupCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewAppDcrByProductGroupCount" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetNewAppDcrByProductGroupCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewAppDcrByProductGroupCountResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetNewAppDcrByProductGroupDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewAppDcrByProductGroupDetail" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetNewAppDcrByProductGroupDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewAppDcrByProductGroupDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="IApplicationService">
    <wsdl:operation name="GetCustomerProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetCustomerProfile" message="tns:IApplicationService_GetCustomerProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetCustomerProfileResponse" message="tns:IApplicationService_GetCustomerProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerSearchHeaderInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/CustomerSearchHeaderInfo" message="tns:IApplicationService_CustomerSearchHeaderInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/CustomerSearchHeaderInfoResponse" message="tns:IApplicationService_CustomerSearchHeaderInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/CustomerSearch" message="tns:IApplicationService_CustomerSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/CustomerSearchResponse" message="tns:IApplicationService_CustomerSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetCustomerDetail" message="tns:IApplicationService_GetCustomerDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetCustomerDetailResponse" message="tns:IApplicationService_GetCustomerDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerBenefitDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetCustomerBenefitDetail" message="tns:IApplicationService_GetCustomerBenefitDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetCustomerBenefitDetailResponse" message="tns:IApplicationService_GetCustomerBenefitDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCoverageByBenefitID">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetCoverageByBenefitID" message="tns:IApplicationService_GetCoverageByBenefitID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetCoverageByBenefitIDResponse" message="tns:IApplicationService_GetCoverageByBenefitID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationbyCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationbyCustomer" message="tns:IApplicationService_GetApplicationbyCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationbyCustomerResponse" message="tns:IApplicationService_GetApplicationbyCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationCheckZCardID">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationCheckZCardID" message="tns:IApplicationService_GetApplicationCheckZCardID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationCheckZCardIDResponse" message="tns:IApplicationService_GetApplicationCheckZCardID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationDetail" message="tns:IApplicationService_GetApplicationDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationDetailResponse" message="tns:IApplicationService_GetApplicationDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationBenefit">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationBenefit" message="tns:IApplicationService_GetApplicationBenefit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationBenefitResponse" message="tns:IApplicationService_GetApplicationBenefit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationUWMemo">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationUWMemo" message="tns:IApplicationService_GetApplicationUWMemo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationUWMemoResponse" message="tns:IApplicationService_GetApplicationUWMemo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetApplicationHeader">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/SetApplicationHeader" message="tns:IApplicationService_SetApplicationHeader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/SetApplicationHeaderResponse" message="tns:IApplicationService_SetApplicationHeader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetApplicationHeader_Validate">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/SetApplicationHeader_Validate" message="tns:IApplicationService_SetApplicationHeader_Validate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/SetApplicationHeader_ValidateResponse" message="tns:IApplicationService_SetApplicationHeader_Validate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetApplicationPh02">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/SetApplicationPh02" message="tns:IApplicationService_SetApplicationPh02_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/SetApplicationPh02Response" message="tns:IApplicationService_SetApplicationPh02_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetApplicationPh03">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/SetApplicationPh03" message="tns:IApplicationService_SetApplicationPh03_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/SetApplicationPh03Response" message="tns:IApplicationService_SetApplicationPh03_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetApplicationPh06">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/SetApplicationPh06" message="tns:IApplicationService_SetApplicationPh06_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/SetApplicationPh06Response" message="tns:IApplicationService_SetApplicationPh06_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetApplicationPh01">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/SetApplicationPh01" message="tns:IApplicationService_SetApplicationPh01_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/SetApplicationPh01Response" message="tns:IApplicationService_SetApplicationPh01_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationHeader">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationHeader" message="tns:IApplicationService_GetApplicationHeader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationHeaderResponse" message="tns:IApplicationService_GetApplicationHeader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationCommunity">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationCommunity" message="tns:IApplicationService_GetApplicationCommunity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationCommunityResponse" message="tns:IApplicationService_GetApplicationCommunity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHeirByAppId">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetHeirByAppId" message="tns:IApplicationService_GetHeirByAppId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetHeirByAppIdResponse" message="tns:IApplicationService_GetHeirByAppId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetHeir">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/SetHeir" message="tns:IApplicationService_SetHeir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/SetHeirResponse" message="tns:IApplicationService_SetHeir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteHeir">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/DeleteHeir" message="tns:IApplicationService_DeleteHeir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/DeleteHeirResponse" message="tns:IApplicationService_DeleteHeir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmergencyContactByAppId">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetEmergencyContactByAppId" message="tns:IApplicationService_GetEmergencyContactByAppId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetEmergencyContactByAppIdResponse" message="tns:IApplicationService_GetEmergencyContactByAppId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmergencyContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/DeleteEmergencyContact" message="tns:IApplicationService_DeleteEmergencyContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/DeleteEmergencyContactResponse" message="tns:IApplicationService_DeleteEmergencyContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEmergencyContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/InsertEmergencyContact" message="tns:IApplicationService_InsertEmergencyContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/InsertEmergencyContactResponse" message="tns:IApplicationService_InsertEmergencyContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmergencyContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/UpdateEmergencyContact" message="tns:IApplicationService_UpdateEmergencyContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/UpdateEmergencyContactResponse" message="tns:IApplicationService_UpdateEmergencyContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnderWriteByAppID">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetUnderWriteByAppID" message="tns:IApplicationService_GetUnderWriteByAppID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetUnderWriteByAppIDResponse" message="tns:IApplicationService_GetUnderWriteByAppID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetApplicationPh05">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/SetApplicationPh05" message="tns:IApplicationService_SetApplicationPh05_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/SetApplicationPh05Response" message="tns:IApplicationService_SetApplicationPh05_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerMemoByAppID">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetCustomerMemoByAppID" message="tns:IApplicationService_GetCustomerMemoByAppID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetCustomerMemoByAppIDResponse" message="tns:IApplicationService_GetCustomerMemoByAppID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCustomerMemo">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/SetCustomerMemo" message="tns:IApplicationService_SetCustomerMemo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/SetCustomerMemoResponse" message="tns:IApplicationService_SetCustomerMemo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAplicationListByStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetAplicationListByStatus" message="tns:IApplicationService_GetAplicationListByStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetAplicationListByStatusResponse" message="tns:IApplicationService_GetAplicationListByStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TESTJquery">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/TESTJquery" message="tns:IApplicationService_TESTJquery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/TESTJqueryResponse" message="tns:IApplicationService_TESTJquery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetApplicationHouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/SetApplicationHouse" message="tns:IApplicationService_SetApplicationHouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/SetApplicationHouseResponse" message="tns:IApplicationService_SetApplicationHouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewAppDCRByProductGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetNewAppDCRByProductGroup" message="tns:IApplicationService_GetNewAppDCRByProductGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetNewAppDCRByProductGroupResponse" message="tns:IApplicationService_GetNewAppDCRByProductGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDetailPACommunity">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/SetDetailPACommunity" message="tns:IApplicationService_SetDetailPACommunity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/SetDetailPACommunityResponse" message="tns:IApplicationService_SetDetailPACommunity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrCustomerTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetTrCustomerTransaction" message="tns:IApplicationService_GetTrCustomerTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetTrCustomerTransactionResponse" message="tns:IApplicationService_GetTrCustomerTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrCustomerTransactionDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetTrCustomerTransactionDetail" message="tns:IApplicationService_GetTrCustomerTransactionDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetTrCustomerTransactionDetailResponse" message="tns:IApplicationService_GetTrCustomerTransactionDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNewCommunity">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/SetNewCommunity" message="tns:IApplicationService_SetNewCommunity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/SetNewCommunityResponse" message="tns:IApplicationService_SetNewCommunity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateApplicationHeader">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/UpdateApplicationHeader" message="tns:IApplicationService_UpdateApplicationHeader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/UpdateApplicationHeaderResponse" message="tns:IApplicationService_UpdateApplicationHeader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLap">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetLap" message="tns:IApplicationService_GetLap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetLapResponse" message="tns:IApplicationService_GetLap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewAppDcrByProductGroupCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetNewAppDcrByProductGroupCount" message="tns:IApplicationService_GetNewAppDcrByProductGroupCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetNewAppDcrByProductGroupCountResponse" message="tns:IApplicationService_GetNewAppDcrByProductGroupCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewAppDcrByProductGroupDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetNewAppDcrByProductGroupDetail" message="tns:IApplicationService_GetNewAppDcrByProductGroupDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetNewAppDcrByProductGroupDetailResponse" message="tns:IApplicationService_GetNewAppDcrByProductGroupDetail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IApplicationService" type="tns:IApplicationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomerProfile">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetCustomerProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerSearchHeaderInfo">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/CustomerSearchHeaderInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerSearch">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/CustomerSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDetail">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetCustomerDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerBenefitDetail">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetCustomerBenefitDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCoverageByBenefitID">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetCoverageByBenefitID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationbyCustomer">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetApplicationbyCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationCheckZCardID">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetApplicationCheckZCardID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationDetail">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetApplicationDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationBenefit">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetApplicationBenefit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationUWMemo">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetApplicationUWMemo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetApplicationHeader">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/SetApplicationHeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetApplicationHeader_Validate">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/SetApplicationHeader_Validate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetApplicationPh02">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/SetApplicationPh02" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetApplicationPh03">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/SetApplicationPh03" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetApplicationPh06">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/SetApplicationPh06" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetApplicationPh01">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/SetApplicationPh01" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationHeader">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetApplicationHeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationCommunity">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetApplicationCommunity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHeirByAppId">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetHeirByAppId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetHeir">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/SetHeir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteHeir">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/DeleteHeir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmergencyContactByAppId">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetEmergencyContactByAppId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmergencyContact">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/DeleteEmergencyContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEmergencyContact">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/InsertEmergencyContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmergencyContact">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/UpdateEmergencyContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnderWriteByAppID">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetUnderWriteByAppID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetApplicationPh05">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/SetApplicationPh05" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerMemoByAppID">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetCustomerMemoByAppID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCustomerMemo">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/SetCustomerMemo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAplicationListByStatus">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetAplicationListByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TESTJquery">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/TESTJquery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetApplicationHouse">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/SetApplicationHouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewAppDCRByProductGroup">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetNewAppDCRByProductGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDetailPACommunity">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/SetDetailPACommunity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrCustomerTransaction">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetTrCustomerTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrCustomerTransactionDetail">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetTrCustomerTransactionDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNewCommunity">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/SetNewCommunity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateApplicationHeader">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/UpdateApplicationHeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLap">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetLap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewAppDcrByProductGroupCount">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetNewAppDcrByProductGroupCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewAppDcrByProductGroupDetail">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetNewAppDcrByProductGroupDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplicationService">
    <wsdl:port name="BasicHttpBinding_IApplicationService" binding="tns:BasicHttpBinding_IApplicationService">
      <soap:address location="http://uat.siamsmile.co.th:9212/Module/Application/ApplicationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>