SmileSPresentation/SmileSMobileWebUI/Service References/PHApplicationService/ApplicationService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="usp_GetCustomerProfile_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSCardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZcardTypeid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Zcardid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetCustomerProfile_Select_Result" nillable="true" type="tns:usp_GetCustomerProfile_Select_Result" />
  <xs:complexType name="usp_CustomerSearch_HeaderInfo_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalPages" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRecords" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_CustomerSearch_HeaderInfo_Result" nillable="true" type="tns:usp_CustomerSearch_HeaderInfo_Result" />
  <xs:complexType name="ArrayOfusp_CustomerSearch_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_CustomerSearch_Select_Result" nillable="true" type="tns:usp_CustomerSearch_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_CustomerSearch_Select_Result" nillable="true" type="tns:ArrayOfusp_CustomerSearch_Select_Result" />
  <xs:complexType name="usp_CustomerSearch_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CancelDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartCoverDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_CustomerSearch_Select_Result" nillable="true" type="tns:usp_CustomerSearch_Select_Result" />
  <xs:complexType name="usp_CustomerDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ages" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ApplicationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentityNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceCompanyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Passport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartCoverDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_CustomerDetail_Select_Result" nillable="true" type="tns:usp_CustomerDetail_Select_Result" />
  <xs:complexType name="ArrayOfusp_CustomerBenefitDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_CustomerBenefitDetail_Select_Result" nillable="true" type="tns:usp_CustomerBenefitDetail_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_CustomerBenefitDetail_Select_Result" nillable="true" type="tns:ArrayOfusp_CustomerBenefitDetail_Select_Result" />
  <xs:complexType name="usp_CustomerBenefitDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenefitGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BenefitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxPrice" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MaxQuantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PricePerUnit" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="PriceUnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantityUnit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_CustomerBenefitDetail_Select_Result" nillable="true" type="tns:usp_CustomerBenefitDetail_Select_Result" />
  <xs:complexType name="ArrayOfusp_BenefitCoverrage_ByBenefitID_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_BenefitCoverrage_ByBenefitID_Select_Result" nillable="true" type="tns:usp_BenefitCoverrage_ByBenefitID_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_BenefitCoverrage_ByBenefitID_Select_Result" nillable="true" type="tns:ArrayOfusp_BenefitCoverrage_ByBenefitID_Select_Result" />
  <xs:complexType name="usp_BenefitCoverrage_ByBenefitID_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenefitGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BenefitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxPrice" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MaxQuantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PricePerUnit" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="PriceUnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantityUnit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_BenefitCoverrage_ByBenefitID_Select_Result" nillable="true" type="tns:usp_BenefitCoverrage_ByBenefitID_Select_Result" />
  <xs:complexType name="ArrayOfusp_GetApplicationbyCustomer_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetApplicationbyCustomer_Select_Result" nillable="true" type="tns:usp_GetApplicationbyCustomer_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetApplicationbyCustomer_Select_Result" nillable="true" type="tns:ArrayOfusp_GetApplicationbyCustomer_Select_Result" />
  <xs:complexType name="usp_GetApplicationbyCustomer_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppDCR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppIDPK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDay" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CancelDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CommunityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommunityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoreInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerZCardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Premium" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSCardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartCoverDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalClaim" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZCardid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="premiumInfo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetApplicationbyCustomer_Select_Result" nillable="true" type="tns:usp_GetApplicationbyCustomer_Select_Result" />
  <xs:complexType name="StdResultPH">
    <xs:sequence>
      <xs:element minOccurs="0" name="MSG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StdResultPH" nillable="true" type="tns:StdResultPH" />
  <xs:complexType name="ArrayOfusp_GetApplicationDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetApplicationDetail_Select_Result" nillable="true" type="tns:usp_GetApplicationDetail_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetApplicationDetail_Select_Result" nillable="true" type="tns:ArrayOfusp_GetApplicationDetail_Select_Result" />
  <xs:complexType name="usp_GetApplicationDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgeAtRegister" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppIDPK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDay" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BranchDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CancelDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CommunityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommunityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DCRCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuredCompanyany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdateStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LinkMoreInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoreInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerZCardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyTerm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Premium" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSCardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartCoverDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalClaim" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZCardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZCardIDType" type="xs:int" />
      <xs:element minOccurs="0" name="premiumInfo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetApplicationDetail_Select_Result" nillable="true" type="tns:usp_GetApplicationDetail_Select_Result" />
  <xs:complexType name="ArrayOfusp_GetApplicationBenefit_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetApplicationBenefit_Select_Result" nillable="true" type="tns:usp_GetApplicationBenefit_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetApplicationBenefit_Select_Result" nillable="true" type="tns:ArrayOfusp_GetApplicationBenefit_Select_Result" />
  <xs:complexType name="usp_GetApplicationBenefit_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BenefitDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BenefitGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Coverage" type="xs:double" />
      <xs:element minOccurs="0" name="CoverageID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxCoverage" type="xs:double" />
      <xs:element minOccurs="0" name="MaxQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="PerUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetApplicationBenefit_Select_Result" nillable="true" type="tns:usp_GetApplicationBenefit_Select_Result" />
  <xs:complexType name="ArrayOfusp_GetApplicationUWMemo_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetApplicationUWMemo_Select_Result" nillable="true" type="tns:usp_GetApplicationUWMemo_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetApplicationUWMemo_Select_Result" nillable="true" type="tns:ArrayOfusp_GetApplicationUWMemo_Select_Result" />
  <xs:complexType name="usp_GetApplicationUWMemo_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetApplicationUWMemo_Select_Result" nillable="true" type="tns:usp_GetApplicationUWMemo_Select_Result" />
  <xs:complexType name="ArrayOfusp_SetApplicationHeader_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_SetApplicationHeader_Result" nillable="true" type="tns:usp_SetApplicationHeader_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_SetApplicationHeader_Result" nillable="true" type="tns:ArrayOfusp_SetApplicationHeader_Result" />
  <xs:complexType name="usp_SetApplicationHeader_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="App_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuredCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuredCompany_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsMain" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PassportCardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerZcard_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Premium" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductGroup_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sale_ID1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartCoverDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ZCard_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_SetApplicationHeader_Result" nillable="true" type="tns:usp_SetApplicationHeader_Result" />
  <xs:complexType name="ArrayOfusp_SetApplicationHeader_Validate_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_SetApplicationHeader_Validate_Result" nillable="true" type="tns:usp_SetApplicationHeader_Validate_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_SetApplicationHeader_Validate_Result" nillable="true" type="tns:ArrayOfusp_SetApplicationHeader_Validate_Result" />
  <xs:complexType name="usp_SetApplicationHeader_Validate_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsResult" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Msg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_SetApplicationHeader_Validate_Result" nillable="true" type="tns:usp_SetApplicationHeader_Validate_Result" />
  <xs:complexType name="usp_GetApplicationHeader_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgeAtRegister_Day" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AgeAtRegister_Year" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AgeAtRegister_month" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AppPackage_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="App_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApproveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Bank_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BloodType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CancelDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CancelDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CancelMonth" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CancelYear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Card_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChangeCompanyDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CollectSource_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactAddress_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerType_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GovermentCardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="HomeAddress_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomePhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseCardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuredCompany_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuredPolicy_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAdditionalCustomer" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBankDeductNextMonth" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCheckSignature" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsConfirmFirstPeriodPremium" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPayer" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaritalStatus_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobilePhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationLevel_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Occupation_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassportCardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayMethod_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerAddress_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerOccupationLevel_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerOccupation_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerRelation_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerTitle_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerWorkAddress_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerZcardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Payer_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortfolioPeriod" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Premium" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RootApp_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaleTeam_id1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaleTeam_id2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sale_id1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sale_id2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartCoverDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartCoverDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StartCoverMonth" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StartCoverYear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamManager_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UDWBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UDWDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UDWGradeCount" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="UDWPeriod" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UDWRound" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UDWStatus_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VRY_InsuredGroupId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="WorkAddress_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Workplace_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearPaymentEndPeriod" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="YearPaymentMode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="YearPaymentStartPeriod" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ZCard_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZebraCarOwner_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZebraCar_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetApplicationHeader_Result" nillable="true" type="tns:usp_GetApplicationHeader_Result" />
  <xs:complexType name="ArrayOfusp_GetApplicationCommunity_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetApplicationCommunity_Select_Result" nillable="true" type="tns:usp_GetApplicationCommunity_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetApplicationCommunity_Select_Result" nillable="true" type="tns:ArrayOfusp_GetApplicationCommunity_Select_Result" />
  <xs:complexType name="usp_GetApplicationCommunity_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommunityDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Community_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCount" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetApplicationCommunity_Select_Result" nillable="true" type="tns:usp_GetApplicationCommunity_Select_Result" />
  <xs:complexType name="ArrayOfusp_GetHeirByAppID_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetHeirByAppID_Select_Result" nillable="true" type="tns:usp_GetHeirByAppID_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetHeirByAppID_Select_Result" nillable="true" type="tns:ArrayOfusp_GetHeirByAppID_Select_Result" />
  <xs:complexType name="usp_GetHeirByAppID_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="App_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeirIndex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HeirName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PercentShare" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Relation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Relation_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetHeirByAppID_Select_Result" nillable="true" type="tns:usp_GetHeirByAppID_Select_Result" />
  <xs:complexType name="ArrayOfusp_GetEmergencyContactByAppID_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetEmergencyContactByAppID_Select_Result" nillable="true" type="tns:usp_GetEmergencyContactByAppID_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetEmergencyContactByAppID_Select_Result" nillable="true" type="tns:ArrayOfusp_GetEmergencyContactByAppID_Select_Result" />
  <xs:complexType name="usp_GetEmergencyContactByAppID_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="App_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetEmergencyContactByAppID_Select_Result" nillable="true" type="tns:usp_GetEmergencyContactByAppID_Select_Result" />
  <xs:complexType name="ArrayOfusp_GetUnderWriteByAppID_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetUnderWriteByAppID_Select_Result" nillable="true" type="tns:usp_GetUnderWriteByAppID_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetUnderWriteByAppID_Select_Result" nillable="true" type="tns:ArrayOfusp_GetUnderWriteByAppID_Select_Result" />
  <xs:complexType name="usp_GetUnderWriteByAppID_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="App_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Average" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FalseText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsFalseStatement" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsForceDescription" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLostInformation" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MinValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Product_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantityText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Revision" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TrueText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UDWQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnderwriteBy_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnderwriteDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UnderwriteRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnderwriteResult" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="UnderwriteType_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Underwrite_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueNumber_Doc" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ValueNumber_UDW" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ValueText_Doc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueText_UDW" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueYN_Doc" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValueYN_UDW" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetUnderWriteByAppID_Select_Result" nillable="true" type="tns:usp_GetUnderWriteByAppID_Select_Result" />
  <xs:complexType name="ArrayOfusp_GetCustomerMemoByAppID_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetCustomerMemoByAppID_Select_Result" nillable="true" type="tns:usp_GetCustomerMemoByAppID_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetCustomerMemoByAppID_Select_Result" nillable="true" type="tns:ArrayOfusp_GetCustomerMemoByAppID_Select_Result" />
  <xs:complexType name="usp_GetCustomerMemoByAppID_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="App_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Claim_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateBy_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MemoGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemoGroup_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemoText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemoType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemoType_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetCustomerMemoByAppID_Select_Result" nillable="true" type="tns:usp_GetCustomerMemoByAppID_Select_Result" />
  <xs:complexType name="ArrayOfusp_GetAplicationListByStatus_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetAplicationListByStatus_Select_Result" nillable="true" type="tns:usp_GetAplicationListByStatus_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetAplicationListByStatus_Select_Result" nillable="true" type="tns:ArrayOfusp_GetAplicationListByStatus_Select_Result" />
  <xs:complexType name="usp_GetAplicationListByStatus_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppDCR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppIDPK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CancelDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommunityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommunityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuredCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdateStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoreInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerZCardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSCardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartCoverDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalClaim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZCardid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZCardidType" type="xs:int" />
      <xs:element minOccurs="0" name="linkMoreInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="premium" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="premiumInfo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetAplicationListByStatus_Select_Result" nillable="true" type="tns:usp_GetAplicationListByStatus_Select_Result" />
  <xs:complexType name="usp_Test_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsResult" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Msg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Test_Result" nillable="true" type="tns:usp_Test_Result" />
  <xs:complexType name="ArrayOfusp_GetNewAppDcrByProductGroup_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetNewAppDcrByProductGroup_Result" nillable="true" type="tns:usp_GetNewAppDcrByProductGroup_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetNewAppDcrByProductGroup_Result" nillable="true" type="tns:ArrayOfusp_GetNewAppDcrByProductGroup_Result" />
  <xs:complexType name="usp_GetNewAppDcrByProductGroup_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="App_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UDWStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetNewAppDcrByProductGroup_Result" nillable="true" type="tns:usp_GetNewAppDcrByProductGroup_Result" />
  <xs:complexType name="usp_SetApplication_PACommunity_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsResult" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Msg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_SetApplication_PACommunity_Result" nillable="true" type="tns:usp_SetApplication_PACommunity_Result" />
  <xs:complexType name="ArrayOfusp_TRCustomerTransaction_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_TRCustomerTransaction_Select_Result" nillable="true" type="tns:usp_TRCustomerTransaction_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_TRCustomerTransaction_Select_Result" nillable="true" type="tns:ArrayOfusp_TRCustomerTransaction_Select_Result" />
  <xs:complexType name="usp_TRCustomerTransaction_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Application_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerTransaction_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionType_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_TRCustomerTransaction_Select_Result" nillable="true" type="tns:usp_TRCustomerTransaction_Select_Result" />
  <xs:complexType name="ArrayOfusp_TRCustomerTransactionDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_TRCustomerTransactionDetail_Select_Result" nillable="true" type="tns:usp_TRCustomerTransactionDetail_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_TRCustomerTransactionDetail_Select_Result" nillable="true" type="tns:ArrayOfusp_TRCustomerTransactionDetail_Select_Result" />
  <xs:complexType name="usp_TRCustomerTransactionDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="From_Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="From_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="To_Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="To_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionTypeDetail_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_TRCustomerTransactionDetail_Select_Result" nillable="true" type="tns:usp_TRCustomerTransactionDetail_Select_Result" />
  <xs:complexType name="usp_SmilePACompany_Insert_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommunityId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_SmilePACompany_Insert_Result" nillable="true" type="tns:usp_SmilePACompany_Insert_Result" />
  <xs:complexType name="ArrayOfusp_SetApplicationHeader_Update_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_SetApplicationHeader_Update_Result" nillable="true" type="tns:usp_SetApplicationHeader_Update_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_SetApplicationHeader_Update_Result" nillable="true" type="tns:ArrayOfusp_SetApplicationHeader_Update_Result" />
  <xs:complexType name="usp_SetApplicationHeader_Update_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="App_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuredCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuredCompany_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsMain" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PassportCardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerZcard_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Premium" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductGroup_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sale_ID1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartCoverDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ZCard_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_SetApplicationHeader_Update_Result" nillable="true" type="tns:usp_SetApplicationHeader_Update_Result" />
  <xs:complexType name="ArrayOfusp_Lap_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_Lap_Select_Result" nillable="true" type="tns:usp_Lap_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_Lap_Select_Result" nillable="true" type="tns:ArrayOfusp_Lap_Select_Result" />
  <xs:complexType name="usp_Lap_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Period" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductGroupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Lap_Select_Result" nillable="true" type="tns:usp_Lap_Select_Result" />
  <xs:complexType name="ArrayOfusp_GetNewAppDcrByProductGroupCount_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetNewAppDcrByProductGroupCount_Select_Result" nillable="true" type="tns:usp_GetNewAppDcrByProductGroupCount_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetNewAppDcrByProductGroupCount_Select_Result" nillable="true" type="tns:ArrayOfusp_GetNewAppDcrByProductGroupCount_Select_Result" />
  <xs:complexType name="usp_GetNewAppDcrByProductGroupCount_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductGroupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetNewAppDcrByProductGroupCount_Select_Result" nillable="true" type="tns:usp_GetNewAppDcrByProductGroupCount_Select_Result" />
  <xs:complexType name="ArrayOfusp_GetNewAppDcrByProductGroupDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetNewAppDcrByProductGroupDetail_Select_Result" nillable="true" type="tns:usp_GetNewAppDcrByProductGroupDetail_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetNewAppDcrByProductGroupDetail_Select_Result" nillable="true" type="tns:ArrayOfusp_GetNewAppDcrByProductGroupDetail_Select_Result" />
  <xs:complexType name="usp_GetNewAppDcrByProductGroupDetail_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="App_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductGroup_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sale_id1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartCoverDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UDWStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetNewAppDcrByProductGroupDetail_Select_Result" nillable="true" type="tns:usp_GetNewAppDcrByProductGroupDetail_Select_Result" />
</xs:schema>