SmileSPresentation/SmileSMobileWebUI/Service References/PHApplicationService/ApplicationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://uat.siamsmile.co.th:9212/Module/Application/ApplicationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" />
  <xs:element name="GetCustomerProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zCardTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="zCardId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetCustomerProfileResult" nillable="true" type="q1:usp_GetCustomerProfile_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSearchHeaderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="criteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSearchHeaderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="CustomerSearchHeaderInfoResult" nillable="true" type="q2:usp_CustomerSearch_HeaderInfo_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="criteria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowsPerPage" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="CustomerSearchResult" nillable="true" type="q3:ArrayOfusp_CustomerSearch_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_applicationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetCustomerDetailResult" nillable="true" type="q4:usp_CustomerDetail_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerBenefitDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_applicationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerBenefitDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetCustomerBenefitDetailResult" nillable="true" type="q5:ArrayOfusp_CustomerBenefitDetail_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoverageByBenefitID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_applicationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_benefitID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoverageByBenefitIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetCoverageByBenefitIDResult" nillable="true" type="q6:ArrayOfusp_BenefitCoverrage_ByBenefitID_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationbyCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="indexStart" type="xs:int" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationbyCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetApplicationbyCustomerResult" nillable="true" type="q7:ArrayOfusp_GetApplicationbyCustomer_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationCheckZCardID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packageID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zCardTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="zCardId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationCheckZCardIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetApplicationCheckZCardIDResult" nillable="true" type="q8:StdResultPH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appIDPK" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetApplicationDetailResult" nillable="true" type="q9:ArrayOfusp_GetApplicationDetail_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationBenefit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appIDPK" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationBenefitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetApplicationBenefitResult" nillable="true" type="q10:ArrayOfusp_GetApplicationBenefit_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationUWMemo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appIDPK" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationUWMemoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetApplicationUWMemoResult" nillable="true" type="q11:ArrayOfusp_GetApplicationUWMemo_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApplicationHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packageId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dcrCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appIdpk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comunityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ssCardId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="titleId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zcardTypeid" type="xs:int" />
        <xs:element minOccurs="0" name="zcardid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birthday" type="xs:dateTime" />
        <xs:element minOccurs="0" name="payerTitle_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerZcardTypeid" type="xs:int" />
        <xs:element minOccurs="0" name="payerZcardid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerMobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prospectId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApplicationHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="SetApplicationHeaderResult" nillable="true" type="q12:ArrayOfusp_SetApplicationHeader_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApplicationHeader_Validate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packageId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dcrCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appIdpk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comunityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ssCardId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="titleId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zcardTypeid" type="xs:int" />
        <xs:element minOccurs="0" name="zcardid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birthday" type="xs:dateTime" />
        <xs:element minOccurs="0" name="payerTitle_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerZcardTypeid" type="xs:int" />
        <xs:element minOccurs="0" name="payerZcardid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerMobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prospectId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApplicationHeader_ValidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="SetApplicationHeader_ValidateResult" nillable="true" type="q13:ArrayOfusp_SetApplicationHeader_Validate_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApplicationPh02">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cusTitleId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustFirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustLastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Sex_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MaritalStatus_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BloodType_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Weight" type="xs:float" />
        <xs:element minOccurs="0" name="Height" type="xs:float" />
        <xs:element minOccurs="0" name="ZcardID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Passports" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OfficerCardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Occupation_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OccupationLevel_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WorkTel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UpdateBy_ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApplicationPh02Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetApplicationPh02Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApplicationPh03">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="App_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PayerRelation_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PayerTitle_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PayerFirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PayerLastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PayerZcardID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PayerOccupation_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PayerOccupationLevel_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PayerPhoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PayerEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UpdateBy_ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApplicationPh03Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetApplicationPh03Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApplicationPh06">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="App_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SentBranch_ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UpdateBy_ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApplicationPh06Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetApplicationPh06Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApplicationPh01">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isBankDeductNextMonth" type="xs:boolean" />
        <xs:element minOccurs="0" name="isCheckSignature" type="xs:boolean" />
        <xs:element minOccurs="0" name="isAdditionalCustomer" type="xs:boolean" />
        <xs:element minOccurs="0" name="paymethodId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="collectSourceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankAccountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="udwTimePeriodId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="saleId1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="saleId2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zebraId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="updateById" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApplicationPh01Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetApplicationPh01Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="app_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetApplicationHeaderResult" nillable="true" type="q14:usp_GetApplicationHeader_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationCommunity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provinceId" type="xs:int" />
        <xs:element minOccurs="0" name="districtId" type="xs:int" />
        <xs:element minOccurs="0" name="subDistrictId" type="xs:int" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="indexStart" type="xs:int" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationCommunityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetApplicationCommunityResult" nillable="true" type="q15:ArrayOfusp_GetApplicationCommunity_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeirByAppId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeirByAppIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetHeirByAppIdResult" nillable="true" type="q16:ArrayOfusp_GetHeirByAppID_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHeir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="relationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ZCardId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="titleId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="percentShare" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHeirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetHeirResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHeir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="heirId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHeirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmergencyContactByAppId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmergencyContactByAppIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetEmergencyContactByAppIdResult" nillable="true" type="q17:ArrayOfusp_GetEmergencyContactByAppID_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmergencyContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emergencyContactId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmergencyContactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmergencyContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="app_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmergencyContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertEmergencyContactResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmergencyContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerEmergencyContact_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmergencyContactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnderWriteByAppID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_applicationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_udwTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnderWriteByAppIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetUnderWriteByAppIDResult" nillable="true" type="q18:ArrayOfusp_GetUnderWriteByAppID_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApplicationPh05">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="App_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1001" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1002" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1003" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1004" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1005" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1006" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1007" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1101" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1102" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1103" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1201" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1202" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1203" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1301" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1302" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1303" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1304" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1305" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1306" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1307" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1308" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1309" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1310" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1311" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1312" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1313" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1314" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValueUdw_1315" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UpdateBy_ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApplicationPh05Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetApplicationPh05Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerMemoByAppID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_applicationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_memoGroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerMemoByAppIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetCustomerMemoByAppIDResult" nillable="true" type="q19:ArrayOfusp_GetCustomerMemoByAppID_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomerMemo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="App_ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreateBy_ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MemoType_ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MemoText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Claim_ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomerMemoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetCustomerMemoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAplicationListByStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tabNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterGroupType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keyWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="indexStart" type="xs:int" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAplicationListByStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetAplicationListByStatusResult" nillable="true" type="q20:ArrayOfusp_GetAplicationListByStatus_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TESTJquery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="houseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TESTJqueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="TESTJqueryResult" nillable="true" type="q21:usp_Test_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApplicationHouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startCoverDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="cardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="houseCardId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custTitleId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custFirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custLastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custZCardId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custBirthDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="custOccupationLevelId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custMobilePhoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custHomePhoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerTitleId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerFirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerLastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerZCardId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerOccupationLevelId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerMobilePhoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="yearPaymentMode" type="xs:int" />
        <xs:element minOccurs="0" name="billDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="receiptBookNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paymetmodId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="collectSourceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="saleId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zebraCarId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="updateById" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApplicationHouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetApplicationHouseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewAppDCRByProductGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dcr" type="xs:dateTime" />
        <xs:element minOccurs="0" name="productGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="indexStart" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewAppDCRByProductGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetNewAppDCRByProductGroupResult" nillable="true" type="q22:ArrayOfusp_GetNewAppDcrByProductGroup_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDetailPACommunity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="app_ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title_ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sex_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zCard_ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passport_ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birthDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="startCoverdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="occupationLevel_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobilePhoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address_ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sale_id1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="updatedBy_ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="card_no" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contactAddress_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDetailPACommunityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="SetDetailPACommunityResult" nillable="true" type="q23:usp_SetApplication_PACommunity_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrCustomerTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transactionTypeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrCustomerTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetTrCustomerTransactionResult" nillable="true" type="q24:ArrayOfusp_TRCustomerTransaction_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrCustomerTransactionDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transactionTypeDetailId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrCustomerTransactionDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetTrCustomerTransactionDetailResult" nillable="true" type="q25:ArrayOfusp_TRCustomerTransactionDetail_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNewCommunity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="communityDetail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contactName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contactPhoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contactEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buildingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="villageName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="no" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="moo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="floor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="road" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tumbol_ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createdBy_ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNewCommunityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="SetNewCommunityResult" nillable="true" type="q26:usp_SmilePACompany_Insert_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplicationHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packageId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dcrCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appIdpk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comunityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ssCardId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="titleId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zcardTypeid" type="xs:int" />
        <xs:element minOccurs="0" name="zcardid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birthday" type="xs:dateTime" />
        <xs:element minOccurs="0" name="payerTitle_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerZcardTypeid" type="xs:int" />
        <xs:element minOccurs="0" name="payerZcardid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerMobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prospectId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplicationHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="UpdateApplicationHeaderResult" nillable="true" type="q27:ArrayOfusp_SetApplicationHeader_Update_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetLapResult" nillable="true" type="q28:ArrayOfusp_Lap_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewAppDcrByProductGroupCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refTypeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productGroupCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewAppDcrByProductGroupCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetNewAppDcrByProductGroupCountResult" nillable="true" type="q29:ArrayOfusp_GetNewAppDcrByProductGroupCount_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewAppDcrByProductGroupDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refTypeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productGroupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="indexStart" type="xs:int" />
        <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewAppDcrByProductGroupDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetNewAppDcrByProductGroupDetailResult" nillable="true" type="q30:ArrayOfusp_GetNewAppDcrByProductGroupDetail_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>