SmileSPresentation/SmileUnderwriteBranch/Service References/SmileDocService/DocumentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocumentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://147.50.133.147:9208/Module/Document/DocumentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://147.50.133.147:9208/Module/Document/DocumentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://147.50.133.147:9208/Module/Document/DocumentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSDocService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumentService_GetDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocument" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_Set_Document_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_Document_Test" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_Set_Document_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_Document_TestResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_Set_Document_PHNewApp_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_Document_PHNewApp" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_Set_Document_PHNewApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_Document_PHNewAppResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_Set_Document_PHStatement_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_Document_PHStatement" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_Set_Document_PHStatement_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_Document_PHStatementResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_Set_Document_PA30NewApp_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_Document_PA30NewApp" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_Set_Document_PA30NewApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_Document_PA30NewAppResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_Set_Document_LifeNewApp_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_Document_LifeNewApp" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_Set_Document_LifeNewApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_Document_LifeNewAppResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_Set_Document_LifeETC_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_Document_LifeETC" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_Set_Document_LifeETC_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_Document_LifeETCResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_DeleteDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocument" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_DeleteDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentV2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentV2" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentV2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentV2Response" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentV2SmileDoc_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentV2SmileDoc" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetDocumentV2SmileDoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentV2SmileDocResponse" />
  </wsdl:message>
  <wsdl:portType name="IDocumentService">
    <wsdl:operation name="GetDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/GetDocument" message="tns:IDocumentService_GetDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/GetDocumentResponse" message="tns:IDocumentService_GetDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_Document_Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/Set_Document_Test" message="tns:IDocumentService_Set_Document_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/Set_Document_TestResponse" message="tns:IDocumentService_Set_Document_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_Document_PHNewApp">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/Set_Document_PHNewApp" message="tns:IDocumentService_Set_Document_PHNewApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/Set_Document_PHNewAppResponse" message="tns:IDocumentService_Set_Document_PHNewApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_Document_PHStatement">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/Set_Document_PHStatement" message="tns:IDocumentService_Set_Document_PHStatement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/Set_Document_PHStatementResponse" message="tns:IDocumentService_Set_Document_PHStatement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_Document_PA30NewApp">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/Set_Document_PA30NewApp" message="tns:IDocumentService_Set_Document_PA30NewApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/Set_Document_PA30NewAppResponse" message="tns:IDocumentService_Set_Document_PA30NewApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_Document_LifeNewApp">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/Set_Document_LifeNewApp" message="tns:IDocumentService_Set_Document_LifeNewApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/Set_Document_LifeNewAppResponse" message="tns:IDocumentService_Set_Document_LifeNewApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_Document_LifeETC">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/Set_Document_LifeETC" message="tns:IDocumentService_Set_Document_LifeETC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/Set_Document_LifeETCResponse" message="tns:IDocumentService_Set_Document_LifeETC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/DeleteDocument" message="tns:IDocumentService_DeleteDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/DeleteDocumentResponse" message="tns:IDocumentService_DeleteDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentV2">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/GetDocumentV2" message="tns:IDocumentService_GetDocumentV2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/GetDocumentV2Response" message="tns:IDocumentService_GetDocumentV2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentV2SmileDoc">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/GetDocumentV2SmileDoc" message="tns:IDocumentService_GetDocumentV2SmileDoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/GetDocumentV2SmileDocResponse" message="tns:IDocumentService_GetDocumentV2SmileDoc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDocumentService" type="tns:IDocumentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDocument">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/GetDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_Document_Test">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/Set_Document_Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_Document_PHNewApp">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/Set_Document_PHNewApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_Document_PHStatement">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/Set_Document_PHStatement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_Document_PA30NewApp">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/Set_Document_PA30NewApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_Document_LifeNewApp">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/Set_Document_LifeNewApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_Document_LifeETC">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/Set_Document_LifeETC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/DeleteDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentV2">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/GetDocumentV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentV2SmileDoc">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/GetDocumentV2SmileDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentService">
    <wsdl:port name="BasicHttpBinding_IDocumentService" binding="tns:BasicHttpBinding_IDocumentService">
      <soap:address location="http://147.50.133.147:9208/Module/Document/DocumentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>