SmileSPresentation/SmileSDuration/Connected Services/ComunicateService/SmsService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileSCommunicateService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileSCommunicateService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SMS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedByID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Receivers" nillable="true" type="tns:ArrayOfReceiver" />
      <xs:element minOccurs="0" name="SMSID" type="xs:int" />
      <xs:element minOccurs="0" name="SMSType" nillable="true" type="tns:SMSType" />
      <xs:element minOccurs="0" name="SMSTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Section" nillable="true" type="tns:Section" />
      <xs:element minOccurs="0" name="SectionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SendDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="tns:Sender" />
      <xs:element minOccurs="0" name="SenderID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Transactions" nillable="true" type="tns:ArrayOfTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMS" nillable="true" type="tns:SMS" />
  <xs:complexType name="ArrayOfReceiver">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Receiver" nillable="true" type="tns:Receiver" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceiver" nillable="true" type="tns:ArrayOfReceiver" />
  <xs:complexType name="Receiver">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="tns:Email" />
      <xs:element minOccurs="0" name="EmailContact" nillable="true" type="tns:EmailContact" />
      <xs:element minOccurs="0" name="EmailContact_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Email_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiverType" nillable="true" type="tns:ReceiverType" />
      <xs:element minOccurs="0" name="ReceiverType_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Receiver_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Receiver" nillable="true" type="tns:Receiver" />
  <xs:complexType name="Email">
    <xs:sequence>
      <xs:element minOccurs="0" name="BCC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailStatu" nillable="true" type="tns:EmailStatu" />
      <xs:element minOccurs="0" name="EmailStatus_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Email_ID" type="xs:int" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Receivers" nillable="true" type="tns:ArrayOfReceiver" />
      <xs:element minOccurs="0" name="Senders" nillable="true" type="tns:ArrayOfSender" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Email" nillable="true" type="tns:Email" />
  <xs:complexType name="EmailStatu">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailStatusDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailStatus_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Emails" nillable="true" type="tns:ArrayOfEmail" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="UpdateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailStatu" nillable="true" type="tns:EmailStatu" />
  <xs:complexType name="ArrayOfEmail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Email" nillable="true" type="tns:Email" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmail" nillable="true" type="tns:ArrayOfEmail" />
  <xs:complexType name="ArrayOfSender">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sender" nillable="true" type="tns:Sender" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSender" nillable="true" type="tns:ArrayOfSender" />
  <xs:complexType name="Sender">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="tns:Email" />
      <xs:element minOccurs="0" name="EmailContact" nillable="true" type="tns:EmailContact" />
      <xs:element minOccurs="0" name="EmailContact_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Email_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sender_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sender" nillable="true" type="tns:Sender" />
  <xs:complexType name="EmailContact">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailContact_ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Receivers" nillable="true" type="tns:ArrayOfReceiver" />
      <xs:element minOccurs="0" name="Senders" nillable="true" type="tns:ArrayOfSender" />
      <xs:element minOccurs="0" name="UpdateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailContact" nillable="true" type="tns:EmailContact" />
  <xs:complexType name="ReceiverType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReceiverTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverType_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Receivers" nillable="true" type="tns:ArrayOfReceiver" />
      <xs:element minOccurs="0" name="UpdateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiverType" nillable="true" type="tns:ReceiverType" />
  <xs:complexType name="SMSType">
    <xs:sequence>
      <xs:element minOccurs="0" name="SMS" nillable="true" type="tns:ArrayOfSMS" />
      <xs:element minOccurs="0" name="SMSTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SMSTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMSType" nillable="true" type="tns:SMSType" />
  <xs:complexType name="ArrayOfSMS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SMS" nillable="true" type="tns:SMS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSMS" nillable="true" type="tns:ArrayOfSMS" />
  <xs:complexType name="Section">
    <xs:sequence>
      <xs:element minOccurs="0" name="SMS" nillable="true" type="tns:ArrayOfSMS" />
      <xs:element minOccurs="0" name="SectionDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Section" nillable="true" type="tns:Section" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GetDeliveryNotify" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReferenceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SM" nillable="true" type="tns:SMS" />
      <xs:element minOccurs="0" name="SMSID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SumPhone" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionDetails" nillable="true" type="tns:ArrayOfTransactionDetail" />
      <xs:element minOccurs="0" name="TransactionID" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionStatu" nillable="true" type="tns:TransactionStatus" />
      <xs:element minOccurs="0" name="TransactionStatusID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UsedCredit" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="ArrayOfTransactionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionDetail" nillable="true" type="tns:TransactionDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionDetail" nillable="true" type="tns:ArrayOfTransactionDetail" />
  <xs:complexType name="TransactionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Credit" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction" nillable="true" type="tns:Transaction" />
      <xs:element minOccurs="0" name="TransactionDetailID" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionDetailStatu" nillable="true" type="tns:TransactionDetailStatus" />
      <xs:element minOccurs="0" name="TransactionDetailStatusID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionDetail" nillable="true" type="tns:TransactionDetail" />
  <xs:complexType name="TransactionDetailStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactionDetailStatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionDetailStatusDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionDetailStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionDetails" nillable="true" type="tns:ArrayOfTransactionDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionDetailStatus" nillable="true" type="tns:TransactionDetailStatus" />
  <xs:complexType name="TransactionStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactionStatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionStatusDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="Transactions" nillable="true" type="tns:ArrayOfTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionStatus" nillable="true" type="tns:TransactionStatus" />
</xs:schema>