SmileSPresentation/SmileClaimV1/Service References/ClaimService_PH/ClaimService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="usp_CountOPDByApp_YearFormat_select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="OPD_All" type="xs:int" />
      <xs:element minOccurs="0" name="OPD_Net" type="xs:int" />
      <xs:element minOccurs="0" name="OPD_Used" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_CountOPDByApp_YearFormat_select_Result" nillable="true" type="tns:usp_CountOPDByApp_YearFormat_select_Result" />
</xs:schema>