SmileSPresentation/SmileClaimV1/Service References/ClaimService_PH/ClaimService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52745/Module/Claim/ClaimService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" />
  <xs:element name="GetCountOPD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_applicationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountOPDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmileSPHService.Model" minOccurs="0" name="GetCountOPDResult" nillable="true" type="q1:usp_CountOPDByApp_YearFormat_select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClaimPH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_applicationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_hospitalID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_claimtypeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_claimadmittypeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_datehappen" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_productID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_insurancecompanyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_chiefcomplainID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_statusID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_createdbyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_continuefromclaimID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_agentID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_chiefcomplainanswer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ICD10_1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ICD10_2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ICD10_3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_remark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_overfromcompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_denycauseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_receiptstatusID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_sendinsurancestatusID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_payhospitalcashheaderID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_claimheadergroupID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_approvedbyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_claimpaybyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hospitalClaimInformCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_iscontinue" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="_datenotice" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_ageatclaim_year" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_ageatclaim_month" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_ageatclaim_day" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_ageappatclaim_year" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_ageappatclaim_month" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_ageappatclaim_day" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_iswalkoutclaim" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="_ischiefcomplainwarning" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="_iscontinueclaimwarning" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="_isexgratia" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="_isnoDCRwarning" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="_ispaycenter" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="_approveddate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClaimPHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateClaimPHResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusClaimNotUse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClaimID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusClaimNotUseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusClaimNotUseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>