SmileSPresentation/SmileSUnderwrite/Connected Services/SmileSPAService/ApplicationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ApplicationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.100.15:9686/Module/Application/ApplicationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.100.15:9686/Module/Application/ApplicationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.100.15:9686/Module/Application/ApplicationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSPAService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplicationService_ApplicationSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplicationSearch" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_ApplicationSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplicationSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_ApplicationSearchHeaderInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplicationSearchHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_ApplicationSearchHeaderInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplicationSearchHeaderInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_CustomerSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerSearch" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_CustomerSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetCustomerDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDetail" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetCustomerDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetCoverageByBenefitID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCoverageByBenefitID" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetCoverageByBenefitID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoverageByBenefitIDResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetCustomerBenefitDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerBenefitDetail" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetCustomerBenefitDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerBenefitDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetCustomerSearchHeaderInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerSearchHeaderInfo" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetCustomerSearchHeaderInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerSearchHeaderInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationYear_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationYear" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationYear_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationYearResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationDetailByApplicationID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationDetailByApplicationID" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationDetailByApplicationID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationDetailByApplicationIDResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationDetailForPAUnderwrite_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationDetailForPAUnderwrite" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationDetailForPAUnderwrite_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationDetailForPAUnderwriteResponse" />
  </wsdl:message>
  <wsdl:portType name="IApplicationService">
    <wsdl:operation name="ApplicationSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/ApplicationSearch" message="tns:IApplicationService_ApplicationSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/ApplicationSearchResponse" message="tns:IApplicationService_ApplicationSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplicationSearchHeaderInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/ApplicationSearchHeaderInfo" message="tns:IApplicationService_ApplicationSearchHeaderInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/ApplicationSearchHeaderInfoResponse" message="tns:IApplicationService_ApplicationSearchHeaderInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/CustomerSearch" message="tns:IApplicationService_CustomerSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/CustomerSearchResponse" message="tns:IApplicationService_CustomerSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetCustomerDetail" message="tns:IApplicationService_GetCustomerDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetCustomerDetailResponse" message="tns:IApplicationService_GetCustomerDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCoverageByBenefitID">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetCoverageByBenefitID" message="tns:IApplicationService_GetCoverageByBenefitID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetCoverageByBenefitIDResponse" message="tns:IApplicationService_GetCoverageByBenefitID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerBenefitDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetCustomerBenefitDetail" message="tns:IApplicationService_GetCustomerBenefitDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetCustomerBenefitDetailResponse" message="tns:IApplicationService_GetCustomerBenefitDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerSearchHeaderInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetCustomerSearchHeaderInfo" message="tns:IApplicationService_GetCustomerSearchHeaderInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetCustomerSearchHeaderInfoResponse" message="tns:IApplicationService_GetCustomerSearchHeaderInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationYear">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationYear" message="tns:IApplicationService_GetApplicationYear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationYearResponse" message="tns:IApplicationService_GetApplicationYear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationDetailByApplicationID">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationDetailByApplicationID" message="tns:IApplicationService_GetApplicationDetailByApplicationID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationDetailByApplicationIDResponse" message="tns:IApplicationService_GetApplicationDetailByApplicationID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationDetailForPAUnderwrite">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationDetailForPAUnderwrite" message="tns:IApplicationService_GetApplicationDetailForPAUnderwrite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationDetailForPAUnderwriteResponse" message="tns:IApplicationService_GetApplicationDetailForPAUnderwrite_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IApplicationService" type="tns:IApplicationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ApplicationSearch">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/ApplicationSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplicationSearchHeaderInfo">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/ApplicationSearchHeaderInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerSearch">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/CustomerSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDetail">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetCustomerDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCoverageByBenefitID">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetCoverageByBenefitID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerBenefitDetail">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetCustomerBenefitDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerSearchHeaderInfo">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetCustomerSearchHeaderInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationYear">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetApplicationYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationDetailByApplicationID">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetApplicationDetailByApplicationID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationDetailForPAUnderwrite">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetApplicationDetailForPAUnderwrite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplicationService">
    <wsdl:port name="BasicHttpBinding_IApplicationService" binding="tns:BasicHttpBinding_IApplicationService">
      <soap:address location="http://192.168.100.15:9686/Module/Application/ApplicationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>