SmileSPresentation/SmileUnderwriteBranchV2/Connected Services/SSSDocService/DocumentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://operation.siamsmile.co.th:9208/Module/Document/DocumentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSDocService.Model" />
  <xs:element name="GetDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="indexStart" type="xs:int" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmileSDocService.Model" minOccurs="0" name="GetDocumentResult" nillable="true" type="q1:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Document_Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchId" type="xs:int" />
        <xs:element minOccurs="0" name="documentDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attachmentUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData5" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData6" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData7" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData8" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData9" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData10" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Document_TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_Document_TestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Document_PHNewApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchId" type="xs:int" />
        <xs:element minOccurs="0" name="documentDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attachmentUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData5" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData6" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData7" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Document_PHNewAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_Document_PHNewAppResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Document_PHStatement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchId" type="xs:int" />
        <xs:element minOccurs="0" name="documentDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attachmentUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData5" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Document_PHStatementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_Document_PHStatementResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Document_PA30NewApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchId" type="xs:int" />
        <xs:element minOccurs="0" name="documentDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attachmentUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData5" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Document_PA30NewAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_Document_PA30NewAppResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Document_LifeNewApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchId" type="xs:int" />
        <xs:element minOccurs="0" name="documentDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attachmentUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData5" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData6" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Document_LifeNewAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_Document_LifeNewAppResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Document_LifeETC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchId" type="xs:int" />
        <xs:element minOccurs="0" name="documentDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attachmentUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentIndexData5" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_Document_LifeETCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_Document_LifeETCResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentFileId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDocumentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmileSDocService.Model" minOccurs="0" name="GetDocumentV2Result" nillable="true" type="q2:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentV2SmileDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentV2SmileDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmileSDocService.Model" minOccurs="0" name="GetDocumentV2SmileDocResult" nillable="true" type="q3:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileURLByDocumentFileCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentFileCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileURLByDocumentFileCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmileSDocService.Model" minOccurs="0" name="GetFileURLByDocumentFileCodeResult" nillable="true" type="q4:SSSDocResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>