SmileSPresentation/SmileSParameter/Service References/SMSService/SmileSMSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmileSMSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://49.231.178.249:9679/SmileSMSService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://49.231.178.249:9679/SmileSMSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://49.231.178.249:9679/SmileSMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSSMSService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISmileSMSService_GetCredit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCredit" />
  </wsdl:message>
  <wsdl:message name="ISmileSMSService_GetCredit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCreditResponse" />
  </wsdl:message>
  <wsdl:message name="ISmileSMSService_SendSMS_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSMS" />
  </wsdl:message>
  <wsdl:message name="ISmileSMSService_SendSMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="ISmileSMSService_GetTransactionNotDeliveryNotify_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionNotDeliveryNotify" />
  </wsdl:message>
  <wsdl:message name="ISmileSMSService_GetTransactionNotDeliveryNotify_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionNotDeliveryNotifyResponse" />
  </wsdl:message>
  <wsdl:message name="ISmileSMSService_SendSMSWithFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSMSWithFile" />
  </wsdl:message>
  <wsdl:message name="ISmileSMSService_SendSMSWithFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSMSWithFileResponse" />
  </wsdl:message>
  <wsdl:message name="ISmileSMSService_SendSMS_Outbound_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSMS_Outbound" />
  </wsdl:message>
  <wsdl:message name="ISmileSMSService_SendSMS_Outbound_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSMS_OutboundResponse" />
  </wsdl:message>
  <wsdl:message name="ISmileSMSService_Get_LogSMS_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_LogSMS" />
  </wsdl:message>
  <wsdl:message name="ISmileSMSService_Get_LogSMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_LogSMSResponse" />
  </wsdl:message>
  <wsdl:portType name="ISmileSMSService">
    <wsdl:operation name="GetCredit">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmileSMSService/GetCredit" message="tns:ISmileSMSService_GetCredit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmileSMSService/GetCreditResponse" message="tns:ISmileSMSService_GetCredit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmileSMSService/SendSMS" message="tns:ISmileSMSService_SendSMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmileSMSService/SendSMSResponse" message="tns:ISmileSMSService_SendSMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionNotDeliveryNotify">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmileSMSService/GetTransactionNotDeliveryNotify" message="tns:ISmileSMSService_GetTransactionNotDeliveryNotify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmileSMSService/GetTransactionNotDeliveryNotifyResponse" message="tns:ISmileSMSService_GetTransactionNotDeliveryNotify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSMSWithFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmileSMSService/SendSMSWithFile" message="tns:ISmileSMSService_SendSMSWithFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmileSMSService/SendSMSWithFileResponse" message="tns:ISmileSMSService_SendSMSWithFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSMS_Outbound">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmileSMSService/SendSMS_Outbound" message="tns:ISmileSMSService_SendSMS_Outbound_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmileSMSService/SendSMS_OutboundResponse" message="tns:ISmileSMSService_SendSMS_Outbound_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_LogSMS">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmileSMSService/Get_LogSMS" message="tns:ISmileSMSService_Get_LogSMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmileSMSService/Get_LogSMSResponse" message="tns:ISmileSMSService_Get_LogSMS_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISmileSMSService" type="tns:ISmileSMSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCredit">
      <soap:operation soapAction="http://tempuri.org/ISmileSMSService/GetCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="http://tempuri.org/ISmileSMSService/SendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionNotDeliveryNotify">
      <soap:operation soapAction="http://tempuri.org/ISmileSMSService/GetTransactionNotDeliveryNotify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMSWithFile">
      <soap:operation soapAction="http://tempuri.org/ISmileSMSService/SendSMSWithFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS_Outbound">
      <soap:operation soapAction="http://tempuri.org/ISmileSMSService/SendSMS_Outbound" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_LogSMS">
      <soap:operation soapAction="http://tempuri.org/ISmileSMSService/Get_LogSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmileSMSService">
    <wsdl:port name="BasicHttpBinding_ISmileSMSService" binding="tns:BasicHttpBinding_ISmileSMSService">
      <soap:address location="http://49.231.178.249:9679/SmileSMSService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>