SmileSPresentation/SmileSParameter/Service References/SMSService/SmileSMSService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://49.231.178.249:9679/SmileSMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSSMSService" />
  <xs:element name="GetCredit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmileSSMSService" minOccurs="0" name="GetCreditResult" nillable="true" type="q1:ArrayOfCreditRemain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmileSSMSService" minOccurs="0" name="sms" nillable="true" type="q2:SMS" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmileSSMSService" minOccurs="0" name="lstEmpPhone" nillable="true" type="q3:ArrayOfEmpPhone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmileSSMSService" minOccurs="0" name="SendSMSResult" nillable="true" type="q4:ArrayOfSendSMS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionNotDeliveryNotify">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionNotDeliveryNotifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTransactionNotDeliveryNotifyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMSWithFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmileSSMSService" minOccurs="0" name="sms" nillable="true" type="q5:SMS" />
        <xs:element minOccurs="0" name="pathFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sheetName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OneToOne" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMSWithFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SmileSSMSService" minOccurs="0" name="SendSMSWithFileResult" nillable="true" type="q6:ArrayOfEmpPhone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMS_Outbound">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SectionID" type="xs:int" />
        <xs:element minOccurs="0" name="CreateBy" type="xs:int" />
        <xs:element minOccurs="0" name="SMSTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMS_OutboundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendSMS_OutboundResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_LogSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransactionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_LogSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SmileSSMSService" minOccurs="0" name="Get_LogSMSResult" nillable="true" type="q7:ArrayOfReceiverResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>