SmileSPresentation/SmileSParameter/Service References/SMSService/SmileSMSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileSSMSService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileSSMSService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCreditRemain">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditRemain" nillable="true" type="tns:CreditRemain" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditRemain" nillable="true" type="tns:ArrayOfCreditRemain" />
  <xs:complexType name="CreditRemain">
    <xs:sequence>
      <xs:element minOccurs="0" name="credit" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="expire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditRemain" nillable="true" type="tns:CreditRemain" />
  <xs:complexType name="SMS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedByID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Receivers" nillable="true" type="tns:ArrayOfReceiver" />
      <xs:element minOccurs="0" name="SMSID" type="xs:int" />
      <xs:element minOccurs="0" name="SMSType" nillable="true" type="tns:SMSType" />
      <xs:element minOccurs="0" name="SMSTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Section" nillable="true" type="tns:Section" />
      <xs:element minOccurs="0" name="SectionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SendDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="tns:Sender" />
      <xs:element minOccurs="0" name="SenderID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Transactions" nillable="true" type="tns:ArrayOfTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMS" nillable="true" type="tns:SMS" />
  <xs:complexType name="ArrayOfReceiver">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Receiver" nillable="true" type="tns:Receiver" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceiver" nillable="true" type="tns:ArrayOfReceiver" />
  <xs:complexType name="Receiver">
    <xs:sequence>
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverID" type="xs:int" />
      <xs:element minOccurs="0" name="SM" nillable="true" type="tns:SMS" />
      <xs:element minOccurs="0" name="SMSID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Receiver" nillable="true" type="tns:Receiver" />
  <xs:complexType name="SMSType">
    <xs:sequence>
      <xs:element minOccurs="0" name="SMS" nillable="true" type="tns:ArrayOfSMS" />
      <xs:element minOccurs="0" name="SMSTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SMSTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMSType" nillable="true" type="tns:SMSType" />
  <xs:complexType name="ArrayOfSMS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SMS" nillable="true" type="tns:SMS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSMS" nillable="true" type="tns:ArrayOfSMS" />
  <xs:complexType name="Section">
    <xs:sequence>
      <xs:element minOccurs="0" name="SMS" nillable="true" type="tns:ArrayOfSMS" />
      <xs:element minOccurs="0" name="SectionDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Section" nillable="true" type="tns:Section" />
  <xs:complexType name="Sender">
    <xs:sequence>
      <xs:element minOccurs="0" name="SMS" nillable="true" type="tns:ArrayOfSMS" />
      <xs:element minOccurs="0" name="SenderDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sender" nillable="true" type="tns:Sender" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GetDeliveryNotify" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReferenceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SM" nillable="true" type="tns:SMS" />
      <xs:element minOccurs="0" name="SMSID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SumPhone" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionDetails" nillable="true" type="tns:ArrayOfTransactionDetail" />
      <xs:element minOccurs="0" name="TransactionID" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionStatu" nillable="true" type="tns:TransactionStatu" />
      <xs:element minOccurs="0" name="TransactionStatusID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UsedCredit" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="ArrayOfTransactionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionDetail" nillable="true" type="tns:TransactionDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionDetail" nillable="true" type="tns:ArrayOfTransactionDetail" />
  <xs:complexType name="TransactionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Credit" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction" nillable="true" type="tns:Transaction" />
      <xs:element minOccurs="0" name="TransactionDetailID" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionDetailStatu" nillable="true" type="tns:TransactionDetailStatu" />
      <xs:element minOccurs="0" name="TransactionDetailStatusID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionDetail" nillable="true" type="tns:TransactionDetail" />
  <xs:complexType name="TransactionDetailStatu">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactionDetailStatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionDetailStatusDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionDetailStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionDetails" nillable="true" type="tns:ArrayOfTransactionDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionDetailStatu" nillable="true" type="tns:TransactionDetailStatu" />
  <xs:complexType name="TransactionStatu">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactionStatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionStatusDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="Transactions" nillable="true" type="tns:ArrayOfTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionStatu" nillable="true" type="tns:TransactionStatu" />
  <xs:complexType name="ArrayOfEmpPhone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpPhone" nillable="true" type="tns:EmpPhone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpPhone" nillable="true" type="tns:ArrayOfEmpPhone" />
  <xs:complexType name="EmpPhone">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmpID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpPhone" nillable="true" type="tns:EmpPhone" />
  <xs:complexType name="ArrayOfSendSMS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SendSMS" nillable="true" type="tns:SendSMS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSendSMS" nillable="true" type="tns:ArrayOfSendSMS" />
  <xs:complexType name="SendSMS">
    <xs:sequence>
      <xs:element minOccurs="0" name="detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sumphone" type="xs:int" />
      <xs:element minOccurs="0" name="transection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usedcredit" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendSMS" nillable="true" type="tns:SendSMS" />
  <xs:complexType name="ArrayOfReceiverResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReceiverResult" nillable="true" type="tns:ReceiverResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceiverResult" nillable="true" type="tns:ArrayOfReceiverResult" />
  <xs:complexType name="ReceiverResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiverResult" nillable="true" type="tns:ReceiverResult" />
</xs:schema>