SmileSPresentation/SmileSUnderwriteAudit/Connected Services/UnderwriteBranchService/UnderwriteBranchService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UnderwriteBranchService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://operation.siamsmile.co.th:9214/WCFServices/UnderwriteBranchService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://operation.siamsmile.co.th:9214/WCFServices/UnderwriteBranchService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://operation.siamsmile.co.th:9214/WCFServices/UnderwriteBranchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSUnderwriteRESTfulService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUnderwriteBranchService_Set_PHQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_PHQueue" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Set_PHQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_PHQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Set_PHQueueIsActive_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_PHQueueIsActive" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Set_PHQueueIsActive_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_PHQueueIsActiveResponse" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Set_PHQueueAppCode_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_PHQueueAppCode" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Set_PHQueueAppCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_PHQueueAppCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Set_PHQueueDCRCancel_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_PHQueueDCRCancel" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Set_PHQueueDCRCancel_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_PHQueueDCRCancelResponse" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Set_PHQueueDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_PHQueueDetail" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Set_PHQueueDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_PHQueueDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Set_PHQueuePayerAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_PHQueuePayerAddress" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Set_PHQueuePayerAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_PHQueuePayerAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Get_PHQueueDetailByAppCode_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_PHQueueDetailByAppCode" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Get_PHQueueDetailByAppCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_PHQueueDetailByAppCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Get_PayerOtherAppByAppCode_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_PayerOtherAppByAppCode" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Get_PayerOtherAppByAppCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_PayerOtherAppByAppCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Get_PHQueueExpireDaysConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_PHQueueExpireDaysConfig" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Get_PHQueueExpireDaysConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_PHQueueExpireDaysConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Set_PHQueueUnderwrite_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_PHQueueUnderwrite" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Set_PHQueueUnderwrite_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_PHQueueUnderwriteResponse" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Set_PHQueueChangePeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_PHQueueChangePeriod" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Set_PHQueueChangePeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_PHQueueChangePeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IUnderwriteBranchService_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="IUnderwriteBranchService">
    <wsdl:operation name="Set_PHQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Set_PHQueue" message="tns:IUnderwriteBranchService_Set_PHQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Set_PHQueueResponse" message="tns:IUnderwriteBranchService_Set_PHQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_PHQueueIsActive">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Set_PHQueueIsActive" message="tns:IUnderwriteBranchService_Set_PHQueueIsActive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Set_PHQueueIsActiveResponse" message="tns:IUnderwriteBranchService_Set_PHQueueIsActive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_PHQueueAppCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Set_PHQueueAppCode" message="tns:IUnderwriteBranchService_Set_PHQueueAppCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Set_PHQueueAppCodeResponse" message="tns:IUnderwriteBranchService_Set_PHQueueAppCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_PHQueueDCRCancel">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Set_PHQueueDCRCancel" message="tns:IUnderwriteBranchService_Set_PHQueueDCRCancel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Set_PHQueueDCRCancelResponse" message="tns:IUnderwriteBranchService_Set_PHQueueDCRCancel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_PHQueueDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Set_PHQueueDetail" message="tns:IUnderwriteBranchService_Set_PHQueueDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Set_PHQueueDetailResponse" message="tns:IUnderwriteBranchService_Set_PHQueueDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_PHQueuePayerAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Set_PHQueuePayerAddress" message="tns:IUnderwriteBranchService_Set_PHQueuePayerAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Set_PHQueuePayerAddressResponse" message="tns:IUnderwriteBranchService_Set_PHQueuePayerAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_PHQueueDetailByAppCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Get_PHQueueDetailByAppCode" message="tns:IUnderwriteBranchService_Get_PHQueueDetailByAppCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Get_PHQueueDetailByAppCodeResponse" message="tns:IUnderwriteBranchService_Get_PHQueueDetailByAppCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_PayerOtherAppByAppCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Get_PayerOtherAppByAppCode" message="tns:IUnderwriteBranchService_Get_PayerOtherAppByAppCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Get_PayerOtherAppByAppCodeResponse" message="tns:IUnderwriteBranchService_Get_PayerOtherAppByAppCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_PHQueueExpireDaysConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Get_PHQueueExpireDaysConfig" message="tns:IUnderwriteBranchService_Get_PHQueueExpireDaysConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Get_PHQueueExpireDaysConfigResponse" message="tns:IUnderwriteBranchService_Get_PHQueueExpireDaysConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_PHQueueUnderwrite">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Set_PHQueueUnderwrite" message="tns:IUnderwriteBranchService_Set_PHQueueUnderwrite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Set_PHQueueUnderwriteResponse" message="tns:IUnderwriteBranchService_Set_PHQueueUnderwrite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_PHQueueChangePeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Set_PHQueueChangePeriod" message="tns:IUnderwriteBranchService_Set_PHQueueChangePeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Set_PHQueueChangePeriodResponse" message="tns:IUnderwriteBranchService_Set_PHQueueChangePeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnderwriteBranchService/Test" message="tns:IUnderwriteBranchService_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnderwriteBranchService/TestResponse" message="tns:IUnderwriteBranchService_Test_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUnderwriteBranchService" type="tns:IUnderwriteBranchService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Set_PHQueue">
      <soap:operation soapAction="http://tempuri.org/IUnderwriteBranchService/Set_PHQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_PHQueueIsActive">
      <soap:operation soapAction="http://tempuri.org/IUnderwriteBranchService/Set_PHQueueIsActive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_PHQueueAppCode">
      <soap:operation soapAction="http://tempuri.org/IUnderwriteBranchService/Set_PHQueueAppCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_PHQueueDCRCancel">
      <soap:operation soapAction="http://tempuri.org/IUnderwriteBranchService/Set_PHQueueDCRCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_PHQueueDetail">
      <soap:operation soapAction="http://tempuri.org/IUnderwriteBranchService/Set_PHQueueDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_PHQueuePayerAddress">
      <soap:operation soapAction="http://tempuri.org/IUnderwriteBranchService/Set_PHQueuePayerAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_PHQueueDetailByAppCode">
      <soap:operation soapAction="http://tempuri.org/IUnderwriteBranchService/Get_PHQueueDetailByAppCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_PayerOtherAppByAppCode">
      <soap:operation soapAction="http://tempuri.org/IUnderwriteBranchService/Get_PayerOtherAppByAppCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_PHQueueExpireDaysConfig">
      <soap:operation soapAction="http://tempuri.org/IUnderwriteBranchService/Get_PHQueueExpireDaysConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_PHQueueUnderwrite">
      <soap:operation soapAction="http://tempuri.org/IUnderwriteBranchService/Set_PHQueueUnderwrite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_PHQueueChangePeriod">
      <soap:operation soapAction="http://tempuri.org/IUnderwriteBranchService/Set_PHQueueChangePeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IUnderwriteBranchService/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UnderwriteBranchService">
    <wsdl:port name="BasicHttpBinding_IUnderwriteBranchService" binding="tns:BasicHttpBinding_IUnderwriteBranchService">
      <soap:address location="http://operation.siamsmile.co.th:9214/WCFServices/UnderwriteBranchService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>