SmileSPresentation/SmileSUnderwriteAudit/Connected Services/UnderwriteBranchService/UnderwriteBranchService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileSUnderwriteRESTfulService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileSUnderwriteRESTfulService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="usp_PHQueueByAppCode_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssignDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AssignToEmployeeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssignToEmployeeFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssignToUserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BankDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CMIsApprove" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CMIsApprovePassCondition" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CallStatusId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CallToCustomer" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CallToPayer" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ClosedByUserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClosedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedByUserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerBirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImportQueueDetailId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsFoundCustomer" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="OccupationDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationLevelDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHQueueId" type="xs:int" />
      <xs:element minOccurs="0" name="PHQueueStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHQueueStatusId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PayMethodType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PayMethodTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerBankAccountNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerBankId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PayerBirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PayerDistrictId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PayerFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerOccupationLevelId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PayerOfficeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerOfficeTelephoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerRelate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerTelephoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Period" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PeriodTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Premium" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ProductDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="QueueCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueueExpireDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="QueueTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReferenceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartCoverDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StudyArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudyAreaId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UnderwriteBranchResult" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="UnderwriteDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UnderwriteEmployeeFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnderwriteRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnderwriteResult" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="UnderwriteUserID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdatedByUserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdatedDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_PHQueueByAppCode_Select_Result" nillable="true" type="tns:usp_PHQueueByAppCode_Select_Result" />
  <xs:complexType name="ArrayOfusp_UnderwriteBranch_PayerOtherAppByAppCode_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_UnderwriteBranch_PayerOtherAppByAppCode_Select_Result" nillable="true" type="tns:usp_UnderwriteBranch_PayerOtherAppByAppCode_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_UnderwriteBranch_PayerOtherAppByAppCode_Select_Result" nillable="true" type="tns:ArrayOfusp_UnderwriteBranch_PayerOtherAppByAppCode_Select_Result" />
  <xs:complexType name="usp_UnderwriteBranch_PayerOtherAppByAppCode_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="app_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="payerFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="payerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startCoverDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_UnderwriteBranch_PayerOtherAppByAppCode_Select_Result" nillable="true" type="tns:usp_UnderwriteBranch_PayerOtherAppByAppCode_Select_Result" />
</xs:schema>