SmileSPresentation/SmileSMobileWebUI/Service References/FinancialDataCenterService/Financial31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfusp_PayMethodType_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_PayMethodType_Select_Result" nillable="true" type="tns:usp_PayMethodType_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_PayMethodType_Select_Result" nillable="true" type="tns:ArrayOfusp_PayMethodType_Select_Result" />
  <xs:complexType name="usp_PayMethodType_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateBy_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PayMethodTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayMethodTypeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayMethodType_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_PayMethodType_Select_Result" nillable="true" type="tns:usp_PayMethodType_Select_Result" />
  <xs:complexType name="ArrayOfusp_Bank_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_Bank_Select_Result" nillable="true" type="tns:usp_Bank_Select_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_Bank_Select_Result" nillable="true" type="tns:ArrayOfusp_Bank_Select_Result" />
  <xs:complexType name="usp_Bank_Select_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bank_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Bank_Select_Result" nillable="true" type="tns:usp_Bank_Select_Result" />
</xs:schema>