SmileSPresentation/SmileSMobileWebUI/Service References/FinancialDataCenterService/Financial32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://uat.siamsmile.co.th:9204/Module/Financial/Financial.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" />
  <xs:element name="GetPayMethodType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayMethodTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetPayMethodTypeResult" nillable="true" type="q1:ArrayOfusp_PayMethodType_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bankId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmileDataCenterService.Model" minOccurs="0" name="GetBankResult" nillable="true" type="q2:ArrayOfusp_Bank_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>