SmileSPresentation/SmileSMobileWebUI/Service References/IdentityService/SmileIdentityService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmileDataCenterService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmileDataCenterService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAspNetRoles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspNetRoles" nillable="true" type="tns:AspNetRoles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspNetRoles" nillable="true" type="tns:ArrayOfAspNetRoles" />
  <xs:complexType name="AspNetRoles">
    <xs:sequence>
      <xs:element minOccurs="0" name="AspNetUserRoles" nillable="true" type="tns:ArrayOfAspNetUserRoles" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspNetRoles" nillable="true" type="tns:AspNetRoles" />
  <xs:complexType name="ArrayOfAspNetUserRoles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspNetUserRoles" nillable="true" type="tns:AspNetUserRoles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspNetUserRoles" nillable="true" type="tns:ArrayOfAspNetUserRoles" />
  <xs:complexType name="AspNetUserRoles">
    <xs:sequence>
      <xs:element minOccurs="0" name="AspNetRoles" nillable="true" type="tns:AspNetRoles" />
      <xs:element minOccurs="0" name="AspNetUsers" nillable="true" type="tns:AspNetUsers" />
      <xs:element minOccurs="0" name="RoleId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspNetUserRoles" nillable="true" type="tns:AspNetUserRoles" />
  <xs:complexType name="AspNetUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessFailedCount" type="xs:int" />
      <xs:element minOccurs="0" name="AspNetUserClaims" nillable="true" type="tns:ArrayOfAspNetUserClaims" />
      <xs:element minOccurs="0" name="AspNetUserLogins" nillable="true" type="tns:ArrayOfAspNetUserLogins" />
      <xs:element minOccurs="0" name="AspNetUserRoles" nillable="true" type="tns:ArrayOfAspNetUserRoles" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailConfirmed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LockoutEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="LockoutEndDateUtc" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumberConfirmed" type="xs:boolean" />
      <xs:element minOccurs="0" name="SecurityStamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TwoFactorEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspNetUsers" nillable="true" type="tns:AspNetUsers" />
  <xs:complexType name="ArrayOfAspNetUserClaims">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspNetUserClaims" nillable="true" type="tns:AspNetUserClaims" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspNetUserClaims" nillable="true" type="tns:ArrayOfAspNetUserClaims" />
  <xs:complexType name="AspNetUserClaims">
    <xs:sequence>
      <xs:element minOccurs="0" name="AspNetUsers" nillable="true" type="tns:AspNetUsers" />
      <xs:element minOccurs="0" name="ClaimType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspNetUserClaims" nillable="true" type="tns:AspNetUserClaims" />
  <xs:complexType name="ArrayOfAspNetUserLogins">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspNetUserLogins" nillable="true" type="tns:AspNetUserLogins" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspNetUserLogins" nillable="true" type="tns:ArrayOfAspNetUserLogins" />
  <xs:complexType name="AspNetUserLogins">
    <xs:sequence>
      <xs:element minOccurs="0" name="AspNetUsers" nillable="true" type="tns:AspNetUsers" />
      <xs:element minOccurs="0" name="LoginProvider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspNetUserLogins" nillable="true" type="tns:AspNetUserLogins" />
  <xs:complexType name="ArrayOfAspNetUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspNetUsers" nillable="true" type="tns:AspNetUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspNetUsers" nillable="true" type="tns:ArrayOfAspNetUsers" />
</xs:schema>