SmileSPresentation/SmileUnderwriteBranchV2/Connected Services/UnderwriteBranchService/UnderwriteBranchService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://uat.siamsmile.co.th:9214/wcfservices/UnderwriteBranchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmileSUnderwriteRESTfulService.Models" />
  <xs:element name="Set_PHQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_PHQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_PHQueueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_PHQueueIsActive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_PHQueueIsActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_PHQueueIsActiveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_PHQueueAppCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationCodeRef" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationCodeSet" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_PHQueueAppCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_PHQueueAppCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_PHQueueDCRCancel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_PHQueueDCRCancelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_PHQueueDCRCancelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_PHQueueDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerFullName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerFullName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_PHQueueDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_PHQueueDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_PHQueuePayerAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerOfficeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerOfficeTelephoneNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerDistrictCode" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_PHQueuePayerAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_PHQueuePayerAddressResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PHQueueDetailByAppCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PHQueueDetailByAppCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmileSUnderwriteRESTfulService.Models" minOccurs="0" name="Get_PHQueueDetailByAppCodeResult" nillable="true" type="q1:usp_PHQueueByAppCode_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PayerOtherAppByAppCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PayerOtherAppByAppCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmileSUnderwriteRESTfulService.Models" minOccurs="0" name="Get_PayerOtherAppByAppCodeResult" nillable="true" type="q2:ArrayOfusp_UnderwriteBranch_PayerOtherAppByAppCode_Select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PHQueueExpireDaysConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PHQueueExpireDaysConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_PHQueueExpireDaysConfigResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_PHQueueUnderwrite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="underwriteResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="underwriteRemark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_PHQueueUnderwriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_PHQueueUnderwriteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_PHQueueChangePeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="periodOld" type="xs:dateTime" />
        <xs:element minOccurs="0" name="periodNew" type="xs:dateTime" />
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_PHQueueChangePeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_PHQueueChangePeriodResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>